[2015-01-30 17:42] dougwilson commented on #323
Yes, `req.app` is something added by Express and it's a public API. I use it a lot myself :)

[2015-01-30 17:59] hacksparrow commented on #323
OK then, we document it.

@oskosk please follow the documentation pattern and send a pull request. While you are at it, it would be great if you can take care of `res.app` too. Equality and liberty!

[2015-01-30 18:01] hacksparrow commented on #313
Yo! @dougwilson

[2015-01-30 18:03] dougwilson commented on #313
There seems to be a formatting issue with the code block below the deprecation message. Otherwise looks fine.

[2015-01-30 18:27] oskosk commented on #323
Great thanks!

[2015-01-30 20:31] oskosk commented on #323
Done. The Pull request #325 adds API reference for `req.app` and `res.app`. Following the docs patterns, I also commited the render `api.html` and `4x/api.html` after running make. If merged, it will also closse this issue.  Thank you

[2015-01-31 16:48] hacksparrow commented on #313
Fixed it. You will need to do a hard refresh to see the fix, though.

[2015-01-31 17:58] #313 closed, assigned to nobody

[2015-02-01 02:58] #323 closed, assigned to nobody

[2015-02-02 17:14] adamzerner opened #326 "Misleading link on http://expressjs.com/"
On http://expressjs.com/...

When you click Guide on the navbar, it takes you to http://expressjs.com/guide/error-handling.html, which I think is misleading. I thought it was the first part of the guide, but really it's the 4th out of 8 parts.

[2015-02-02 17:27] crandmck commented on #326
Yes, we re-arranged the "Guide" topics recently, but neglected to change the default.  It should be http://expressjs.com/guide/routing.html.

[2015-02-02 17:31] hacksparrow commented on #326
Fixed! Thanks for reporting.

[2015-02-02 17:31] #326 closed, assigned to nobody

[2015-02-03 00:48] adamzerner opened #328 "Spelling error"
http://expressjs.com/guide/routing.html

Under **Route paths**

"Route paths, in combination with a request method, define the endpoints at which requests can be made to. They be strings, string patterns, or regular expressions."

They **could** be strings, string patterns, or regular expressions. **could** is missing.

[2015-02-05 18:16] hacksparrow commented on #328
Fixed here - 64d9bb778a9a1256423d496a9177fc3d61bf39d2. Thanks for reporting!

[2015-02-05 18:16] #328 closed, assigned to nobody

[2015-02-10 18:58] crandmck commented on #215
This work has been merged, so closing this.

[2015-02-10 18:58] #215 closed, assigned to crandmck

[2015-02-11 19:41] dougwilson opened #333 "List a new security issue"
Now that it's been a little bit for some people to upgrade, I'm casting this to a wider audience.

Please add to the list on http://expressjs.com/advanced/security-updates.html
#4.x
## 4.11.1
- Fixed root path disclosure vulnerability in express.static, res.sendfile, and res.sendFile
## 4.10.7
- Fixed open redirect vulnerability in express.static (advisory (https://nodesecurity.io/advisories/serve

[2015-02-11 23:54] kevinburkeshyp opened #334 "when clicking on a menu item, an incorrect item is selected"
see the gif here: http://g.recordit.co/EcLR1PDhDR.gif

chrome stable, normal zoom level, browser at full screen of a 13' macbook pro.

[2015-02-12 21:31] crandmck commented on #334
I was not able to reproduce this on Chrome on my MacBook, but something wonky is happening.    Does anyone else see this?

@hacksparrow when you have a moment, pls take a look.

[2015-02-13 03:31] hacksparrow commented on #333
Updated via 387175ebd0d54b23be11d5609db7478dbe2f6f51 - [http://expressjs.com/advanced/security-updates.html](http://expressjs.com/advanced/security-updates.html)

Thanks Doug!

[2015-02-13 03:31] #333 closed, assigned to nobody

[2015-02-13 03:31] hacksparrow commented on #334
I will look into it.

[2015-02-15 16:46] hacksparrow commented on #334
Not able to reproduce either. @crandmck, can elaborate what you mean by "wonky"? It looks all good to me on my Chrome-MBP.

[2015-02-18 05:28] dougwilson opened #336 "Sunsetting 3.x series"
Now that Node.js 0.12 is out, it really is time to start sunsetting the 3.x series. I think we should accomplish this by adding a warning at the top of the 3.x docs for a while before eventually stopping support. Something in yellow/red like

After the 3.x and 4.x releases tonight/tomorrow, I am focusing on 5.0 so we should see some more information coming regarding that soon.

[2015-02-18 05:45] hacksparrow commented on #336
Added it at the top of the 3.x docs on the `jekyll` branch. Code migration to Jekyll is complete, will be switching the website to Jekyll in about ~12 hours from now.

[2015-02-18 05:49] dougwilson commented on #336
The jekyll timeline sounds fine to me :)

[2015-02-18 05:50] hacksparrow commented on #336
😄

[2015-02-19 09:57] hacksparrow commented on #336
Added - http://expressjs.com/3x/api.html

[2015-02-19 09:57] #336 closed, assigned to nobody

[2015-02-19 09:58] hacksparrow commented on #318
@crandmck we are on Jekyll now, you can close this issue.

[2015-02-19 17:47] rmg commented on #318
@hacksparrow that's awesome!

[2015-02-19 17:48] hacksparrow commented on #318
@rmg 👍

[2015-02-19 18:42] crandmck commented on #318
Great work, thank you!

[2015-02-19 18:42] #318 closed, assigned to nobody

[2015-02-22 18:30] hacksparrow commented on #334
@kevinburkeshyp I noticed an obvious behavior inconsistency and fixed it, but I am not sure if it is what you referred to. Can you confirm, if the problem still exists?

[2015-02-22 19:03] hacksparrow commented on #287
Considering our limited time and resources, we might have to just go with a directory for each language under the relevant doc directories, and have the files edited manually. Setting up proper i18n/l10n  mechanisms is going to take a lot of time, and may not be worth the effort.

A big concern is the fact that, these docs can potentially get very outdated, if they are not kept up-to-date with the

[2015-02-22 19:49] kevinburkeshyp commented on #334
On vacation for the next week without a laptop, so will have to check then.

[2015-02-23 17:20] crandmck commented on #287
I think that would be a good start.  Just a way to provide localized content would be "something" rather than "nothing" which is what we have now.

We should add a header to each language stating that the translation might not be up-to-date with the English docs, and might contain translation errors, and to always refer to the English doc for the "latesta and greatest".

[2015-02-23 17:28] hacksparrow commented on #287
Yes.

What languages do we start with? That would basically be creating the dirs.

[2015-02-23 18:30] crandmck commented on #287
Japanese, Korean, and Russian, per above.

Also please write up the steps to add a new language / directory (should be simple) so that others can add new languages as desired.  Add to the README.

[2015-02-25 19:13] hacksparrow commented on #287
A new branch [i18n](https://github.com/strongloop/expressjs.com/tree/i18n) has been created, where you can preview the work done so far.

I did some Google-translated work on Japanese and Russian so as to preview how stuff look like. Hopefully someone will edit the content to correct the mistakes.

We can start linking to the non-en docs once substantial work has been done on them.

[2015-02-25 19:19] hacksparrow commented on #287
And of course, README has been updated with the instruction for "How do I help translate the docs to a certain language?"

[2015-02-25 19:19] carloscarcamo commented on #287
+1

[2015-02-25 20:23] crandmck commented on #287
Looks good.

I overlooked Spanish, since @carloscarcamo expressed interest in translating to es.  So please add that, too.

Also, add instructions to the README for adding a new language / directory to the site.  I think that's just a matter of adding a new directory named as the ISO lang code, containing the content directories.  But we should provide explicit instructions, so someone can add a n

[2015-02-25 20:26] hacksparrow commented on #287
Already added instructions to the README. Or am I missing something here?

On Thursday, February 26, 2015, Rand McKinney notifications@github.com
wrote:

[2015-02-25 20:28] crandmck commented on #287
Oops, my bad... somehow I skimmed over that!

[2015-02-25 21:28] carloscarcamo commented on #287
I have forked the repo,  I will work on spanish translation soon :)

[2015-02-26 10:45] daxim opened #342 "links() function insufficient for attributes other than `rel`"
With [v4 `links()` function](http://expressjs.com/4x/api.html#res.links) it is not possible to set the [`type` attribute](http://tools.ietf.org/html/rfc5988#section-5.4), inter alia.

I propose that an interface variant is added where the function takes an array of objects, e.g.:

[code]

[2015-02-26 15:26] gabrielstuff opened #343 "Example of middleware static throw an error on guide/using-middleware.html"
The example provided here : http://expressjs.com/guide/using-middleware.html#middleware.built-in for static server throw an error on run.
The option object is in cause. It is written `index:true`, `index` should be either `false` or a string or an array of string.

See https://github.com/strongloop/express/issues/2567#issuecomment-76195360 for references.

Thanks

[2015-02-26 15:29] gabrielstuff commented on #343
Oops!

[2015-02-26 15:29] #343 closed, assigned to nobody

[2015-02-26 15:56] hacksparrow commented on #342
@dougwilson is this something for the [express repo](https://github.com/strongloop/express)?

[2015-02-26 18:15] dougwilson commented on #342
Yes, looks like it is.

[2015-02-26 18:27] hacksparrow commented on #342
@daxim please open the issue on the relevant repo - https://github.com/strongloop/express. This one is just for the website http://expressjs.com.

[2015-02-27 17:36] crandmck commented on #342
I am going to close this issue. @daxim please open a new issue in https://github.com/strongloop/express as requested above.

[2015-02-27 17:36] #342 closed, assigned to nobody

[2015-03-01 21:41] joepie91 opened #344 "Documentation for middleware parameter count"
Reposting from strongloop/express#2573.

---

In the past few days, I've seen two instances of #Node.js IRC users running into trouble with middleware parameters, where the parameters would not contain the expected data.

In both cases, the issue was a piece of middleware with the signature `(err, req, res)`. Due to the parameter count, Express seemingly assumes that the signature is `(req, res, n

[2015-03-02 02:56] jordonias commented on #344
@joepie91 It's documented on the first line of the error-handling page. Although I agree it could be more straightforward. http://expressjs.com/guide/error-handling.html

[2015-03-02 04:36] hacksparrow commented on #344
Thanks for the feedback, I will be improving the docs to make it more obvious.

[2015-03-02 17:11] hacksparrow commented on #344
**Error-handling middleware** has been add to http://expressjs.com/guide/using-middleware.html, make their usage more obvious.

[2015-03-02 17:11] #344 closed, assigned to nobody

[2015-03-02 19:07] joepie91 commented on #344
@hacksparrow Any chance a remark could be added to the "Error-handling middleware" section, refering to the caveat? I'd imagine that a sentence like the following could work, but perhaps you have a better idea:

As @jordonias said, it's technically already mentioned, but with the common practice in Javascript-land of leaving out superfluous arguments from callback signatures, I can understand peop

[2015-03-03 17:27] hacksparrow commented on #344
Good suggestion. Added this notice:

[2015-03-03 23:29] joepie91 commented on #344
Awesome, thanks :)

[2015-03-05 16:52] crandmck commented on #287
I believe this can be closed.  Now we just have to promote getting the content translated.

[2015-03-05 16:52] #287 closed, assigned to hacksparrow

[2015-03-05 17:02] crandmck opened #348 "Minor formatting / presentation issues with middleware guide and express.static doc"
In http://expressjs.com/guide/using-middleware.html some small formatting issues:
- Headings such as "Application level middleware" should be h2 not h3.
- In [express.static](http://expressjs.com/guide/using-middleware.html#middleware.built-in), the `options` properties should be in a table (as elsewhere) with Property, Description, Type, and Default columns

Shouldn't express.static be included i

[2015-03-12 18:25] hacksparrow opened #351 "Alternative API doc menu"
On most laptops, when the Request  menu is opened, there is no way to jump to the Response menu. The page must be scrolled till Response, to close Request and show the the Response menu. express.static is going to be affected as well.

Need to come up with a quickly-navigable menu for the API docs.

[2015-03-12 21:40] ibc opened #352 "'range' router.param rule in the doc does not work"
The doc says, in the `Router` section, that the following rule:

[code]

should match: "should start with one more alphanumeric characters, followed by two dots, and end with one more alphanumeric characters".

But it just does not work. It should be:

[code]

(as in the `app.param` section).

[2015-03-17 13:17] quiddle opened #355 "Document Usage of path-to-regexp"
In the routing and api references, it would be useful to link to the path-to-regexp project for further information on what can be done in the paths. It seems like those documents are written assuming that the reader knows what's happening behind the scenes. It might be useful to link to the [Express routing tester](http://forbeslindesay.github.io/express-route-tester/) as well.

Specifically, I w

[2015-03-17 15:32] hacksparrow commented on #355
Good suggestion.

Added an info box on the [routing guide](http://expressjs.com/guide/routing.html) under the **Route paths** section. Since the API doc [links to the routing guide](http://expressjs.com/4x/api.html#app.METHOD), the info box has not been added to the API doc.

[2015-03-17 15:32] #355 closed, assigned to nobody

[2015-03-17 15:34] quiddle commented on #355
Perfect. This will save me an hour next time I forget how the routes are built!

[2015-03-17 15:35] hacksparrow commented on #355
👍

[2015-03-17 15:59] hacksparrow commented on #352
Thanks for catching it. Updated the doc; found a formatting bug in the process and fixed it as well. Good to close the issue?

[2015-03-17 16:02] ibc commented on #352
Sure, thanks.

[2015-03-17 16:02] #352 closed, assigned to nobody

[2015-03-17 21:15] crandmck commented on #355
Nice. The link to Express Route Tester was broken, so I fixed it.. :-)

[2015-03-18 07:01] hacksparrow commented on #355
👍

[2015-03-19 16:07] blainsmith commented on #351
A quick fix would be to not have the menu as a fixed position so you can scroll down and click Response. I could issue a PR for this idea.

[2015-03-19 16:18] hacksparrow commented on #351
Please go ahead and take a dab at it.

[2015-03-22 08:39] #334 closed, assigned to nobody

[2015-03-22 08:39] #351 closed, assigned to nobody

[2015-03-23 14:49] panchr opened #357 "Broken anchor links on expressjs.com/api.html"
On http://expressjs.com/api.html, the side menu ("express()", "Application", "Request", "Response", "Router", and "express.static") has some broken anchor links.

For example, the "Request' links to http://expressjs.com/api.html#req instead of http://expressjs.com/api.html#request. The "Response" tab does something similar. All of the submenu items link properly as far as I can tell.

I tried to f

[2015-03-23 14:56] hacksparrow commented on #357
Thanks for pointing it out. Fixed it. The file to edit was https://github.com/strongloop/expressjs.com/blob/gh-pages/api.md.

[2015-03-23 14:56] #357 closed, assigned to nobody

[2015-03-23 19:03] crandmck commented on #348
The table in http://expressjs.com/4x/api.html#express.static looks good but:
1. Shouldn't it be under the [express()](http://expressjs.com/4x/api.html#express) header in the API docs instead of its own top-level header, since it's a method of the `express` object?
2. http://expressjs.com/guide/using-middleware.html#middleware.built-in needs to use the table from the API docs (should be able to use

[2015-03-23 19:19] hacksparrow commented on #348
Thanks for pointing them out. Just fixed all of them, except 1.

By the virtue of `static` being "attached" to `express`, it looks like it should come under the _express()_ header, but is an exception -- all other middleware have been removed from the `express` instance. Also, having a huge chunk of middleware doc right at the top disrupts the flow of understanding the framework.

My suggestion wo

[2015-03-23 20:47] crandmck commented on #348
OK, thanks, we can discuss that point.  Just looks a bit odd to me.

[2015-03-27 23:41] crandmck opened #361 "Add a “Handling File Uploads” guide?"
@jakerella asked this:

AFAIK, it's no longer in the Express docs because it comes from [multer](https://www.npmjs.com/package/multer) middleware, which is no longer "built-in" to Express.  See http://expressjs.com/guide/using-middleware.html#middleware.built-in.  Previously it was in body-parser, but it gave up on files (multipart) due to the complexities involved. `req.files` is now made availab

[2015-03-28 04:56] dougwilson commented on #361
Just in general, it didn't "give up" on multipart, only that parsing an entire multipart form up-front is a giant DoS attack risk due to the size of these forms. The only valid way to do multipart parsing is to either drop all files in the forms or use `multiparty`, `busboy` etc. directly in your route.

[2015-03-29 17:07] jakerella commented on #361
FYI, I believe it needs to be mentioned in the documentation for two reasons:
1. because next to simple url encoded post bodies, it is the most common form encoding type and people use it in just about every web application; and
2. it _is_ mentioned in the 3.x docs since it was included in the body parser... in other words, I'd like some consistency in the API docs on major version upgrades.

Yes,

[2015-03-30 19:28] hacksparrow commented on #348
@crandmck, `express.static()` has been added under `express` - http://expressjs.com/api.html#express

[2015-03-30 22:24] crandmck commented on #361
Seems reasonable to me.  @hacksparrow could you please take a stab at it?  I think just a mention and link is sufficient.

[2015-03-31 15:36] hacksparrow commented on #361
Added - http://expressjs.com/4x/api.html#req.

[2015-03-31 15:52] jakerella commented on #361
:+1:

[2015-03-31 16:12] crandmck commented on #348
Looks good.

[2015-03-31 16:12] #348 closed, assigned to hacksparrow

[2015-03-31 16:14] crandmck commented on #361
LGTM. Thanks @hacksparrow

[2015-03-31 16:14] #361 closed, assigned to nobody

[2015-03-31 17:40] dougwilson commented on #361
Please add `formidable`, `multiparty`, and `connect-multiparty`.

[2015-03-31 17:42] dougwilson commented on #361
And `pez`.

[2015-03-31 18:03] jakerella commented on #361
![Pez](https://s-media-cache-ak0.pinimg.com/236x/1d/b1/78/1db17803ac70f98bd10959b47339497f.jpg)

[2015-03-31 20:47] anissajed opened #364 "app.use / req.path need more doc"
Hello,

I just posted an issue about req.path behaviour when specifying a mountpoint to app.use on https://github.com/strongloop/express/issues/2608; it appears its behaviour is the one expected by the team, but it is not documented on http://expressjs.com/api.html

Can you add some explanations to the doc please?

[2015-04-03 13:15] hacksparrow commented on #364
Added a note about the fact - http://expressjs.com/4x/api.html#req.path. Would that have helped you?

[2015-04-03 20:09] anissajed commented on #364
It's a good start :-)
Nevertheless, on my mind that can be improved; let me suggest something a bit more verbose, like:
- **In req.path section** : The note you already wrote + a link to a (bit) longer explanation on the app section
- **In app.use section (or app.mountpath section)** : just say that req.originalUrl = req.baseUrl + req.path, so req.path always complement the mountpoint, and/or an e

[2015-04-03 20:09] #364 closed, assigned to nobody

[2015-04-05 11:42] hacksparrow commented on #364
Great suggestions, I have added the details to [app.use()](http://expressjs.com/4x/api.html#app.use) and linked it from [req.path](http://expressjs.com/4x/api.html#req.path).

Glad to hear you liked my articles. All the best!

[2015-04-10 04:45] 0neSe7en opened #369 "app.route() code is error ? [guide/routing.md]"
this code

[code]

should be

[code]

sorry for my poor English.

[2015-04-10 04:49] dougwilson commented on #369
Yes, those semicolons should not be there. It's an error from PR #362 @hacksparrow can you audit all the semicolons that were added in that PR? it looks like it may have just been a find-replace job instead of an actual "add where they need to be".

[2015-04-10 18:57] dougwilson commented on #369
Fixed by #370

[2015-04-10 18:57] #369 closed, assigned to nobody

[2015-04-11 18:44] hacksparrow commented on #361
Sorry, I missed this discussion somehow. Added all of the suggestions - http://expressjs.com/4x/api.html#req.

[2015-04-16 11:54] christianmalek opened #372 "generator page"
On [generator.md](https://github.com/strongloop/expressjs.com/blob/gh-pages/starter/generator.md) you use `node .\bin\www`. Wouldn't it be better to use `npm start`?

[2015-04-16 17:01] kevinSuttle commented on #372
I'm finding the docs between that page and http://expressjs.com/guide/migrating-4.html to be inconsistent with each other, as well as with the output of 4.12.1 of the generator itself  https://github.com/expressjs/generator

[2015-04-17 17:52] crandmck commented on #372
That seems reasonable, though of course in this case they actually do the same thing.  Since this is specifically part of the Getting Started flow, perhaps it would be nice to briefly explain that, what `npm start` actually does, and why to use it, etc, with cross-references.

@kevinSuttle Can you be more specific about what inconsistencies you see?  The Migration Guide naturally focuses on what's

[2015-04-17 19:18] kevinSuttle commented on #372
@crandmck

But then, the output is https://github.com/kevinSuttle/express-generator-socket/blob/master/bin/www#L9

[2015-04-19 16:41] hacksparrow commented on #372
@kevinSuttle the skeleton app generated by the `express` command line tool, which was installed via `npm install express-generator -g`, would not output that.

[2015-04-19 16:47] hacksparrow commented on #372
@Phisherman good suggestion. Done.

[2015-04-19 18:20] kevinSuttle commented on #372
@hacksparrow It just did. It's not like I added it for fun. :) https://github.com/kevinSuttle/express-generator-socket/commit/a45054ee20e0302f1fe4b1ec1b89510c8e8e98d5#diff-731ce67b643e6620e04781e9683be0d9R9

[2015-04-20 15:45] hacksparrow commented on #372
@Phisherman there might be a case when that happens. What's the command you are using?

Also, @dougwilson, any idea when https://github.com/expressjs/generator/blob/master/templates/js/www is used as such? I tried scanning through https://github.com/expressjs/generator/blob/master/bin/express, but could not trace the conditional; asking you might be quicker.

[2015-04-20 15:47] christianmalek commented on #372
@hacksparrow I think you referenced me falsely.

[2015-04-20 15:48] hacksparrow commented on #372
Oops, @kevinSuttle yo!

[2015-04-20 15:51] dougwilson commented on #372
Hi @hacksparrow I'm not 100% sure of the question, but `templates/js/www` is basically just copied over as `bin/www` for the user; it's always the end result `bin/www` file.

[2015-04-20 15:53] hacksparrow commented on #372
The `bin/www` file I have been getting is this:

[code]

Am I missing something?

[2015-04-20 15:58] kevinSuttle commented on #372
I just used the generator. This is what was output:

[code]

Complete project: https://cloudup.com/cqLA66Rf6-L

[2015-04-20 15:58] dougwilson commented on #372
@hacksparrow perhaps an older version of `express-generator`?

[2015-04-20 15:59] kevinSuttle commented on #372
[code]

[2015-04-20 15:59] kevinSuttle commented on #372
[code]

[2015-04-20 16:37] hacksparrow commented on #372
Ok,  it was a case of `express-generator` not getting updated for some reason. Fixed it.

@dougwilson, considering the implementation of `app.listen()`, why not `var server = app.listen(port)` instead of `var server = http.createServer(app)`?

Is there any advantage of `var server = http.createServer(app)` over `var server = app.listen(port)`?

`var server = app.listen(port)` would keep `http` at

[2015-04-20 16:41] dougwilson commented on #372
It gives people a starting point to using socket.io/SPDY/HTTPS in the generator easily. The change was a result from overwhelming user feedback on the generator, so we won't be changing it back to `app.listen`.

[2015-04-20 19:36] kevinSuttle commented on #372
@dougwilson YES. That's exactly why I was so happy about this update. Attaching socket.io became a lot easier.

[2015-04-21 12:00] hacksparrow commented on #372
Make sense, updated the docs accordingly. Thanks @kevinSuttle  and @dougwilson.

[2015-04-21 12:00] #372 closed, assigned to nobody

[2015-04-21 15:29] kevinSuttle commented on #372
Thanks @dougwilson @hacksparrow!

[2015-04-23 18:38] crandmck commented on #311
@dougwilson Any sense when a 5.x beta will be forthcoming?  I think there was discussion of this some time ago, but I wanted to check on the status now.  Just trying to do some effort planning, as work on current version has settled down for the most part.

[2015-04-23 18:44] dougwilson commented on #311
So the long story short on that is that I didn't want to get in the situation of maintaining three major versions all at once. So I realized that and held back 5.0 for a while and had @hacksparrow add the notice on http://expressjs.com/3x/api.html ; I'll say that July is the target for the final 5.0 release and I want to get an alpha2 out this month and then I was going to ping you guys :) Basical

[2015-04-23 18:46] hacksparrow commented on #311
I am ready for the docs anytime :)

[2015-04-23 21:11] crandmck commented on #311
Thanks, that is very helpful!

[2015-04-26 07:19] dougwilson opened #376 "Expand the behind proxy guide page"
I just noticed the page http://expressjs.com/guide/behind-proxies.html (kudos!), though I find it pretty lacking. Mainly, it does not mention (or even link to/acknowledge the existence of) all the different `trust proxy` values that can be found in http://expressjs.com/4x/api.html#app.set

I almost feel like this guide page should be the main page with all the information (since there is a lot) so

[2015-04-26 07:48] hacksparrow commented on #376
Agreed, more details would be helpful. Just created a new branch [proxydocs](https://github.com/strongloop/expressjs.com/tree/proxydocs).

[2015-04-26 07:59] hacksparrow commented on #376
Will be pushing the first draft in a while.

[2015-04-27 16:09] crandmck commented on #376
Good suggestion.  I had actually meant to do this when we re-worked the API docs, but it slipped through the cracks.  Thanks for catching, @dougwilson

[2015-04-28 15:09] hacksparrow commented on #376
@dougwilson I just pushed the update to the proxydocs branch. Please take a look at it.

[2015-04-30 16:47] hacksparrow commented on #376
Merged the changes and published - http://expressjs.com/guide/behind-proxies.html.

The proxydocs branch is intact, @dougwilson please add/edit whatever you think is necessary.

[2015-04-30 17:01] dougwilson commented on #376
Thanks, @hacksparrow ! I do have some stuff I want to add, but with the branch there, I can make a PR :) and it's looked better now in the meantime :D

[2015-04-30 17:01] #376 closed, assigned to nobody

[2015-04-30 17:21] hacksparrow commented on #376
👍

[2015-04-30 17:23] crandmck opened #377 "Add new article to "Advanced Topics" : "Deploying Express in production""
Or maybe just "Deploying to production" (?)  Describe the basic considerations when moving to production, and using tools such as StrongLoop Process Manager, pm2, and Forever.

[2015-04-30 18:16] altsang commented on #377
Proposed Outline:

# Running Express in Production - header

(background paragraph - why you want to consider this)

# Popular/Leading Choices - header

## Strong-PM

(summary paragraph - with links)

## PM2

(summary paragraph - with links)

## Forever

(summary paragraph - with links)

call to action for additional submissions with PRs

[2015-04-30 21:23] crandmck commented on #377
@altsang Thanks, I moved the draft to the wiki for ease of use: https://github.com/strongloop/expressjs.com/wiki/Working-draft:-%22Running-Express-in-Production%22

[2015-05-04 20:30] anissajed opened #379 "named parameters section need more doc"
Hello,

I posted an issue about a named parameters when using regex to capture them on https://github.com/strongloop/express/issues/2635; it looks like the named parameters section in Express documentation API could be improved by adding the path-to-regexp rules implemented in the version used by express.

Can you add some lines on what patterns are authorized (and what are not) to the doc please?

[2015-05-05 18:35] crandmck commented on #379
@strawhatgami That's a good suggestion.

It would be awesome if you could suggest specifically what should be added, since you are up on the details.  Even more awesome would be if you would make a PR for the change.  Thanks!

[2015-05-06 12:00] anissajed commented on #379
@crandmck Your propositions looks highly relevant, so allow me to suggest for my case specifically:
add to the section **app.params**, near the first mention of the capture of named parameters by regexp something like:
"
`.` can't be used to caputure a character in your capturing regexp. Use `[\\s\\S]` or `[\\w\\W]` instead.
Exemples:

[code]

"

However I supposed somebody watching this repositor

[2015-05-06 23:34] crandmck commented on #379
@strawhatgami I think we can certainly wait for your PR. Thanks!

Naturally, input from anyone familiar with path-to-regexp is welcome as well.

[2015-05-07 16:11] crandmck commented on #377
@hacksparrow Can you add something to the wiki above on how to use pm2 and forever?

[2015-05-15 22:16] crandmck commented on #379
@strawhatgami Do you think you'll have a chance to make a PR?

[2015-05-16 12:05] anissajed commented on #379
@crandmck It was always planned!

Sorry to make you wait, but I had not much time to make my app evolve those last days. It's a personnal project I develop only on spare time, and that's not the only hobby I had.

Now I see there is not many things to add to my previous proposition; I'll submit it as it is, I think, unless you see anything to add?

[2015-05-17 12:11] #379 closed, assigned to nobody

[2015-05-18 21:23] crandmck commented on #379
Thanks!!

[2015-05-27 01:01] sean3z opened #388 "router.param() regex validation"
The express 4x api docs claim that you can pass regex as a second argument to [`router.param`](http://expressjs.com/4x/api.html#router.param) in order validate params.

It then provides the following examples.

[code]

But, this doesn't actually seem to work. Taking a deeper dive, it doesn't look as if the [code](https://github.com/strongloop/express/blob/4.x/lib/router/index.js#L84-L114) actually

[2015-05-27 01:13] kodypeterson commented on #388
I think you are going to have to use https://github.com/expressjs/express-params. I think the docs, that you copied, are just showing that you can use it and how.

"For example the express-params defines the following callback which allows you to restrict parameters to a given regular expression."

The docs could probably be worded a bit better to make that more clear.

[2015-05-27 01:14] dougwilson commented on #388
The docs show, right above that example, that you actually have to run this code first; the example is simply split into two different code blocks and it won't work if you only use one of the two code blocks.

[code]

@hacksparrow how can that section be made clearer? It seems like this is always a large source of questions/confusion, because people are not reading it though and realizing they nee

[2015-05-27 01:26] sean3z commented on #388
Thanks guys, having that bit more clear would certainly be helpful! I would imagine it's pretty common to skim docs on how to consume an api rather than reading every line; albeit, I probably [sh|c]ould have read more in depth in this case.

[2015-05-27 01:43] kodypeterson commented on #388
@dougwilson - Isn't that what express-params does? It seems it might be best to recommend that method as it seems the better way from a maintenance perspective for a consumer, right? Just some thoughts!

[2015-05-27 01:49] sean3z commented on #388
@kodypeterson After some research, it doesn't seem as if express-params is needed. Doug actually provides an [example](https://github.com/strongloop/express/issues/2429#issuecomment-69940675) of how to accomplish, what I assume most people are trying to accomplish the `app.params(fn)` example from the doc. I believe this is why it was deprecated in the first place.

[code]

@dougwilson perhaps thi

[2015-05-27 01:51] dougwilson commented on #388
Hi @kodypeterson the purpose of the section of the docs is to explain what `app.param(function)` does through examples; suggesting `express-params` module will not help anyone understand how to use `app.param(function)`.

@sean3z it is, right in the section labeled "The code in the next section can be migrated using the following, without the use of router.param(callback):". Erasing everything and

[2015-05-27 01:52] dougwilson commented on #388
@kodypeterson we in fact do mention the `express-params` module right there in the docs being discussed already.

[2015-05-27 01:56] dougwilson commented on #388
If it helps the discussion, instead of assuming the section is being read, I'm going to paste what is currently on the Express website right now. Please, everyone, we need help trying to make the section better explain how `router.param(callback)` works, so please provide suggestions to that section that will help (either here, or even a PR!).

[2015-05-28 13:17] hacksparrow commented on #388
@dougwilson @sean3z @kodypeterson

I agree, that section can be pretty confusing, especially with a notice box with some code in it and a reference to an external module. Let's make it as simple as possible, while still conveying the message clearly. Here is the re-write I am proposing. Everything after "router.param(callback) is deprecated as of v4.11.0." will be replace with the following.

The

[2015-05-28 14:06] dougwilson commented on #388
SGTM

[2015-05-28 14:30] hacksparrow commented on #388
Published. Please close the issue if it looks good.

[2015-05-28 17:24] sean3z commented on #388
This looks much better and should help mitigate some of the confusion!

Thanks for the quick turn around and assistance!

[2015-05-28 18:06] hacksparrow commented on #388
👍

[2015-05-28 19:51] #388 closed, assigned to nobody

[2015-05-29 19:03] crandmck commented on #377
OK, the new page is added on the `process-mgrs` branch: https://github.com/strongloop/expressjs.com/tree/process-mgrs.

@altsang @ijroth PTAL

@hacksparrow There are several small technical/layout issues for which I need your help:
- The menu item "Using process managers" wraps in the dropdown menu - can you please make the menu a bit wider so it doesn't wrap?
- To get the in-page anchors (e.g. ht

[2015-06-02 14:07] hacksparrow commented on #311
Alright guys, I will be starting work on this 🍻

[2015-06-02 15:00] 190n commented on #311
+1

[2015-06-02 15:04] dougwilson commented on #311
Cool :) So we can start from copying all 4x as 5x, then removing all things in there that are listed as deprecated.

Then there are a few new things:
- `app.router` returns the Express router instance.
- `req.host` behavior has changed; it was deprecated in 4.x but brought back to life with correct semantics in 5.x

List of technical changes at https://github.com/strongloop/express/pull/2237

[2015-06-02 15:11] hacksparrow commented on #311
Thanks @dougwilson. Pretty excited for 5.x!

I assume, whatever is not checked under **List of changes for release:** at strongloop/express#2237 is pending but would be put in place? Is the list up to date?

[2015-06-02 15:18] dougwilson commented on #311
Right, the non-checked items are ones that have not yet been committed, but are supposed to be in 5.x. The list is up to date :)

[2015-06-02 16:06] hacksparrow commented on #311
👍

[2015-06-02 16:39] hacksparrow commented on #377
Addressed all of them. The "in-page anchors" thing was a sad hack 😄

[2015-06-02 16:49] crandmck commented on #377
Thanks @hacksparrow

So I am just waiting for review by @ijroth.  I think @altsang has taken a look already.

[2015-06-02 17:11] hacksparrow commented on #377
Alright.

[2015-06-02 17:53] hacksparrow commented on #311
Progress can be tracked and contributions made on the [5.x branch](https://github.com/strongloop/expressjs.com/tree/5.x).

[2015-06-03 19:40] crandmck commented on #377
Added in PR #390.

[2015-06-03 19:40] #377 closed, assigned to crandmck

[2015-06-05 17:17] b-long opened #392 "Confusing documentation around response.end([data])"
I'm sure many people aren't confused by this, but I was so perhaps others are too.  I'm new to express so bear with me.  In reading the [guide to using middleware](http://expressjs.com/guide/using-middleware.html), I see usage of `res.end([data])`.  I initially thought `end` didn't support arguments, so I quickly go over to the [`res.end`](http://expressjs.com/4x/api.html#res.end) API docs.  The d

[2015-06-05 17:25] dougwilson commented on #392
The `res.end` actually comes from Node.js itself. It's documentation can be found at https://nodejs.org/api/http.html#http_response_end_data_encoding_callback

As for deprecating anything, that would be up to Node.js.

Our documentation links to that of Node.js, but even though it exists at the will of Node.js, we still discourage it for use for sending data, which is why we put that note in our o

[2015-06-05 17:32] b-long commented on #392
Ah, thanks so much @dougwilson ! :+1:

I think in reading [`res.end`](http://expressjs.com/4x/api.html#res.end)'s API documentation, I somehow glossed over that.  Perhaps re-wording it the way you've stated here ("_`res.end` actually comes from Node.js itself_") would be more helpful to Express newcomers, but other readers might not gloss over the way it's currently written as I did :smiley:

[2015-06-10 18:52] crandmck commented on #392
The link in our doc wasn't quite right, so I fixed that and tried to improve the wording:
http://expressjs.com/4x/api.html#res.end.

Does that clarify?

[2015-06-10 18:54] b-long commented on #392
Yes, I think that's much better :smile:   I'll close this issue if you're alright with it.  Thanks again!

[2015-06-10 18:54] #392 closed, assigned to nobody

[2015-06-10 19:06] crandmck commented on #392
Thank _you_ for helping to improve the docs!

[2015-06-11 16:33] crandmck opened #398 "Restructure site for 5.0 release (discussion)"
**NOTE**: This is a long-term planning discussion for docs for the eventual "production" release of Express 5.0.  Perhaps it's a tad premature, but IMHO better to plan early.

When v.5 moves from beta to production release, we'll need to change the docs accordingly:
- The "default" version for new users should then be 5.0, including all the material under "Getting Started" and "Guide".
- Must keep

[2015-06-13 04:15] dougwilson commented on #398
i.m.o since we are not changing any platform requirements with 5.0 (as in, it will still support Node.js 0.10) and it's just a refinement to 4.0, I would even say we should encourage 4.x users to simply switch to 5.x off the bat.

[2015-06-17 18:54] crandmck commented on #398
OK, will there be certain things that worked in 4.x but won't in 5.0, i.e. backward-incompatibility--in other words, if someone simply switches to 5.x, will there be any cases where they have to change their code for the app to continue to work as before?

[2015-06-17 20:55] dougwilson commented on #398
Yes, there will be incompatibilities.

[2015-06-19 07:51] DangelZM commented on #311
I can help with translation into Russian. I started doing it for version 4.

[2015-06-25 10:56] hacksparrow commented on #398
It might be too disruptive to simply overwrite the 4.x docs with 5.x docs. Not everyone might be in a position to upgrade to 5.x immediately. It makes sense to keep the 4.x docs intact for such users, in my opinion. Hence, a new set for 5.x docs.

[2015-06-30 17:40] crandmck commented on #398
OK, based on the timeline described in https://github.com/strongloop/express/pull/2237, here is my proposal.

For the initial beta releases (RSN), we add the following:
- 5.x API docs under "API" menu, below 4.x, and clearly marked as "Beta".  These will be at http://expressjs.com/5x/api.html and 4.x will remain at http://expressjs.com/4x/api.html, so I don't think there will be any issues.
- Draf

[2015-06-30 19:05] hacksparrow commented on #398
Sounds good to me.

[2015-06-30 20:20] gabeio opened #407 "app.env?"
app.env seems to be undocumented on expressjs.com.

[2015-06-30 20:30] dougwilson commented on #407
AFAIK There is no `env` property that we set on `app`. Do you mean `app.get('env')`?

[2015-06-30 20:31] dougwilson commented on #407
If so, the documentation is here: http://expressjs.com/4x/api.html#app.settings.table :)

[2015-06-30 20:55] gabeio commented on #407
oh yeah I guess it used to be app.env. thanks

[2015-06-30 20:55] #407 closed, assigned to nobody

[2015-07-01 02:24] dougwilson commented on #398
A plain `npm install express` will continue to install 4.x, just as it does today. We should point 5.x beta users to `npm install express@5` for the time being.

[2015-07-01 17:10] crandmck commented on #398
Makes sense, thanks.

[2015-07-09 06:58] gustavnikolaj opened #411 "Invalid reference."
The following quote from the [error handling](https://github.com/strongloop/expressjs.com/blob/gh-pages/guide/error-handling.md) page is placed at the bottom of the page, but refers to "the next section".

[code]

[2015-07-09 07:10] gustavnikolaj opened #412 "Default error handling"
I encountered a problem with aborting streamed responses - it turned out to be a problem with the way I did the error handling. See https://github.com/strongloop/express/issues/2700 for reference. It would have helped me if the error handling guide had had a mention of the default behavior that is already included in Express. I ended up re-implementing it in my own error handler.

[code]

What are

[2015-07-10 23:11] crandmck commented on #411
Thanks @gustavnikolaj - This was left over from some previous reorganization.  I fixed and removed the mention of `Promise`, because readers may not understand Promises and I don't think it's critical to the explanation.

[2015-07-10 23:11] #411 closed, assigned to nobody

[2015-07-13 22:08] crandmck commented on #412
Seems like a reasonable addition.... I can tweak the wording, but @hacksparrow can you review the technical content, pls?

[2015-07-13 22:17] dougwilson opened #413 "License for copying material from the site"
I got a Tweet here https://twitter.com/jhusain/status/620716034664730624 that is asking basically for the license on the text of the website. There used to at least be copyright on the site, but I see someone must have removed it.

Unfortunately with the acceptance of all the contributions from users without an existing license and since none signed a CLA, unless every single one of them is tracke

[2015-07-14 04:07] hacksparrow commented on #413
Totally agreed.

@crandmck @altsang

[2015-07-14 17:37] crandmck commented on #413
+1 We should make sure we have a license for the 5.x docs.  Al is on vacation, but will discuss with him upon his return.

[2015-07-14 18:48] charmainebonifacio commented on #413
Hello, I'm on the same boat with JHusain (Twitter) and really like the minimalistic design of ExpressJS.com. I've forked the repo but I haven't really made any changes. I'm thinking of using the design for my own website/academic portfolio without the need for translating to other languages. How should I go about giving credit where it is due? Thanks for all your help!

[2015-07-14 20:27] ijroth commented on #413
Hi, I responded to Jafar over email (he asked that way as well) saying it was okay to use the template and just asking for two things:
- Please allow us to review so that we can ensure the final result doesn't look too much like Express (he wanted to use the template but apply different branding)
- It would be polite to give some credit on his site somewhere

He was okay with that. I think for fut

[2015-07-15 07:26] hacksparrow commented on #412
Valid points, added with a little modification - http://expressjs.com/guide/error-handling.html.

[2015-07-15 07:32] gustavnikolaj commented on #412
That looks really good. Thanks!

[2015-07-15 07:32] #412 closed, assigned to nobody

[2015-07-20 18:00] charmainebonifacio commented on #413
Thanks @ijroth, that really helps. Just a few more things: 1) should I open a new issue to review my website as protocol; and 2) I do highlight the ExpressJs.com website and the original repo in the footer section as a means to give credit. I'm not sure if there's specific wording needed but I would be open to suggestions. Thank you!

[2015-07-28 02:09] mykwillis opened #417 "routing break between 4.12.4 and 4.13.1"
I have a route that worked properly (for me) using the 4.12.4 release, but broke when I updated to 4.13.1.

The route has an optional parameter enclosed in (literal) parenthesis, like this:

[code]

It is intended to match paths like `/hello(world)` or `/hello()`.

On version 4.12.4, both parameters (`:foo` and `:bar`) are matched, but with version 4.13.1, it seems that only `:foo` is.

There is a

[2015-07-28 02:19] dougwilson commented on #417
I'll look into this, though you'll probably want to fine this kind of issue in https://github.com/strongloop/express/issues in the future :) It's possibly something from a change in `path-to-regexp`, but I'll have to check. /cc @blakeembrey if he can check it out faster than myself :)

[2015-07-28 02:27] blakeembrey commented on #417
The matches appear to be the same for each version, I'll look into it with Express a little more.

[code]

[2015-07-28 02:28] mykwillis commented on #417
oops, sorry about filing to the wrong repo!

[2015-07-28 02:30] blakeembrey commented on #417
It is a regression. Likely an offset is off by one:

[code]

I'll patch it and make a PR now.

[2015-07-28 02:30] dougwilson commented on #417
@blakeembrey awesome, thanks for the quick look :+1: ! I should be back from a vacay soon and get full-force back into the repos :)

[2015-07-28 02:36] mykwillis commented on #417
thanks for the crazy fast attention, guys.

[2015-07-28 03:19] blakeembrey commented on #417
@mykwillis I patched it in `path-to-regexp` and made a PR to `express` for you. Turned out to be a regression where it wasn't handling escaped brackets properly. Thanks for pointing it out :+1:

Edit: See https://github.com/pillarjs/path-to-regexp/commit/22a301696755ea501154a9f466549688555303e7 for more info.

[2015-07-31 21:11] dougwilson commented on #417
Hi @mykwillis , I'm sorry for the longer-than-usual time to patch here, but I'm back from my trip and I just released Express 4.13.2 to npm that includes the patch from @blakeembrey . Let us know if you still have any issues!

[2015-07-31 21:11] #417 closed, assigned to nobody

[2015-08-03 14:06] mykwillis commented on #417
really appreciate the patch. Glad it wasn't just me going crazy with regex fever!

[2015-08-06 12:10] remy opened #420 "`location` on mounted routes doesn't work"
From this documentation http://expressjs.com/api.html#res.location it says:

I've deployed the code from [here](http://expressjs.com/api.html#router.use) with the addition of the following:

[code]

I've deployed this to a [heroku instance](https://vast-journey-4017.herokuapp.com/foo/bar), and you can cURL against the heroku URL to see that the location response doesn't include the mount point:

[

[2015-08-06 12:16] remy commented on #420
Giving this more thought, is it possible that the location is being read as _relative_ by the client? If that's the case, wouldn't it resolve to `/foo/admin` instead of `/foo/bar/admin`?

[2015-08-06 14:42] hacksparrow commented on #420
@remy thanks for pointing it out. That's actually outdated documentation.

`res.location(path)` will set the **Location** header to whatever is the value of `path`, except when the `path` is "back", it then sets the **Location** header to the value of the **Referer** header or "/" if the **Referer** was not set.

Updating the docs. Thanks again!

[2015-08-06 14:53] remy commented on #420
Okay, but then does that mean, if I've abstracted a route (say "/foo" with `router.use('/foo', require('./routes/special-stuff'))`) out into it's own file, it means for the `/foo` route to redirect, it **must** know where it was mounted?

And as soon as I've hardcoded `/foo` as the base inside of `special-stuff.js` it's now tied to that application - which breaks the idea of having these routes as

[2015-08-06 15:00] hacksparrow commented on #420
`req.baseUrl` refers to the path on which a router was mounted.

[2015-08-06 15:03] remy commented on #420
Right-o. I figured that was there somewhere, but last time I checked (3 months ago) I could find it - but now with your reply, I can [see it](http://expressjs.com/4x/api.html#req.baseUrl). Thanks!

[2015-08-06 15:04] hacksparrow commented on #420
Welcome!

[2015-08-06 15:04] #420 closed, assigned to nobody

[2015-08-25 19:27] n3utrin0x opened #424 "Menu Items disappear after double click"
So I was browsing http://expressjs.com/api.html
and noticed that double clicking a menu item will make it disappear haha.

[2015-08-25 21:04] vehsakul opened #425 "router.param doc states that it can accept an array as name, but it cannot"
see also https://github.com/strongloop/express/issues/2742#issuecomment-134736492

[2015-08-26 14:59] hacksparrow commented on #425
Thanks for reporting. Updated.

[2015-08-26 14:59] #425 closed, assigned to nobody

[2015-08-26 15:03] hacksparrow commented on #424
The menu item at the top or the side? And can you elaborate what you mean by disappear? Doesn't a single click make it disappear?

[2015-08-26 20:13] alanhoff opened #427 "pt_BR translation"
Hello folks, the Node.js Brazilian Comunity (@NodeBR) is translating Express to pt_BR, if anyone wants to join us please use this repository: https://github.com/nodebr/expressjs.com

When everything is ok we will merge it back.

[2015-08-26 23:36] crandmck commented on #427
Awesome!

Please do.  We'll keep this issue open to track it.

[2015-08-27 06:37] hacksparrow commented on #427
Excelente!

[2015-08-27 12:23] n3utrin0x commented on #424
top menu bar.
single click on the items makes the sub-menu appear. clicking it again hides the sub-menu, but it also hides the menu item itself.

[2015-08-27 14:46] marcpires commented on #427
Translation work already started.

[2015-08-27 15:03] gidenilson commented on #427
Estou pegando a tradução de:
pt-br/guide/rounting.md
pt-br/guide/using-middleware.md
pt-br/gude/using-template-engines.md

[2015-08-27 17:01] crandmck commented on #424
What browser and OS are you using?  We'll need to reproduce this, but I don't see it on Chrome/MacOS.

[2015-08-27 17:38] n3utrin0x commented on #424
Using Chrome/Windows.

[2015-08-27 18:19] marcpires commented on #427
Fiz a tradução de pt-br/guide/database-integration.md

[2015-08-27 21:02] marcpires commented on #427
Estou pagando a tradução dos seguintes itens:
pt-br/guide/behind-proxies.md
pt-br/guide/database-integration.md (ok, pull request para fork do nodebr)
pt-br/guide/debugging.md

[2015-08-27 22:19] gidenilson commented on #427
Terminei a tradução de:
pt-br/guide/rounting.md
pt-br/guide/using-middleware.md
pt-br/gude/using-template-engines.md

pull request para nodebr

[2015-08-27 22:44] gidenilson commented on #427
Estou começando a tradução de
pt-br/guide/error-handling.md

[2015-08-28 04:27] gidenilson commented on #427
Pessoal,
Afinal como fica a variável lang e o nome dos diretórios e arquivos?
lang: pt_BR, pt-br,  pt_br, ou simplesmente pt

Pelas instruções de tradução do Express os nomes teriam que ser 'pt', na listagem não existe pt-br e etc...

http://www.loc.gov/standards/iso639-2/php/code_list.php

[2015-08-28 13:51] alanhoff commented on #427
@crandmck could you guide us on this issue? ISO-639-1 have just `pt` for `portuguese` but brazilian portuguese is quite different from Portugal's portuguese, we call it `pt-br`. How to name our files and folders?

[2015-08-28 14:18] afucher commented on #427
Pegando tradução da pasta /starter/*

[2015-08-28 15:40] crandmck commented on #427
@alanhoff I think it's fine to use `pt-br` for file and folder names.  I don't think we have to strictly follow ISO-639-1. That way, if anyone ever wants to create a "non-Brazilian Portuguese" translation, they can use `pt`.

@hacksparrow please confirm there are no technical issues with doing this.

[2015-08-28 15:45] alanhoff commented on #427
Thanks @crandmck :-)

[2015-08-28 15:54] hacksparrow commented on #427
`pt-br` should do it, no technical issues with it. Please carry on.

[2015-08-28 17:37] gidenilson commented on #427
Traduzindo a pasta advanced...
[]s

[2015-08-29 03:07] hacksparrow commented on #424
@robotabot can you describe how to reproduce that behavior? Clicking on menu is supposed to take the user to a new page, basically a page refresh.

[2015-08-29 17:51] afucher commented on #427
Finalizada pasta /starter

[2015-09-02 16:58] gidenilson commented on #427
Pessoal,
Estou com uma dúvida...
O termo DEPLOY deve ser deixado em inglês? Será que é melhor considerar como um termo técnico mesmo, ou tem uma boa tradução para o computês brasileiro?
Preciso de uma sugestão, ok?

[2015-09-02 17:07] alanhoff commented on #427
Pode deixar em inglês mesmo.

##

Alan Hoffmeister
https://twitter.com/alan_hoff
https://github.com/alanhoff
https://keybase.io/alanhoff

Em 2 de setembro de 2015 13:58, Gidenilson Alves Santiago <
notifications@github.com> escreveu:

[2015-09-02 17:08] afucher commented on #427
Acredito que possa continuar com deploy

Em qua, 2 de set de 2015 às 13:58, Gidenilson Alves Santiago <
notifications@github.com> escreveu:

[2015-09-02 17:19] gidenilson commented on #427
Valeu!
[]s

[2015-09-04 22:20] marcpires commented on #427
A minha parte terminarei e mando no final de semana.

[2015-09-06 20:13] dougwilson opened #433 "Kill Express 3.x"
Ok, let's go ahead an update the documentation that Express 3.x is dead :)

Seems like the following tasks:
1. Update the "API reference" menu to add "(deprecated)" to the 3.x menu item
2. Change the warning at the top of http://expressjs.com/3x/api.html to read more like http://expressjs.com/2x/
3. Change the warning at the top of http://expressjs.com/2x/ to remove the 3.x suggestion (or not; I'l

[2015-09-07 06:51] hacksparrow commented on #433
@dougwilson updated. Please take a look.

Also, I guess this means 5.0 is just around the corner? :)

[2015-09-07 16:40] dougwilson commented on #433
Thanks, looks good :) And yes, indeed it is. Continued maintenance of the 3.x has been dragging 5.x work down, so this weekend I basically decided "no more!" so I can put a lot more attention into getting 5.x over the hump :) !

[2015-09-07 16:40] #433 closed, assigned to hacksparrow

[2015-09-07 17:05] hacksparrow commented on #433
👍

[2015-09-11 21:25] octref opened #443 "Improvement for `express.static` doc"
As for this page: http://expressjs.com/starter/static-files.html

I think it would be better to use `express.static(__dirname + '/public')` in at least one of the examples and explain it a bit.

I was making an Express app, and the main app requires a sub app. The files look like:

[code]

`sub.js` is required by `app.js`. When I use `express.static('public')` in `sub.js`, it refers to `/public`,

[2015-09-11 21:59] dougwilson commented on #443
Hi! The problem with this suggestion is that it is more confusing: what directory "public" means depends on what directory your shell was in when you started in while __dirname, a standard part of Node.js, will always mean the same thing.

For example, if you were cd into the sub directory and ran "node ../app.js", the pattern we provide will still work, while your proposal will now look in sub/pu

[2015-09-12 00:54] octref commented on #443
That's not true.
Whether you are in `/` and running `node app.js`, or in `/sub` and running `node ../app.js`, the code at `/sub/app.js` will be executed with `__dirname` set to `/sub` folder's absolute path.

Here is a project I created to illustrate the point:
https://github.com/octref/Express-Sub-App-Static-Problem

I only edited `/sub/app.js` so it looks like

[code]

Here is the command line l

[2015-09-12 00:56] dougwilson commented on #443
Omg, I'm so sorry. When I read it the first time, I thought you meant the _opposite_, as in your didn't want to use `__dirname`. I was arguing to use `__dirname`, which is what you were doing the entire time, my bad!

[2015-09-12 00:57] dougwilson commented on #443
Yes, please make a PR to add `__dirname` :)

[2015-09-12 01:28] octref commented on #443
No worries! I appreciate your fast response.

Just made the PR.

[2015-09-12 09:26] mywayptt opened #446 "Can not get request.params.pram when pass pram as a link"
I've just installed the latest expressjs and try to get 'param' from req.params.param. It work fine until i pass some link like "http://www.example.com" to param, and this message "Cannot GET /test/http://www.example.com" returned instead of "http://www.example.com". It's look like there's a problem in route validation. Hope you guy fix it soon. Thanks!

the route: /test/:test
- /test/some-text --

[2015-09-12 14:07] dougwilson commented on #446
Hi! This is because in URLs, a slash is a path separator. If you want slashes to be literals, you need to encode the values:

[code]

[2015-09-12 14:07] #446 closed, assigned to nobody

[2015-09-12 15:35] mywayptt commented on #446
But i dont want to encode the values. In my case I want people just type in url after path and then create short link for it. It's not impossible and worth to change.

[2015-09-12 15:38] dougwilson commented on #446
Unfortunately this is not how URLs and the web function. If you would like to do this, just look in the req.url property and get the URL from there. You can also use a capture all route like app.get('/test/*') and look in req.params[0]

[2015-09-12 15:42] dougwilson commented on #446
Otherwise, always feel free to make a PR to fix/add whatever you are looking for. Many times, code speaks louder than words, so a PR can go a long way toward explaining what kind of change you want us to make.

[2015-09-14 04:40] #443 closed, assigned to nobody

[2015-09-16 17:22] gidenilson commented on #427
Tem uns pull requests pendentes já faz algum tempo...
Isso é normal?
Será que errei em algum envio?
[]s

[2015-09-23 16:50] ritch opened #449 "Fix req.body example"
http://expressjs.com/api.html#req.body

We should be able to remove the `multer` reference... I think this was a copy/replace error. Or we need to fix the usage. `multer` has a set of methods like `multer.single('avatar')` to populate `req.file` and similar.

@crandmck @hacksparrow

[2015-09-23 16:50] ritch commented on #449
Also see: https://github.com/strongloop/express/issues/2762

[2015-09-23 17:27] dougwilson commented on #449
Looks like the issue is not with our docs--they were fine, but what happened was `multer` released a 1.0.0 with breaking changes. You can see the old docs (https://github.com/expressjs/multer/tree/7f6d840bd3a3ce6b4d81b1fb230e999880cc8438#usage) shows `app.use(multer())` which works if you install the pre-1.0 versions.

I think the documentation should make it clear what version of third-party modu

[2015-09-23 18:36] hacksparrow commented on #449
Updated the example and indicated the `multer` version in a comment.

[2015-09-23 21:36] silenceisgolden commented on #449
Since the other issue was closed without a response? @ritch

[code]

This results in a multipart/form-data request to the endpoint that might be setup with express (without a way to change the encoding type from my research), so I would say an example needs to be made for this use case. This is how to deal with it though:

[code]

Edited: Made xhr async, so no deprecation notice.

[2015-09-24 06:26] hacksparrow commented on #449
@silenceisgolden the example has already been updated. Please take a look - http://expressjs.com/4x/api.html#req.body.

[2015-09-25 22:35] silenceisgolden commented on #449
Looks good, thanks

[2015-09-26 14:45] #449 closed, assigned to nobody

[2015-09-30 05:11] dougwilson opened #452 "Centralization of production best practices"
Moving issue from https://github.com/strongloop/express/issues/2767

[2015-09-30 10:24] DCKT commented on #452
It should be great to talk about
- compression
- caching
- security on production ?

[2015-09-30 17:25] crandmck commented on #452
Great, thanks.   I'll put this in the backlog.

@dougwilson @hacksparrow Can you suggest any other topics that you think should be addressed?

[2015-09-30 20:52] crandmck commented on #121
Given that 3.x is no longer maintained and will soon be deprecated with the 5.0 release, I think we should close this.

[2015-09-30 20:52] #121 closed, assigned to nobody

[2015-09-30 20:56] crandmck opened #453 "Add 5.x migration guide"
Per [recent discussion](https://github.com/strongloop/expressjs.com/wiki/Near-term-roadmap) we want to start working on the 5.x migration guide ASAP.

[2015-10-01 03:53] dougwilson commented on #452
Exception handling (https://github.com/strongloop/express/issues/2769)

[2015-10-01 15:55] crandmck opened #454 "Add new guide documentation"
Per [recent discussion](https://github.com/strongloop/expressjs.com/wiki/Near-term-roadmap), we are going to add some new "guides".  This will be the over-arching issue to identify guide topics, discuss, and track the ongoing work.  We already have issues for a couple of these, as noted below.

The initial plan is for Rand and Yaapa to write initial drafts that will be reviewed by Doug, Ritchie, e

[2015-10-05 15:07] JeroenVdb opened #455 "Howto? A modular Express website"
Having to maintain multiple (news) websites I'm trying to create some setup where I can reuse components in multiple apps/websites.

My thought: One main app per website which contains the basic setup for html, css and javascript (for example, for the header and footer that is different for each brand). The website can have unique views with reusable components (a slideshow) and complete pages tha

[2015-10-05 16:54] hacksparrow commented on #455
The best places for these kind of questions are listed at http://expressjs.com/resources/community.html.

If you don't want to open-source your node modules, you can develop them in private repositories and still install them via `npm`.

[2015-10-11 10:49] #455 closed, assigned to nobody

[2015-10-12 18:23] crandmck commented on #427
Hi guys--thanks for all the Portuguese translation!

If the initial work is done, can we close this issue?  You can certainly continue translation, but I'd like to keep the issues list clean if there are no open discussions around this.

[2015-10-12 18:25] crandmck opened #461 "Write new guide on creating middleware for use with Express"
Per discussion and #454.

[2015-10-12 20:06] crandmck opened #462 "Document procedure to report security issues & create email alias"
At a minimum, we need to create a `security.md` file in https://github.com/strongloop/expressjs.com.   It should explain the basic procedure for people to submit private security issues, e.g. a security email alias vs. just emailing an individual.

NOTE: This is specifically just for instructions to report security issues and the process around that.  In contrast, #466 tracks documenting security

[2015-10-12 20:08] crandmck commented on #452
From [https://github.com/strongloop/expressjs.com/wiki/Near-term-roadmap](recent discussion), include:
- Known configuration problems that can lead to security issues.
- Give tips on how to configure things properly

[2015-10-12 21:02] dougwilson commented on #462
I'll commit the same thing to the main Express repo as well.

[2015-10-12 21:46] crandmck opened #463 "Link to and explain examples"
https://github.com/strongloop/express/tree/master/examples is an important resource that we should highlight in the docs.  We should link to it from appropriate places, and it might make sense to provide an "index" into the examples explaining what each is and for the more important ones, explicate some of the code.

[2015-10-13 02:30] OmarKhanfer opened #464 "Installing Error"
I was trying to install expressJs, but i got this error

[code]

[2015-10-13 03:51] dougwilson commented on #464
Hi @OmarKhanfer , what you pasted is not an error, but simply the confirmation of the installation.

[2015-10-13 03:51] #464 closed, assigned to nobody

[2015-10-13 09:47] hacksparrow commented on #463
How about a new menu titled "Examples"?

[2015-10-13 09:47] hacksparrow commented on #463
The menu items would be links to the respective example directories.

[2015-10-13 12:24] hacksparrow commented on #461
@crandmck added - http://expressjs.com/guide/writing-middleware.html

[2015-10-13 16:22] crandmck commented on #452
From a discussion with @ijroth and @chandadharap, @ritch said:

[2015-10-13 21:00] crandmck commented on #463
I don't think that would work because there are 20+ examples.  I think we need a description of each example, and in some cases text to explicate the example code.  Let's discuss.

[2015-10-13 21:02] crandmck opened #466 "Security configuration and best practices"
Per discussion, we want to add a guide that explains:
- How to configure your app  to avoid known security issues.
- Other best practices for security
- What are the 3rd party or Node.js bugs that lead to security issues?
- What are security known issues / caveats in both Node and Express?
- How do I know if someting is an issue in Node vs. Express?

[2015-10-13 21:21] crandmck opened #467 "Add docs for common questions / use-cases"
Per discussion, we want to address the most common Express questions people ask on Stack Overflow (and perhaps elsewhere).  Ideally, this will help to avoid people finding old, outdated info on S.O. and other places

I'd like to structure this better than just as a FAQ, but we'll need to see if we can find a better way to organize it.

Here are the working notes on this: https://github.com/strongl

[2015-10-13 21:22] crandmck commented on #463
Also, have all these examples been updated for 5.x?  @dougwilson

[2015-10-14 05:07] dougwilson commented on #463
The main reason the examples are in the main Express repo is because they actually all run as part of the CI testing. The ones that would be updated for 5.x would be on the 5.0 branch in GitHub (but to my memory, all the ones in master work without modifications in Express 5 anyway).

[2015-10-14 16:06] hacksparrow commented on #463
Maybe a link titled "Examples" under "Resources"? This page would list the links to the examples with a brief description of each example.

[2015-10-14 17:48] crandmck commented on #463
@hacksparrow Yes, that is basically what I was thinking of.  Also, if any of the examples are relevant to guide articles or even API sections we should then xref to the appropriate example and/or the new text that explicates it.

@dougwilson Thanks, that's what I was hoping, but I didn't want to assume....

[2015-10-14 18:45] hacksparrow commented on #463
👍

[2015-10-15 16:17] crandmck commented on #462
@dougwilson Do you have an example of a `security.md` file for another project that is a good example?  It would be helpful for us to look at something like that.

[2015-10-15 16:17] crandmck commented on #427
I'm going to go ahead and close this issue.  If there are specific related questions or issues, please open another issue.  Thanks!

[2015-10-15 16:17] #427 closed, assigned to nobody

[2015-10-15 16:19] crandmck commented on #461
@ritch Is this sufficient for the time being?  Do you think we should expand on the above article or can we close this issue?

[2015-10-15 19:49] ritch commented on #461
I think we can go a bit deeper. This looks like an introduction to writing middleware. Thinking from the perspective of a new middleware author I want to know the common patterns, things to avoid, etc. This is a good start but I think we are missing quite a bit.

[2015-10-16 08:57] hacksparrow commented on #245
Fixed it.

[2015-10-16 08:57] #245 closed, assigned to nobody

[2015-10-16 08:59] hacksparrow commented on #424
Duplicate of #245. Fixed it.

[2015-10-16 08:59] #424 closed, assigned to nobody

[2015-10-16 11:21] hacksparrow commented on #461
@ritch what I can think of adding further is explaining "requireable" middleware, common module patterns, `module.exports`,  and `exports`.  Should that suffice? Anything else you have on mind?

Do you think we should cover publishing to npm as well?

[2015-10-16 16:05] ritch commented on #461
@hacksparrow let's chat in realtime about this.

 I think what you're suggesting is still a little too light.  Maybe we need to split this into several guides this being the first.

[2015-10-16 17:36] hacksparrow commented on #461
@ritch I send you a mail.

[2015-10-16 23:33] crandmck opened #469 "Write an intro to Express for Node newbies"
Many people come to Express with little or no Node experience.  We need an intro that includes explanation of basic stuff, e.g. asynch programming, callbacks, etc.  At the same time, we need to acknowledge that we can't provide a comprehensive introduction, since that would require basically a whole book of content. So we need to identify the key topics and Node concepts that people need to unders

[2015-10-16 23:40] crandmck opened #470 "Update examples and docs for ES 6"
All current docs and examples are written in ECMAScript 5.  We would like to stay current and provide docs and examples that use the latest ES 6 features.

[2015-10-16 23:42] crandmck commented on #454
We have opened separate issues to track work on individual topics, e.g. #461, #463, #466, etc., so I'm going to close this as it doesn't provide any additional value.

[2015-10-16 23:42] #454 closed, assigned to nobody

[2015-10-18 13:11] hacksparrow commented on #470
@dougwilson what's your opinion about this?

[2015-10-18 16:00] dougwilson commented on #470
Seems OK, since people can write in whatever they like to actually use Express :) I can say that at least in corporate environments, there is virtually no ES6 knowledge, so if the examples were only ES6 it would probably confuse some percentage of our user base. Everything that can run ES6 runs ES5, so there isn't a big move to it in aware of (I'm mainly talking about all the new sugar syntax like

[2015-10-19 16:52] crandmck commented on #470
FYI this was suggested by @ritch.  I would think that the devil is in the details....  We certainly don't want to confuse anyone, but if there are cases where you can do things more efficiently with ES6, then we should provide an example and explanation.  This might actually take quite a bit of time and effort to do properly, so will need to work on according to priority.

[2015-10-19 18:40] ritch commented on #470
I think we can help change that.

[2015-10-21 21:29] bdefore opened #471 "headers vs _headers"
[code]

is it expected behavior that `res.headers` does not show current state? even chaining middleware has the problem.

[2015-10-21 22:23] dougwilson commented on #471
Hi @bdefore , we rely on the Node.js HTTP API and they do not provide any API (that's not private) to access the headers on the response object (https://nodejs.org/api/http.html#http_class_http_serverresponse). I don't think we have `res.headers` or `res._headers` in our documentation, unless I'm' mistaken somehow :)

Node.js is currently considering adding an API for this (that's not private) ove

[2015-10-21 22:23] #471 closed, assigned to nobody

[2015-10-21 22:29] crandmck commented on #466
This might be a useful reference: https://blog.risingstack.com/node-js-security-checklist/
Although it's about Node in general, the distinction might not be that important.

[2015-10-21 22:33] crandmck commented on #453
We've published a short blog post: https://strongloop.com/strongblog/moving-toward-express-5/.
@hacksparrow Let's discuss putting this on the site; we can keep it updated as we go from alpha > beta > 5.0 release.

[2015-10-21 22:44] bdefore commented on #471
thanks for the follow up @dougwilson ... it's a bit of a shame but good to hear you know of it.

[2015-10-27 08:45] vitaly-t opened #476 "Database Integration document"
[Database Integration](https://github.com/strongloop/expressjs.com/blob/gh-pages/guide/database-integration.md) looks quite obsolete. Most of the libraries listed there are either low-level or have been otherwise replaced by newer, more powerful/practical packages. Either way, it is a misleading guide for beginners.

[2015-10-27 14:51] hacksparrow commented on #476
@vitaly-t can you be specific about the ones you are referring to? A PR would be awesome, btw.

[2015-10-27 14:54] vitaly-t commented on #476
If one starts searching for database frameworks, the top results would be presented by powerful ORM frameworks, like sequelize, and many others, while the ones referred to by the document are all original, and mostly too low-level tools to be still recommended today.

In fact, you would be in trouble trying to keep up with the zoo of the modern database frameworks. The best thing you can do is to

[2015-10-27 21:42] crandmck commented on #476
@vitaly-t Thanks for your suggestion.  I think the intent here is to avoid getting into the numerous ORM frameworks and provide information on how to use a db directly with Express.  A "minimalist" approach if you will.

We _could_ provide a comparison of various ORM frameworks, but that sounds like a big job that would probably also entail ongoing maintenance.  And it is somewhat outside the scop

[2015-10-27 22:58] ritch commented on #476
I agree this was the intention, but I think the point is it isn't very helpful to anyone really. If you are familiar enough to be comfortable using modules at this level, a light guide demonstrating the basic APIs for a set of DB drivers is going to be useful anyway.

I don't think there is a quick fix for this though. Its not as simple as throwing a list together that replaces this page... Lists

[2015-10-28 00:28] dougwilson commented on #476
I'm indifferent to that page, but if anything, what we need documentation of is to show how to glue things together with Express. For example, perhaps someone has a Winston logger or a MySQL connection and they don't know what the best practices are for having these managed with a request/response life cycle and exposed to their routes. I think that's probably more useful from an Express point of

[2015-10-28 15:15] stratboy opened #478 "next() function not documented"
The next() method is everywhere in your docs, it's quite clear that passes control to the next 'action' but it's definitely not documented itself. Where does it come from?

[2015-10-28 18:08] hacksparrow commented on #478
@stratboy `next` in described on http://expressjs.com/guide/using-middleware.html.

@crandmck do you think we should create a page dedicated to explaining `next`?

[2015-10-28 18:26] crandmck commented on #476
OK, thanks for your thoughts @ritch @dougwilson.

It sounds to me like:
1. We should replace what we have now with something that _is_ helpful: some combination of the recommendations above (etc) that will serve the interests of our audience.
2. This is a significant task, so I'll open a new issue for it, and we carry on discussion in detail there.

My only question is: In the meantime, should I j

[2015-10-28 18:42] crandmck commented on #478
@stratboy makes a good point.

Although that article does explain how to use `next()` and the requirement to use it to pass control to the next middleware, it doesn't really explain "where it comes from", and a new user might assume that it's actually part of the API, either of Express or Node.

However, IIUC, it's merely a naming convention based on the arguments to the callback function.  In the

[2015-10-28 21:12] crandmck opened #479 "Create helpful database integration guide"
Per #476, let's revise/replace http://expressjs.com/guide/database-integration.html to be more helpful, without delving into specifics of various ORMs.

From that issue:

[2015-10-28 21:14] crandmck commented on #476
Closing in favor of #479 (in retrospect, we could have just used this issue--but nbd).

[2015-10-28 21:14] #476 closed, assigned to nobody

[2015-10-29 06:58] stratboy commented on #478
Yes, I'm with you, only add the section, and one line to explain just what you explained below, it's enough.

Thank you, regards,

Luca

Rand McKinney wrote:

[2015-10-29 07:07] stratboy commented on #478
Ok, then I think it should be mentioned and briefly explained even on
the API reference page, maybe somewhere in the app section, where you
mainly write about middlewares. Maybe a title like 'about the next()
callback' or 'Passing control with next()' or something.

Thank you, regards

Luca

Hage Yaapa ha scritto:

[2015-10-29 16:20] crandmck commented on #453
This is done, thanks!
NOTE: We'll continue to maintain this with any changes or additions to 5.x branch.

[2015-10-29 16:20] #453 closed, assigned to hacksparrow

[2015-10-29 21:00] crandmck commented on #462
Absent anything else to go by, I'll assume that we want to model our process and documents on https://nodejs.org/en/security/.

This involves the following:
- Setting up an email address where people can report security bugs / exploits.  Perhaps something like `security@expressjs.com` (for lack of anything better).  IMO, the actual address doesn't matter so much as making sure someone is paying at

[2015-10-30 22:23] s4y opened #481 ""trust proxy" not fully documented?"
[This page](http://expressjs.com/guide/behind-proxies.html) says that setting a non-false value for `trust proxy` has two effects:
- The `X-Forwarded-Proto` header is respected
- The `X-Forwarded-For` header is respected

But [the code](https://github.com/strongloop/express/blob/2f8ac6726fa20ab5b4a05c112c886752868ac8ce/lib/request.js#L400-L405) also seems to look at `X-Forwarded-Host`, which many

[2015-11-03 13:25] natarajanmca11 opened #483 "Not able to write Express Web Api using TypeScript."
Hi Team,

We are creating a pure Type Script based Express Seed Project in the following git repository.
https://github.com/natarajanmca11/Express4-Seed.git
Please look at FullTypeScript branch.
The problem is we are not able to create the sub module in type script. We could't utilize the express.d.ts types fully in this application.

Please help us to create the sub module in typescript and how t

[2015-11-03 16:18] ricardograca opened #484 "Add text link to express repo on the footer"
This was already handled in #254, but it has disappeared again. Would be nice to get the link back.

[2015-11-03 18:08] crandmck commented on #483
@natarajanmca11 This repository is only for documentation on expressjs.com, and the issues here should be related to that and not issues with Express itself.  Please open your issue against https://github.com/strongloop/express. Thanks.

[2015-11-03 18:08] #483 closed, assigned to nobody

[2015-11-03 18:14] crandmck commented on #484
The link is still there... Is it not showing up for you?

![repo link](https://cloud.githubusercontent.com/assets/2925364/10917060/a36974ac-8213-11e5-85d2-3335f311c7e3.png)

[2015-11-03 18:20] natarajanmca11 commented on #483
@crandmck Thank you. I created new issue in https://github.com/strongloop/express. Link https://github.com/strongloop/express/issues/2791

[2015-11-03 18:22] crandmck commented on #484
The link to the repo is where it's been for the last year or so:
![repo link](https://cloud.githubusercontent.com/assets/2925364/10917195/5c1c7d0a-8214-11e5-80e9-22a5a04a0f17.png)

I agree it's not very obvious (as noted in #254).  What about adding another link in the footer like this:

[2015-11-03 18:41] ricardograca commented on #484
Yes, I remember when the "Star" button was there, but now it doesn't appear for whatever reason:

![captura de ecra de 2015-11-03 18 36 35](https://cloud.githubusercontent.com/assets/1457035/10917697/03c8fb4c-825a-11e5-8b12-383b33594064.png)

I see a 405 error on this url: `http://expressjs.com/cdn-cgi/pe/bag2?r[]=http%3A%2F%2Fwww.googletagmanager.com%2Fgtm.js%3Fid%3DGTM-5XL76H`, everything else i

[2015-11-03 19:56] ritch commented on #462
I think the email will need to forward to @dougwilson and myself. Otherwise looks fine to me.

[2015-11-04 00:54] crandmck commented on #462
OK, I started a draft of the policy/procedure doc: https://github.com/strongloop/expressjs.com/wiki/WORKING-DRAFT:-Security-policies-and-procedures.

[2015-11-04 21:30] crandmck commented on #484
OK, I think it makes sense.  Will open a PR.

[2015-11-04 21:49] crandmck commented on #481
@dougwilson ^ ?

[2015-11-04 22:06] dougwilson commented on #481
Yea, just need to enhance the docs.

[2015-11-04 23:27] crandmck commented on #481
@hacksparrow Could you pls take care of this?

[2015-11-05 13:32] listepo commented on #470
You can now start rewrite on es6 (babel)

[2015-11-05 16:00] hacksparrow commented on #481
@Sidnicious thanks for reporting.

@crandmck updated the doc to include the fact. Also, made changes in other places to improve clarity of the what happens when "trust proxy" is set to a non-falsey value.

[2015-11-05 16:13] #481 closed, assigned to nobody

[2015-11-05 16:13] #484 closed, assigned to nobody

[2015-11-06 02:49] Parakleta opened #491 "Update 'Express Application Generator Getting Started' to use new DEBUG format."
It still shows `DEBUG=myapp` but the current code requires `DEBUG=myapp:*`.

[2015-11-06 17:38] crandmck commented on #491
@hacksparrow PTAL

[2015-11-06 18:27] hacksparrow commented on #491
@Parakleta thanks for reporting. Updated.

[2015-11-06 18:27] #491 closed, assigned to nobody

[2015-11-11 23:17] crandmck commented on #462
I am in the process of sorting out how to get an email address along the lines of `security@expressjs.com`  that we can configure to fwd to various ppl.

[2015-11-12 17:19] crandmck commented on #478
I believe this has been addressed, so I will close.
@stratboy Thanks for bringing it up.

[2015-11-12 17:20] #478 closed, assigned to nobody

[2015-11-12 20:08] crandmck commented on #466
We have a blog that covers this information: https://strongloop.com/strongblog/best-practices-for-express-in-production-part-one-security/
@hacksparrow will convert this to md, create a branch, then I will edit the text to be more appropriate for docs.  We'll also add the performance info to this branch and then merge late next week.

[2015-11-12 20:09] crandmck commented on #461
@ritch If you still think we need more here, please advise.

[2015-11-12 20:56] stratboy commented on #478
:) thank you

[2015-11-12 22:26] crandmck commented on #462
While I'm sorting out the email address, @dougwilson would you please take a look at the working draft ^ and see if it fits the bill?  If you have comments, you can add here, edit the wiki or add separate notes as you wish.  Is that generally what you had in mind?

@ritch It would be helpful if you reviewed also.

[2015-11-13 03:24] ritch commented on #462
It looks good mostly.

I'm assuming this will move to security.md...?

I have no changes. @crandmck can you submit a PR? That would make it easier to add specific feedback if anyone has any.

[2015-11-13 03:29] ritch commented on #462
Let's keep one source of truth in the express repo.

[2015-11-13 05:37] dougwilson commented on #462
I'm not sure about you, @ritch , but I think the https://github.com/strongloop/expressjs.com/wiki/WORKING-DRAFT:-Security-policies-and-procedures#disclosure-policy section is too much, and more than I would do. If we are going to base it off what I've been doing thus far (though I'm not saying we can't change it, just if we want to simply document current procedures and then improve upon them), it

[2015-11-13 08:16] ritch commented on #462
We need something. I'm not going to stand in the way of any specific suggestion for security procedures.

 Doug, if you want to start with the paragraph above, that's absolutely fine with me. Let's get something in the repo though.

[2015-11-13 17:33] crandmck commented on #462
I'll incorporate Doug's suggestion and open a PR.  Then I'll delete that wiki page to avoid confusion--I only created it as an easy place to stick an initial draft (not knowing exactly what you guys had in mind).

[2015-11-13 21:40] crandmck commented on #462
NOTE: I deleted draft in wiki, so above links will no longer work.  Please work on version in the PR noted above.

[2015-11-15 15:21] kingroryg commented on #469
http://nodeschool.io

[2015-11-17 17:11] s4y commented on #481
:tada:

[2015-11-20 23:55] crandmck commented on #466
Added by https://github.com/strongloop/expressjs.com/pull/503

[2015-11-20 23:55] #466 closed, assigned to hacksparrow

[2015-11-20 23:57] crandmck commented on #452
Added performance best practices in https://github.com/strongloop/expressjs.com/pull/503

[2015-11-20 23:57] #452 closed, assigned to hacksparrow

[2015-12-02 15:51] bajtos commented on #461
@ritch @hacksparrow @crandmck what's the status of this story? It has been sitting in #review column for 20 days by now. Can we close it as done?

[2015-12-02 16:00] hacksparrow commented on #461
@bajtos, @ritch and I had a discussion last time. What he wanted was a pretty detailed (multi-part) write up on Express middleware. Haven't had a chance yet, due to other priorities.

[2015-12-02 16:07] bajtos commented on #461
@hacksparrow thank you for the update, makes sense. I'll move this story back to `#tob` column on our sprint board then.

[2015-12-03 16:59] JamesMGreene commented on #172
+1

[2015-12-04 17:50] crandmck commented on #462
Pending PR: https://github.com/strongloop/express/pull/2804
As soon as this is merged, we can close this issue.

[2015-12-06 12:58] vitaly-t commented on #479
@crandmck where is the source for that document? And can I contribute to it?

[2015-12-07 18:36] crandmck commented on #479
@vitaly-t It's just https://github.com/strongloop/expressjs.com/blob/gh-pages/en/guide/database-integration.md.

[2015-12-07 18:49] vitaly-t commented on #479
@crandmck thank you!

If I submit a PR to change the PostgreSQL integration via [pg-promise](https://github.com/vitaly-t/pg-promise), any chance it will be accepted?

The example would be simplified, and much more modern-looking.

[2015-12-11 23:26] crandmck commented on #479
We would certainly consider it.  Ultimately, it would be up to @dougwilson, but it sounds reasonable to me.

[2015-12-12 15:55] vitaly-t commented on #479
Thank you, I have just submitted it.

[2015-12-14 18:49] crandmck opened #523 "Globalization Issue: English text in JavaScript"
Two English strings are used in the footer: https://github.com/strongloop/expressjs.com/blob/gh-pages/js/app.js#L50.

When you view a localized page, "Edit this page on GitHub." is displayed in English.
Can we externalize this string and load the appropriate language?
I'm not sure when "Fork the website on GitHub" is displayed.

@hacksparrow I would appreciate it if you could take a look at this.

[2015-12-14 22:55] crandmck commented on #462
I'm just waiting for the above PR to be merged.

[2015-12-15 18:51] crandmck commented on #523
After looking a bit more at this, I think we should consider removing this line altogether from translated pages, because the link would take the reader to the English page, and most non-English speakers won't be interested in editing the en source page; also it might confuse the reader into thinking that the link would be to the translated source, for which we won't be accepting contributions.

S

[2015-12-15 19:22] dougwilson commented on #523
Seems like a reasonable compromise to me.

[2015-12-15 22:08] #462 closed, assigned to crandmck

[2015-12-17 04:03] hacksparrow commented on #523
@crandmck @dougwilson the link can point to the corresponding lang page. Shall I do that, instead of removing it altogether?

[2015-12-17 17:50] crandmck commented on #523
Well, the problem is that we won't be accepting PRs for the translated pages, so it's not clear what the purpose would be.   In contrast, we will still accept PRs for contributions to English content, so that does make sense.

If someone just spots an issue with a translation, they can open an issue and refer to the page in question.

[2015-12-17 19:21] hacksparrow commented on #523
@crandmck alright.

[2015-12-17 19:56] hacksparrow commented on #523
d8ab769 addressed this.

[2015-12-17 19:56] #523 closed, assigned to nobody

[2015-12-18 18:47] crandmck opened #527 "Integrate new translated content"
This issue is for tracking the work to integrate the translations of the site provided by IBM.

[2015-12-18 23:41] crandmck commented on #527
The new translations are on this branch: https://github.com/strongloop/expressjs.com/tree/ibm-translations.

There are some small issues that I'd like to resolve before we merge this.
@hacksparrow Let's discuss this next week.

[2015-12-22 16:52] crandmck commented on #527
Open comments from Sue:

[2015-12-22 18:38] crandmck commented on #527
Fixed in 8554ccfed1fc6d545ca34fad569591d65a3e12b1

[2015-12-22 18:57] hacksparrow commented on #527
👍

[2015-12-22 19:16] crandmck commented on #527
The only menu issue I see is in German (ko looks fine):
![de-menu](https://cloud.githubusercontent.com/assets/2925364/11963671/5b2202e4-a89d-11e5-9dbe-5d7621a02729.png)

Might be nice to fix this, but not critical.

[2015-12-22 19:40] crandmck opened #528 "Eliminate homepage redirect?"
@ritch has noted that the redirect from http://expressjs.com/ to http://expressjs.com/en/index.html is somewhat annoying.  It would be better if we could eliminate the redirect and just load the English home page directly (by default).

It might also be slick to detect the user's (or browser's) locale setting and load the appropriate localized home page.  Not sure how easy that would be.

[2015-12-22 19:42] dougwilson commented on #528
huh. I felt like that was something new. It is quite annoying, as typically I will be looking at that page for several seconds.

[2015-12-22 22:31] crandmck commented on #528
Yes, it's relatively new, and allows us to "fallback" to English pages when there is no localized page.

A very simplistic solution would be to simply duplicate [`en/index.md`](https://github.com/strongloop/expressjs.com/blob/gh-pages/en/index.md) at the top level, and remove the line
`redirect_from: "/"`
from that page.

The downside is that we'd have to maintain a dup. of the English home page.

[2015-12-22 23:06] crandmck commented on #527
Here are a couple more minor display issues.

**1. Extra padding at the bottom of code samples on localized pages**

![extra-space](https://cloud.githubusercontent.com/assets/2925364/11967881/6fd626e8-a8bb-11e5-906a-cad2420c0c6c.png)

Compare with the same page in English:
![en-extra-space](https://cloud.githubusercontent.com/assets/2925364/11967816/fc3703f6-a8ba-11e5-8f85-275b4cfeca99.png)
This m

[2015-12-24 18:38] crandmck commented on #527
Merged the PR.  I will open a new issue for the unresolved layout issues above.

[2015-12-24 18:38] #527 closed, assigned to crandmck

[2015-12-24 18:40] crandmck opened #532 "Extra padding at the bottom of code samples on localized pages"
Code blocks (both JS and shell) have extra padding at bottom:

![extra-space](https://cloud.githubusercontent.com/assets/2925364/11967881/6fd626e8-a8bb-11e5-906a-cad2420c0c6c.png)

Compare with the same page in English:
![en-extra-space](https://cloud.githubusercontent.com/assets/2925364/11967816/fc3703f6-a8ba-11e5-8f85-275b4cfeca99.png)
This may be because the translated pages have:

[code]

Whil

[2015-12-24 18:44] crandmck opened #533 "Comments on translations"
If you have suggestions, complaints, compliments, or any input on the new (professional) translations, please comment here.  If there are significant comments on a particular language, we can open an issue specifically for that language.

This is specifically for the actual _translation_ quality, not layout or other technical issues.  Please open separate issues for anything of that nature (note k

[2015-12-25 22:14] samkelleher opened #534 "Incorrectly Redirecting All Requests/Google to French Language 🇬🇧 -> 🇫🇷"
Similiar to issue #528 - noticed today that the expressjs.com website is redirecting me to the French translation even though my browser is set to en-GB.  This is also evident on Google results with all regular URLs now showing in French instead of English.  I am seeing this if I Google 'express api', the first result to the URL is shown in French, despite not using the /fr/ url.

In Ignognito mod

[2015-12-26 04:15] hacksparrow commented on #534
Thanks for reporting @samkelleher, looking into it.

[2015-12-26 05:20] hacksparrow commented on #532
bbcbc80 fixes it.

[2015-12-26 05:42] hacksparrow commented on #534
This is a Google search engine algorithm "mess up" caused by duplicate pages. I will discuss with @crandmck to come up with an appropriate solution.

[2015-12-26 05:55] hacksparrow commented on #534
Upon further inspection, I discovered the issue is with the translation pages. They are hijacking the redirection from old pages using `redirect_from`.

@crandmck I will make the necessary changes to prevent the hijack. Let's discuss further details when you are online.

[2015-12-26 07:09] hacksparrow commented on #534
Fixed. @samkelleher please confirm. The title on the Google search result will take a while to update, though.

[2015-12-26 07:09] #534 closed, assigned to nobody

[2015-12-26 07:15] hacksparrow commented on #528
The home page will no longer redirect to /en/.

@crandmck It's not a good idea to have duplicates, for search engines as well as dev/maintenance. I moved `index.md` from /en/ with a directive to handle the request to `/en`.

[2015-12-26 07:15] #528 closed, assigned to nobody

[2015-12-26 07:15] #532 closed, assigned to hacksparrow

[2015-12-26 16:42] samkelleher commented on #534
@hacksparrow Cheers Hage - I get redirected but to the 'en' version as expected.  Good job sorting it out so quickly 👏

[2015-12-26 16:54] hacksparrow commented on #534
👍

[2016-01-04 10:32] martinerko opened #538 "Missing link to discussion about deprecation of the app.del funcion"
In the migration guide for Express 5, section [app.del](http://expressjs.com/en/guide/migrating-5.html#app.del) should points to discussion about deprecation of the `app.del` function.

"Initially `del` was used instead of `delete`, because `delete` is a reserved keyword in JavaScript. However, as of ECMAScript 6, `delete` and other reserved keywords can legally be used as property names. **You ca

[2016-01-06 20:29] Sequoia opened #539 "Hello World example leverages secret APIs"
http://expressjs.com/en/starter/hello-world.html

[code]

[docs](http://expressjs.com/en/4x/api.html#app.listen) say nothing about a return value for `app.listen`, although the [code docs](https://github.com/strongloop/express/blob/master/lib/application.js#L611) do.

In any event that usage is definitely not good for a hello-world example.

[2016-01-06 20:29] Sequoia commented on #539
tried to fork & run site but it's jekyll which I've never been able to run successfully.

[2016-01-06 20:59] dougwilson commented on #539
Hi @Sequoia , that's a good point on our documentation. We do write that

and so the return value from our method is whatever Node.js returns. It looks like they don't document the return value, either. Besides it getting fixed here, getting their documentation to also mention the return value would also be valuable to the entire Node.js community :)

[2016-01-06 21:25] crandmck commented on #538
I removed that last sentence, since IMO the discussion is superfluous at this point.

@martinerko Thanks for catching this.

[2016-01-06 21:25] #538 closed, assigned to nobody

[2016-01-06 21:49] crandmck commented on #539
I agree that we should be more explicit, and I'll pursue clarifying the Node docs as well.

To be fair, the last sentence in [the doc](http://expressjs.com/en/4x/api.html#app.listen) does show (in code) the value that it returns:

But I think we should clarify.  So, should we just state that `app.listen` returns an [http.Server](https://nodejs.org/api/http.html#http_class_http_server) object?

@do

[2016-01-06 21:54] dougwilson commented on #539
SGTM

Perhaps. So I think the idea was to get the print statement to show the address and port being listened to. We could eliminate `server` variable and change the references inside the function to `this`, but that may also be confusing.

The other option is to just change it to the following:

[code]

[2016-01-07 16:44] Sequoia commented on #539
:+1: @dougwilson's revised version. IMO "hello world" should show the _absolute minimum_ to get an app running, in order to avoid confusion. If `server =` is there, there's a strong chance readers will assume this is "necessary code" to start an express instance. In the case of `server = app.listen(...`, in my limited experience this is not "idiomatic" express code-- I don't tend to see this direc

[2016-01-07 19:49] crandmck commented on #539
OK I updated the API doc as noted above: caf6ada728cf9813969a6fff4f817fd4ec88311f

+1 on @dougwilson's suggestion above.  I believe @hacksparrow said he'll change Getting Started.

I also opened an issue to update the Node docs accordingly as well.

[2016-01-07 20:00] crandmck opened #541 "Multiple duplicates of API docs exist"
Due to the way we restructured the site for localization, we have API docs for each language, even though the API doc was not translated (except for pt-br community translation).  So, for example, we have:
- English API docs in https://github.com/strongloop/expressjs.com/tree/gh-pages/_includes/api/en
- Duplicate  in https://github.com/strongloop/expressjs.com/tree/gh-pages/_includes/api/de (which

[2016-01-07 23:20] crandmck opened #542 "Remove the "Applications" page"
http://expressjs.com/en/resources/applications.html is basically a hold-over from the old site.  I don't think it provides a great deal of value and I think we should consider removing it for the following reasons:
- The list of sites/apps is naturally limited, and it's not clear why these are listed vs. others.  Presumably they knew someone or asked to be on the list.  Why aren't some of the more

[2016-01-08 07:22] hacksparrow commented on #542
+1

[2016-01-08 07:30] hacksparrow commented on #539
Updated the example for all languages, according to Doug's suggestion.

[2016-01-08 07:30] #539 closed, assigned to hacksparrow

[2016-01-08 18:28] crandmck commented on #539
Thanks @hacksparrow !

[2016-01-08 18:47] crandmck commented on #542
@dougwilson, @ritch, anyone else -- thoughts?

[2016-01-08 18:52] Sequoia commented on #539
Epilogue: @crandmck submitted [issue](https://github.com/nodejs/node/issues/4571) against nodejs/node, [patch](https://github.com/nodejs/node/pull/4590) should land soon. Thanks for the speedy response yall! 👽

[2016-01-08 18:58] ripper2hl commented on #533
this documentation part is not translated to spanish http://expressjs.com/es/4x/api.html

[2016-01-08 19:17] crandmck commented on #533
@ripper2hl The API docs were not translated, as I noted in the blog:

[2016-01-12 19:38] crandmck opened #544 "Add doc for req.method property"
Per https://github.com/strongloop/express/issues/2846, this property is not documented.
Add `req.method` property

[2016-01-13 00:06] crandmck commented on #544
Fixed in 82dfa32e0440656149bb7d69389a3df362ff4da9.  You may need to do a hard-reload to make the navigation menu work properly.

Thanks @q4w56!

[2016-01-13 00:16] #544 closed, assigned to nobody

[2016-01-13 21:33] crandmck commented on #542
Unless anyone speaks up with a compelling argument, I'm going to remove this page....

[2016-01-13 21:39] jordonias commented on #542
I feel it would be better to show a list of companies that use express, rather than a list of some applications I have little interest in. Not sure if this exists somewhere already. If it does, it should be on the homepage.

[2016-01-13 21:51] crandmck commented on #542
A reasonable idea.  I'll see if I can track down a reliable source for such information.  @jordonias Do you have a specific suggestion?

The other issue could be whether companies are OK with being listed on such a page.   Not sure of the implications there....  Will look into that.

[2016-01-13 21:53] jordonias commented on #542
@crandmck  No specific suggestion. I've only heard of companies using express, can't be 100% sure of any of them myself. It may have to be opt-in.

[2016-01-15 18:32] crandmck commented on #542
I'm going to take a two-step approach:
1. Remove the existing `resources/applications` page (for all langs)
2. Open an issue to add an opt-in "Who's using Express" page.  Once we have a few companies listed there, then we can add that back in.

[2016-01-15 22:16] crandmck commented on #461
@hacksparrow I reassigned back to you based on above comments.  If you have anything (even a draft) written up, please share it, either in a branch or in the [wiki](https://github.com/strongloop/expressjs.com/wiki).  Then I can take it, if you have other priorities.

[2016-01-15 22:20] crandmck commented on #479
To clarify, based on comments from #476:

[2016-01-15 22:24] crandmck opened #557 "Add "Who's using page/section""
This will be a replacement for the old applications list, which is being removed per #542.  It will be an "opt-in" list of companies/projects that are using Express.

Initially, it could just be a section in http://expressjs.com/en/resources/community.html.  If & when it gets long enough, it could get its own page.

**Anyone who is currently using Express in production, please speak up** It would

[2016-01-15 22:29] #542 closed, assigned to nobody

[2016-01-15 22:30] crandmck commented on #463
Started some notes: https://github.com/strongloop/expressjs.com/wiki/Example-notes.

[2016-01-19 06:22] hacksparrow commented on #541
@crandmck there is a problem in redirecting the user to the ONE English version - the user is now in the en "docland". This redirection might be seen as a "bug" by many.

[2016-01-19 08:19] packtpartner opened #561 "Add video tutorial to resource page"
"Mastering Express Web Application Development"
https://www.packtpub.com/web-development/mastering-express-web-application-development-video

Add video section in resources page which will include useful video tutorials on Express.

[2016-01-20 19:35] crandmck commented on #561
I'll open a PR, but can anyone suggest some other videos to list?
I'd like to have more than a single video before adding this.  Please suggest some others.  Thanks!

[2016-01-21 20:05] tunniclm opened #562 ""Using template engines" example uses jade != instead of ="
The 2nd code  example showing a jade template in:

http://expressjs.com/en/guide/using-template-engines.html

..uses jade unescaped string interpolation (!=) when it should probably teach (particularly for beginners) to use escaped string interpolation (=).

Jade string interpolation is documented here: http://jade-lang.com/reference/interpolation/

[2016-01-21 20:10] jakerella commented on #562
That's a pretty easy PR to submit. ;)
But nice catch by the community.

[2016-01-21 23:34] crandmck commented on #562
@tunniclm I made the suggested change.  As I was reviewing that article, I noticed it lacked some context and cross-references, so I made a few other improvements.  Would you please review the PR?

[2016-01-22 10:58] tunniclm commented on #562
@crandmck LGTM!

[2016-01-22 16:49] crandmck commented on #562
Fixed by #563, thanks for the input!

[2016-01-22 16:49] #562 closed, assigned to nobody

[2016-01-25 18:37] crandmck commented on #533
Please note that http://www.expressjs.com.cn/ is not connected in any way to this repo, and is outdated and potentially inaccurate.

[2016-01-30 01:23] gilsondev opened #566 "Create documentation in gitbook to download"

[2016-02-01 15:21] tunniclm opened #567 "Improve documentation of app.use() mounting sub-applications"
While looking at https://github.com/strongloop/express/issues/2865 I noticed that the inheritance of application settings (particularly in relation to defaults) does not appear to be documented either in the `app.use()` or `Event: mount` sections.

It would be good to amend the documentation to describe some of the information in that issue, particularly Doug's comment (which is more readable than

[2016-02-01 17:42] crandmck commented on #566
I don't know anything about GitBook, but it looks interesting. I assume the purpose of this is to create a PDF, since the HTML/web version already exists :-)

Let me look into it a bit more to see what's involved.  Are there are any specific suggestions?

Anyone else interested in this suggestion?

[2016-02-01 17:43] crandmck commented on #567
Makes sense.  Let me look into it.

[2016-02-01 22:11] crandmck commented on #567
@tunniclm app settings are documented in http://expressjs.com/en/4x/api.html#app.settings.table.

IIUC, a sub-app will inherit the value of an app setting, _unless_ the app setting has a default value.  All of the settings in that table have default values, except for `view engine`, so we should just state along with that table that a sub-app will inherit the value of `view engine` and any other "

[2016-02-02 18:39] crandmck commented on #566
Hi @gilsondev Thanks for the suggestion.

I tried it out, and unfortunately it looks like it wouldn't be easy to generate a GitBook from this repo since its structured to use Jekyll.

Here are some of the issues I encountered:
- YAML preface in each page is necessary for Jekyll and translation and I couldn't find a way to make GitBook ignore it; for example:

[code]
- Intrasite links contain a liq

[2016-02-03 00:20] crandmck commented on #541
OK @hacksparrow I can see the issue.  I would really like to find a way to eliminate having 13 versions of the API docs to maintain, though.

It should be possible to maintain the localized menu, header, and footer on the API doc pages, so the only real problem I think is that links to non-API docs (i.e. "guide" topics) would always go to the English version.

One possible way to mitigate that wou

[2016-02-03 11:47] tunniclm commented on #567
Just checked the (v4.13.3) code and 'view cache' is not set unless env is production, so no default otherwise.

Properties with default settings: x-powered-by, etag, env, query parser, subdomain offset, trust proxy*, view, views, jsonp callback name, view cache**

\* As mentioned, trust proxy does inherit because it has been explicitly coded to do so for back-compatibility.
*\* As you said, view c

[2016-02-03 12:04] gilsondev commented on #566
I understand. The structure created for this leaves more complicated to use in gitbook. In this case it would follow the structure that it suggests he can adapt to online reading and download :/

Initially would be the site for documentation and adaptation gitbook, ie two jobs. I do not have in mind as we could automate this

[2016-02-03 18:32] crandmck commented on #541
@hacksparrow This takes on a bit more urgency in light of [this development](https://github.com/nodejs/TSC/pull/39#issuecomment-179356711):

We need to figure out how we can use .md docs in a different repo (https://github.com/strongloop/express or wherever it lands in the future).  And I don't think we want to move 13 copies of the API docs there.

[2016-02-03 18:57] jasnell commented on #541
+1, it definitely needs to be simplified to eliminate the duplication. Some bit of tooling perhaps to make sure the one version get's copied to all the right locations?

[2016-02-03 19:35] crandmck commented on #541
That's possible, but IMHO would be better to have just one version of it.  Need to investigate.

[2016-02-04 01:57] hacksparrow commented on #541
Will work on it today, let's catch up in your morning.
On Thu, 4 Feb 2016 at 1:13 AM, Rand McKinney notifications@github.com
wrote:

[2016-02-04 09:11] hacksparrow commented on #541
@crandmck PR #568 fixes this. Check out the [`try/single-api-doc`](https://github.com/strongloop/expressjs.com/tree/try/single-api-doc) branch locally and preview it before merging.

[2016-02-04 22:07] jordonias opened #569 "Syntax Highlighting"
I'm not seeing syntax highlighting on the `api` pages, I seem to remember it having it before. Syntax highlighting seems to be fine on the `guide` pages.

[2016-02-04 22:47] crandmck commented on #569
Hah @jordonias you beat me to it! I just mentioned this to @hacksparrow this morning, as I noticed it also.  Thanks for prodding us....

@hacksparrow can you PTAL?  I could have sworn we fixed this before...

[2016-02-05 00:32] crandmck commented on #567
See the PR.
@tunniclm  I added an explanation of when settings are inherited in the sections you suggested with xref.
I also tried to clarify the settings table and made a few other unrelated formatting changes here and there.

[2016-02-05 16:22] hacksparrow commented on #569
Diagnosis: Something changed in GitHub's interpretation and rendering of the backtick code blocks.

Working on a fix.

[2016-02-05 16:26] hacksparrow commented on #569
Update to Jekyll 3.1.1 reproduced the issue locally. @jordonias @crandmck

[2016-02-07 14:30] hacksparrow commented on #569
Fixed.

Jekyll has completely broken GitHub's implementation of the backtick code blocks. Had to manually replace all instances of backtick code blocks with jekyll tags.

[2016-02-07 14:30] #569 closed, assigned to nobody

[2016-02-08 17:25] crandmck commented on #569
Thanks @hacksparrow ... Boo Jekyll :-(

[2016-02-09 21:36] crandmck commented on #567
This is done.

[2016-02-09 21:36] #567 closed, assigned to nobody

[2016-02-09 21:37] crandmck commented on #566
I'm going to go ahead and close this, but will be happy to revisit if there is way to address the issues I noted above.

[2016-02-09 21:37] #566 closed, assigned to nobody

[2016-02-09 21:38] crandmck commented on #541
This is done.

[2016-02-09 21:38] #541 closed, assigned to hacksparrow

[2016-02-10 21:21] crandmck opened #573 "express.static docs need to be updated"
http://expressjs.com/en/4x/api.html#express.static omits the `fallthrough` option, and needs some other updates / cleanup to align with https://www.npmjs.com/package/serve-static.

[2016-02-10 21:23] dougwilson commented on #573
Added in release 4.13.0, in June 2015 (https://github.com/strongloop/express/blob/master/History.md#4130--2015-06-20).

[2016-02-11 18:22] crandmck opened #574 "Work to move API doc source to expressjs/express repo"
Per https://github.com/expressjs/express/issues/2887 we're going to move the API doc source from this repo to https://github.com/expressjs/express/.

This issue will track the work to be done in this repo to make that happen.

In addition to actually moving the .md files, we need to add a script here so we don't have to maintain two copies of the API doc.

Before we do that, we should convert ``~~

[2016-02-11 18:33] crandmck opened #575 "Clean up API doc"
Before moving the API doc (per #574) it would be nice to make an edit pass.  There are lots of small formatting, wording, and editorial shortcomings that would be nice to fix here, before we move the files there.  This will also avoid cluttering the `express` repo with commit(s) to fix these little things.

This will NOT affect the substance/content, though we may turn up some stuff that needs to

[2016-02-12 16:55] hacksparrow commented on #574
@crandmck AFAIK, we'll need something online if we want to use git hooks.

[2016-02-12 18:17] hacksparrow commented on #573
@crandmck added the details. What other updates / cleanup do you have on mind?

[2016-02-12 18:33] crandmck commented on #573
@hacksparrow https://www.npmjs.com/package/serve-static has more details that we could include.  Right now, we just reference that package, but perhaps we should include the info it here...?

For example, this clarifies a how it works in general and what happens when the file is not found:

And for `dotfiles`:

Similarly for several of the other options, the doc doesn't currently provide this much

[2016-02-13 18:27] crandmck commented on #575
Addressed by #576.

[2016-02-13 18:27] #575 closed, assigned to crandmck

[2016-02-15 10:29] sjanuary opened #578 "Add clarification on ordering of middleware if Route is used"
An [issue was raised in express](https://github.com/expressjs/express/issues/2873) where a `Route` was created by calling `router.route`, then some middleware was added to the Router, then some method handlers were added to the Route.  The user expected the middleware added to their Router to be called before the Route's method handlers, but in fact it was not because the Route had been created fi

[2016-02-16 11:08] hacksparrow commented on #573
@crandmck considering `static` is a baked in middleware, I guess it makes sense to elaborate it.

[2016-02-16 16:52] crandmck commented on #573
OK, I'll make a pass at it.

[2016-02-17 00:55] crandmck commented on #578
I believe this is addressed by #579 and #580.

[2016-02-17 00:55] #578 closed, assigned to nobody

[2016-02-17 00:59] crandmck commented on #574
OK, for now it will just have to be a manual process, I guess... unless anyone has any suggestions.

My plan is to complete this task this week.

Once I make the above-noted edits to the API .md files and check them in to the `express` repo, I'll remove them from this repo and add a script at the top level that looks something like this.  I tested this, and it works, but I'm certainly open to sugg

[2016-02-17 23:49] crandmck commented on #573
Done in #581

[2016-02-17 23:49] #573 closed, assigned to nobody

[2016-02-18 00:52] crandmck commented on #574
To clarify, we don't actually want to remove the `_includes/en/api/4x/*.md` files from this repo.  We just want to copy them there (see https://github.com/expressjs/express/pull/2892), then make sure that any time someone makes a change there it gets copied here.

So, all this actually requires is adding a script to sync the files from `expressjs/express`.

[2016-02-26 18:55] crandmck opened #589 "Layout issue in community page"
http://expressjs.com/en/resources/community.html is not displaying the `<h2>` headers properly.  It's displaying the `##` markdown literally.

When I run the site locally, it works properly, the markdown in the file _looks_ OK, and other markdown in the file (e.g. links) works fine, so I'm somewhat at a loss as to how to fix this.

@hacksparrow Do you have any ideas?

[2016-02-27 10:17] petetnt commented on #589
Most likely needs spaces between `##` and the title itself (`## Mailing list`, not `##Mailing list` :bug:

Some markdown parsers are stingy that way (the page renders correctly on the repo though)

[2016-02-28 12:43] hacksparrow commented on #589
@crandmck the Markdown parser on GitHub changed and broke the formatting. Fixed by 470e15a.

[2016-02-28 12:43] #589 closed, assigned to nobody

[2016-02-28 12:49] Nonemoticoner opened #590 "Outdated commands for nsp in Security best practices"
http://expressjs.com/en/advanced/best-practice-security.html in **Ensure your dependencies are secure** there is a suggestion to use the following commands:

Both of them don't work as have been replaced with command:

Here you can see (using latest version i.e.2.2.0)
![cwindowssystem32cmd exe](https://cloud.githubusercontent.com/assets/3943632/13379289/f05fe6a0-de21-11e5-882d-f519a592d1df.png)

[2016-02-29 17:14] crandmck commented on #589
Thanks @petetnt and @hacksparrow ... for some reason that did not occur to me!

[2016-02-29 17:18] crandmck commented on #590
Fixed in #591
Thanks @Nonemoticoner

[2016-02-29 17:18] #590 closed, assigned to nobody

[2016-02-29 22:25] crandmck commented on #574
Current state at this point is that API docs are in https://github.com/expressjs/express-api-docs and we need to sort out how these will be integrated with the API docs here.

[2016-02-29 22:28] crandmck opened #592 "Propagate updates to API docs to expressjs/express-api-docs"
This issue is to ensure we don't forget to copy any changes made to [API docs](https://github.com/strongloop/expressjs.com/tree/gh-pages/_includes/api/en/4x) since 18 Feb 2016 to https://github.com/expressjs/express-api-docs.  Currently, this is just a few small PRs.

[2016-03-02 00:35] crandmck opened #593 "De-dupe API docs"
The API docs are now in https://github.com/expressjs/express-api-docs as well as here.  In the Express TC meeting, it was decided to consolidate them as described in https://github.com/expressjs/express/issues/2902#issuecomment-189068604.  For convenience, I reproduce the basic proposal here:
- Create a GitHub Pages site from the API docs at https://github.com/expressjs/express-api-docs, which wou

[2016-03-02 00:38] jasnell commented on #593
Once @mikeal provides the information I need to transfer the domain
ownership I will initiate. Until then, I can create the CNAME record to
point to the appropriate github.io location.
On Mar 1, 2016 4:36 PM, "Rand McKinney" notifications@github.com wrote:

[2016-03-02 00:38] blakeembrey commented on #593
Just quickly, but I believe the intention was http://expressjs.info/ using an A-name DNS entry supported by GitHub pages. More information: https://help.github.com/articles/using-a-custom-domain-with-github-pages/

[2016-03-02 00:40] jasnell commented on #593
Ah, right, A record, not CNAME. Sorry got CNAME stuck in my head. :)
On Mar 1, 2016 4:38 PM, "Blake Embrey" notifications@github.com wrote:

[2016-03-02 20:40] joepie91 opened #594 "Missing redirect for writing-middleware.html"
This URL appears to have gotten lost in the shuffle of moving to an `/en/` prefix, and now 404s without a redirect: http://expressjs.com/guide/writing-middleware.html

It should be redirecting to http://expressjs.com/en/guide/writing-middleware.html instead.

[2016-03-02 21:24] crandmck commented on #594
Thanks, @joepie91 .. Where did you see the link to http://expressjs.com/guide/writing-middleware.html?  AFAICT the nav. header links to http://expressjs.com/en/guide/writing-middleware.html.

[2016-03-02 21:29] dougwilson commented on #594
There are many web sites still pointing to the URLs that were before the translation. I would expect it to redirect just like http://expressjs.com/guide/using-middleware.html does today.

[2016-03-02 21:32] dougwilson commented on #594
Unless the writing middleware page didn't exist before the translation project happened?

[2016-03-02 21:44] crandmck commented on #594
Not sure whether it was there or not, but your point is still valid.  Didn't think that through.
Just an oversight afaik.
Fixed with 042b2412ef687e1ab6c7af6b4ef9f6bdde5e2655

Thanks for catching, @joepie91!

[2016-03-02 21:44] #594 closed, assigned to nobody

[2016-03-02 22:37] joepie91 commented on #594
It definitely did exist before the transition. I found out about this issue due to a reader of [one of my Gists](https://gist.github.com/joepie91/95ed77b71790442b7e61) complaining about a dead link :)

Thanks!

[2016-03-07 19:16] crandmck opened #597 "Import changes to fix code blocks, etc."
Import the changes made in https://github.com/expressjs/express-api-docs/pull/3.  This allows us to use backticks for code blocks, and some other improvements.

[2016-03-07 20:35] kevdez opened #598 "English footer points to the incorrect fork link"
It links to https://github.com/expressjs/expressjs.com which results in a 404.

I'll go ahead and correct this to link to https://github.com/strongloop/expressjs.com

The English version is the only one I'm noticing this on.

[2016-03-08 00:02] #598 closed, assigned to nobody

[2016-03-08 00:03] crandmck commented on #598
Thanks for catching!  Dumb mistake on my part.

[2016-03-08 19:54] Knighton910 commented on #557
@crandmck tomorrow I'll search and list a few companies. although I'm sure you wanted the company developers to speak up, It goes without saying that, i'm sure there busy, and won't come across this until months later. But anyway I'll list a few after my search then we can accrue thoughts on it then.

[2016-03-08 21:14] crandmck commented on #557
@kelthenoble Thanks.  This kind of stalled out, as you can see, so anything would help at this point.

[2016-03-08 21:30] Knighton910 commented on #557
sounds good, I'll have something tomorrow on your metaphorical desk.

[2016-03-08 21:53] julianlam commented on #557
Happy to include NodeBB in this list :)

Let me know if you need anything from us (even a forum!)

[2016-03-08 22:03] Knighton910 commented on #557
Sounds great @julianlam and thanks @jordonias for spreading the word.

[2016-03-09 20:54] Knighton910 commented on #557
**`Rising Stack`** just signed on, so that's a yes.
And I've reached out to a few more companies & developers, who are node.js savvy. :100:

[2016-03-09 21:02] darrennolan commented on #557
[Fox Sports Australia](http://www.foxsports.com.au) uses expressjs in production.

Manages all our routes and responses for displaying our isomorphic widgets. :-D

[2016-03-09 21:03] ded commented on #557
Previous co is on Express: mix.com (altho I would let current staff opt-in)
Current co: preapp.co

[2016-03-09 21:04] antoinepairet commented on #557
`DentiSphere` uses Express in production [DentiSphere](https://dentisphere.com). Dental practice management in the cloud from Belgium

[2016-03-09 21:05] Knighton910 commented on #557
Awesome. It's very nice to hear from you guys. :chart_with_upwards_trend:
+1 Thanks to @rvagg tweet

[2016-03-09 21:08] antoinepairet commented on #557
Thanks to @rvagg [tweet](https://twitter.com/rvagg/status/707671864236113920)

[2016-03-09 21:17] kapouer commented on #557
`EDA SARL` uses Express in production, almost finished [this site](http://gexpertise.fr), which is our first site entirely built on client browser, using [rest api](https://github.com/Vincit/objection-rest) and [a server renderer](https://github.com/kapouer/express-dom). And web components, and polyfill-ua, etc...

[2016-03-09 21:21] joews commented on #557
[Ripjar](https://ripjar.com) has several express apps in production. Count us in :tada:

[2016-03-09 21:26] blakeembrey commented on #557
[MuleSoft](https://www.mulesoft.com/) uses Express in production and has built a framework alongside for working with RAML.

[2016-03-09 21:26] Knighton910 commented on #557
**`Uber`** via developer `@Raynos` Yes **Uber** uses it in production. And can even say a few words if necessary if we  Cc lxe

[2016-03-09 21:27] Knighton910 commented on #557
Thanks guys, this is great feedback. :100:

[2016-03-10 00:04] crandmck commented on #172
As announced by @jasnell in today's Express TC meeting, this repo will be transferred to the [expressjs org](https://github.com/expressjs) and and the expressjs.com domain name will be transferred to the foundation.   It may take some time, but the process is now underway and _will_ happen. :-)

[2016-03-10 00:13] crandmck commented on #593
With the [announcement](https://github.com/strongloop/expressjs.com/issues/172#issuecomment-194578177) of the plan to move this repo to expressjs org, this problem goes away, so I'm closing.

[2016-03-10 00:13] #593 closed, assigned to nobody

[2016-03-10 00:14] crandmck commented on #592
With the [announcement](https://github.com/strongloop/expressjs.com/issues/172#issuecomment-194578177) of the plan to move this repo to expressjs org, this problem goes away, so I'm closing.   Once the move happens, we should probably just delete https://github.com/expressjs/express-api-docs (assuming the TC concurs).

[2016-03-10 00:14] #592 closed, assigned to nobody

[2016-03-10 00:16] crandmck commented on #574
With the [announcement](https://github.com/strongloop/expressjs.com/issues/172#issuecomment-194578177) of the plan to move this repo to expressjs org, this issue becomes moot, so I'm closing.

[2016-03-10 00:16] #574 closed, assigned to nobody

[2016-03-10 00:19] crandmck commented on #557
This is great, thanks everyone for chiming in, and thanks especially to @rvagg for publicizing.

We probably have enough to open a PR for an initial page, but I won't have time to do so for a few days.  Anyone else feel free in the meantime...

[2016-03-10 00:31] julianlam commented on #557
Perhaps everybody who has contributed here can provide a direct link to download their logos?

Maybe @crandmck can update the top issue text with the links so they're centralised as well.

In any case: [**NodeBB**](https://nodebb.org/nodebb_logos.zip)

[2016-03-10 04:59] 1999 commented on #557
Many [Yandex](http://www.yandex.ru) services use express in production frontend.

[2016-03-10 05:01] Knighton910 commented on #557
Thx for sharing @1999

@crandmck I'll have an `PR` for it early next week.

[2016-03-10 20:39] andineck commented on #557
[intesso](http://intesso.com/) is using it in production for different clients.

[2016-03-11 01:06] crandmck commented on #557
@kelthenoble  Awesome, thanks!

[2016-03-11 01:17] Knighton910 commented on #557
:+1:

[2016-03-11 19:54] mrchief opened #600 "Express v4: Always returns weak Etags"
Even though I set for strong Etag, express always returns weak Etags:

[code]

The flags are being set correctly as evident by this debug output:

![image](https://cloud.githubusercontent.com/assets/781818/13713802/dc9981f0-e798-11e5-90f1-aa3476632686.png)

However, the response headers comeback with weak Etag

![image](https://cloud.githubusercontent.com/assets/781818/13713812/ec210ad0-e798-11e5-

[2016-03-11 20:00] dougwilson commented on #600
Hi @mrchief, `express.static` does not respect application settings like `etag`, as it is a completely separate module, just included as `.static` for convenience. Even then, it does not support strong ETags at all, as that would require buffering the entire file into memory and performing a cryptographic hash on the contents, at minimum, to provide the guarantees a strong ETag requires. The stati

[2016-03-15 05:35] Hanzig commented on #557
[Exove](http://www.exove.com) is using Express in production for some projects. Please find the logo attached as well.
![exove_logo_red_rgb_1000](https://cloud.githubusercontent.com/assets/1893613/13768583/8b01204c-ea80-11e5-8554-2939ca0b9d02.png)

[2016-03-15 05:38] Hanzig commented on #557
[Exove](http://www.exove.com) is using Express in production for some projects. Here's a link to our [logo](http://www.greatplacetowork.fi/storage/companyprofiles/exove_logo_red_rgb_1000.png).

[2016-03-19 00:09] crandmck commented on #600
@mrchief Is there something we need to clarify in the documentation?  If so, please say so; otherwise, I'll close this issue.  Thanks!

[2016-03-19 00:48] crandmck commented on #557
Added by https://github.com/strongloop/expressjs.com/pull/603
Thanks @lordKnighton !

[2016-03-19 00:48] #557 closed, assigned to nobody

[2016-03-19 01:03] Knighton910 commented on #557
No worries @crandmck :8ball:

[2016-03-20 07:19] Hanzig commented on #557
I noticed a typo in the link '_Compainies_ using Express'.

[2016-03-20 07:56] Knighton910 commented on #557
thanks @Hanzig we will fix it, or do you want to do a `PR` for it?

And if you choose to do it, do another `PR` for your company logo, or i will add it later.

[2016-03-20 12:53] Hanzig commented on #557
Sure @lordKnighton I'll do that. Our company logo is already there as well. Thanks :+1:

[2016-03-20 16:46] Knighton910 commented on #557
Awesome @Hanzig

[2016-03-21 02:00] mrchief commented on #600
@crandmck Thanks for reaching out!

Yes, I think the documentation can make few things explicit or clearer.

For starter, it'd be great to have what @dougwilson explained as a sidenote or footnote near/after the options (`http://expressjs.com/en/4x/api.html#express.static`) table. Just a note saying "static will always send weak eTags" will suffice and a link to details, if possible, will be extra

[2016-03-22 13:29] Eddy1028 opened #607 "http://expressjs.com/ lacking a favicon."
Hi,
When I visit http://expressjs.com/ , it makes me feel uncomfortable/unprofessional without a favicon on this site.
I hope you'll add it soon, then I will be happy :)

![image](https://cloud.githubusercontent.com/assets/6291736/13953100/1bf1675c-f075-11e5-9818-20270405b349.png)

[2016-03-22 14:48] dougwilson commented on #607
Express doesn't have a logo to even make a favicon from. The logo you highlighted in your screenshot is the logo for Strongloop. I think that logo appearing next to the word "Express" is actually an error on the website.

[2016-03-23 17:50] crandmck commented on #607
Yes @dougwilson that was an oversight.  I just removed it with 241a27a9fe6afedcc3afb2f90d1a519cbcab08a4.
It was in CSS, so to see the change, you might have to do a hard-refresh to clear your browser cache.

I agree it would be nice to have a favicon, but as Doug notes, we don't have a logo.  Perhaps we can come up with a simple logo for this purpose?   I presume the TC would have to sign off on i

[2016-03-23 18:03] crandmck commented on #607
I just thought of something - what about using the default favicon set by the Express generator from `serve-favicon`:  ![express-favico](https://cloud.githubusercontent.com/assets/2925364/13995496/a68673be-f0e6-11e5-9bf8-d4aee68d09ed.png) ?

Where did that image come from?  Can we use it?

It might give people the idea that the site uses Express itself (which it doesn't), so that's a counter-argum

[2016-03-23 18:05] hacksparrow commented on #607
That's the [connect](https://github.com/senchalabs/connect) icon, if I am not mistaken.

[2016-03-23 18:14] crandmck opened #609 "Change references to "jade" to "pug""
Per https://github.com/expressjs/express/issues/2952, need to update http://expressjs.com/en/guide/using-template-engines.html (and search for any other instances of "jade").

[2016-03-23 18:31] crandmck commented on #607
OK, then maybe not such a great idea :-(

If that's true, then it begs the question of whether it's the best favicon to use for the `express` generator and `serve-favicon`.

[2016-03-23 18:54] dougwilson commented on #607
The express generator provides no icon at all (https://github.com/expressjs/generator/blob/master/templates/js/app.js#L17-18). I would assume that is from the Express generator for the 3.x line of Express, which was based on Connect. I wouldn't use that icon here, because it's likely that Sencha Labs owns the copyright on that icon.

[2016-03-23 21:01] crandmck commented on #607
Interesting.  I wonder why I see it?  Perhaps I'm doing something wrong or misunderstanding.

Here's how I got the above screenshot of the favicon:
- Updated my installation of the generator: `npm i -g express-generator` (running `express --version` shows 4.13.1).
- Created a new app, with `express my-express-app` & installed deps with `npm i`
- Ran with `npm start`
- Loaded http://localhost:3000/

[2016-03-23 21:05] dougwilson commented on #607
I'm sure your browser has it cached. Try clearing your entire browser cache or even using a completely different browser. If you ever loaded something on localhost port 4000 with that icon, it would get stuck there for any site on that host.

[2016-03-23 21:09] dougwilson commented on #607
Another trick to update the cache is to manually browse to the favicon file, http://localhost:4000/favicon.ico let it 404 and then go back to the page and reload.

[2016-03-23 21:20] crandmck commented on #607
Yep, that was it.  I used a different browser and it didn't show up.   Thanks for clearing that up!

Now we're back to the original issue:

I think it would be worthwhile to address this at some point.  It's not urgent, though, since there has not been a favicon (at least since I've been involved with the project ~18 months +).

[2016-03-23 22:14] crandmck commented on #600
I addressed 1 and 2 with #610 (not yet merged).

This would be great to add.  @mrchief do you have a simple example like this that we could use?

[2016-03-23 22:55] mrchief commented on #600
I don't have a recipe but one can probably use something like [node-ecstatic](https://github.com/jfhbrook/node-ecstatic)?

[2016-03-23 23:02] dougwilson commented on #600
The ETags in `node-ecstatic` are not strong either. You can see the implementation here: https://github.com/jfhbrook/node-ecstatic/blob/a83e7c6aa09aca3b904d2f0f2ec85741873003a9/lib/ecstatic/etag.js Just lacking the `W/` does not make them strong; they have to actually provide the guarantees that go along with the ETag specification. `serve-static` does not let you just claim the weak ETags it gene

[2016-03-24 04:41] mrchief commented on #600
@dougwilson I hadn't looked at the implementation, thanks for that tidbit.

Now coming back to recipe topic, this is another alternative I contemplated but never got time to test (bear with me, just thinking out loud):

[code]

Note that:
- This uses [eTagify](https://github.com/lloyd/connect-etagify) which I think is the only package that lets you hash the response buffer instead of asking for a

[2016-03-24 04:56] dougwilson commented on #600
Hi @mrchief, looking at the implementation of the `etagify` module, that one also has issues, namely it assumes the file will never change on disk. If the file does change on disk, then it will send the wrong ETag value until you restart the server. This may be acceptable to certain applications, but if that is the case, it is probably much more efficient and easier to pre-calculate the ETags for

[2016-03-24 04:58] dougwilson commented on #600
Looking at the issues in the `etagify` module, it looks like it doesn't even function with Express 4.x, which is probably a necessary thing to work for our documentation.

[2016-03-24 14:17] mrchief commented on #600
Its one's own custom "static-file-serving" middleware (that someone would have to write if not using express.static).

My question was, if I use `express.static` with `etag:false` option, will it allow me to set etag header? I'm bit fuzzy on this but I think I tried that and it wasn't even calling `setHeaders` for static files. Again, I might be wrong on this one...

Like I said, I don't have a re

[2016-03-24 14:21] mrchief commented on #600
Yes of course. But does the example recipe has to be the most perfect, optimum, code that one can simply copy paste and it'll work? If that is the expectation of people coming to read any documentation in general, then I'd be very hesitant to include any recipe at all.

[2016-03-24 18:25] crandmck commented on #600
No, but it should generally reflect "best practices" if possible.  If it's just a simple example that's non-optimal or inefficient, we can just say that.  But if it's really not good practice (or if the code wouldn't work, which is what I think Doug said about `etagify`), then better not to use such an example.

I don't have deep understanding of this, so I'll let you guys make the call--or come u

[2016-03-24 20:45] mrchief commented on #600
@crandmck Hmm... I agree about the correctness part. While I don't blame @dougwilson for stating the performance caveats, I would admit that at first that seemed a little excessive for a simple recipe (until he mentioned about issues). I admire his passion though, even though my lazy half hates him for bringing it up! :wink:

I'll have to try this. I think etagify works in Express 4 but I'll try t

[2016-03-24 21:17] crandmck commented on #600
OK, I went ahead and merged #610 which has the fixes I mentioned [above](#issuecomment-200565001).  Thanks for your help @mrchief. I will open a new PR if/when we get this example sorted out...

[2016-03-24 22:09] dougwilson commented on #600
Yes. In fact, you don't even need to set it to false if you are setting the ETag header yourself, only if you want to ETag header at all. The module will not set the ETag header if it was already set by something else, allowing you to set it however you wish.

That's odd, because that's literally the only purpose for that option. Can you provide the code you are using that shows it not working? Al

[2016-03-25 01:32] mrchief commented on #600
@dougwilson I'll try to send a you sample to repro the problem. I was trying to use it in conjunction with [harpjs](http://harpjs.com/) (was using it as middleware and not harpjs server) and so maybe it was a combination of things that caused those issues.

Strong ETags are needed to get A scores with PageSpeed, YSlow etc. and with some dumb-heads who claim to be upholders of enterprise standards.

[2016-03-25 01:48] dougwilson commented on #600
Trying to just "get A scores" with PageSpeed is not worth all the effort that needs to be expended here (plus, I just went to PageSpeed and they rank a score over 100, not letter grades?). Can you link to the documentation from those sources explaining that you have to have strong ETags and the reason behind that recommendation?

The only docs I found was from YSlow (https://developer.yahoo.com/pe

[2016-03-25 03:14] mrchief commented on #600
PageSpeed uses numbers but what I meant with "A scores" was top scores on respective tools, not necessarily the alphabet.

Yahoo says turn it off if you're not doing it the right way, and not in general. Their tool however, will still rank and affect the overall grade.

![image](https://cloud.githubusercontent.com/assets/781818/14037061/4a26e29e-f216-11e5-8605-4ad442d8810e.png)

Same thing with go

[2016-03-25 03:16] mrchief commented on #600
True, but when you have a static site, there isn't much else to optimize now, isn't it?

[2016-03-25 03:33] dougwilson commented on #600
Sure, but the best optimization you can make here is literally use anything else to servie your static files and not Node.js. Just switching your static file serving to nginx will give you an enormous bang for your buck. You should only serve static files from Node.js for development or prototype sites.

[2016-03-25 13:54] mrchief commented on #600
Yep, and that's already in the works. I need to dockerize it first though.

[2016-03-29 02:37] Knighton910 commented on #609
I'm doing a few updates to express guides, i can handle this, but it will be several days or so, do you wish to take care of this, or shall i get to it?

[2016-03-29 17:12] crandmck commented on #609
@lordKnighton Please do!  I've been meaning to get to this, but just haven't had a chance.  Thanks!!

[2016-03-29 17:26] hacksparrow commented on #607
https://github.com/strongloop/expressjs.com/commit/a74564bdbe3066dcb4b9214a32689c6a9b96d45f adds an "interim" favicon. We continue to work on the logo in the meantime.

[2016-03-29 17:26] #607 closed, assigned to nobody

[2016-03-29 17:34] crandmck commented on #607
Thanks @hacksparrow ... Good start.  Definitely better than nothing!

[2016-03-29 19:07] Knighton910 commented on #609
no worries

[2016-04-01 04:42] azhao12345 opened #611 "documentation for route parameters"
The documentation mentions route parameters a few times, but never explains how the url is parsed and what constitutes a valid route parameter

The routing guide also makes no mention of route parameters

[2016-04-02 04:52] Tammeny opened #612 "How can I get the id parameter"
Hi, i want to get the id parameter, like this：

[code]

thx
In expressjs 4.x.

[2016-04-05 23:56] crandmck commented on #612
You can see an example of how to do this in http://expressjs.com/en/guide/using-middleware.html

[code]

Your path is reversed from `/user/:id` to `:id/user`, but that doesn't matter.  You can still get it with req.params.id.

Also, issues in this repo are for questions/comments/corrections to the documentation, not asking questions.  In the future, please ask in one of the channels noted in http:

[2016-04-05 23:56] #612 closed, assigned to nobody

[2016-04-06 18:41] crandmck commented on #611
Yes, I think we can clarify this.  Probably the [routing guide](http://expressjs.com/en/guide/routing.html) is the right place.

IIUC, a route parameter is a variable in a path string as in `:id` here:

[code]

My assumption is that the leading colon character `:` identifies the parameter, whose value is always parsed a string.

You can then use the parameter name in a call to `app.param()` or `ro

[2016-04-06 23:03] blakeembrey commented on #611
@crandmck You may also find the README in https://github.com/pillarjs/path-to-regexp useful for this.

[2016-04-06 23:08] crandmck commented on #611
Thanks.  In particular https://github.com/pillarjs/path-to-regexp#parameters addresses some of my questions.  Does Express support everything in `path-to-regexp`, e.g. optional params (with `?`), zero/one or more with `*` and `+` ?

[2016-04-06 23:12] blakeembrey commented on #611
Not in Express 4.x. This part (https://github.com/pillarjs/path-to-regexp#compatibility-with-express--4x) may help, but I can see it's tricky to view the difference. The main difference to the current version docs is that `*` is a wildcard in Express 4.x and `+` does not exist. Optional parameters do exist.

Edit: I made this comment a little while back, https://github.com/expressjs/express/issues

[2016-04-08 09:05] mvtcode opened #614 "response status 206 error!"
i using express for web static file, when i streaming extension file .mp4, .mp3,... server isn't response data.

[2016-04-08 16:40] crandmck commented on #614
@mvtcode Is this a documentation issue?  If so, can you please be more specific about the problem.  Ideally, include a link to the doc page that needs to be updated.  This repo is only for documentation, not for the software.

If you want to report a bug in Express, please open an issue in https://github.com/expressjs/express.

[2016-04-13 22:08] kickinbahk commented on #469
@crandmck I would love to help with this....

**Here are the topics I think would be necessary:**
- Passing Functions as Args
- Callbacks
- Async programming
- Routing
- Modules

Let me know any thoughts and how I can help!

[2016-04-13 22:54] #614 closed, assigned to nobody

[2016-04-13 22:55] crandmck commented on #609
@lordKnighton Are you going to take another crack at this?  If not, then I'll try to do it.  No worries either way, just let me know.

[2016-04-13 22:57] crandmck commented on #600
Can we close this?  Is there something that we need to add/change in the docs?

[2016-04-13 23:13] crandmck commented on #469
Hi @kickinbahk Thanks for the offer!

Your suggestions sound fine, though if "routing" means REST routing, that's specific to Express and already covered [here](http://expressjs.com/en/guide/routing.html).  But I think the other topics you suggest would be an excellent start.

Also, as suggested previously, we could take a look at http://nodeschool.io and specifically what's covered in https://git

[2016-04-13 23:18] Knighton910 commented on #609
go for it, i got swapped. I can do it next week, if you prefer me to do it.

[2016-04-14 00:22] crandmck opened #617 "Update generator doc for Jade -> Pug when generator is updated"
Change instances of "Jade" to "Pug" in http://expressjs.com/en/starter/generator.html (https://github.com/strongloop/expressjs.com/blob/gh-pages/en/starter/generator.md) when https://github.com/expressjs/generator/pull/107 is merged and express-generator is published to npm.

[2016-04-14 00:25] crandmck opened #618 "Update translated docs for Jade -> Pug"
Need to update all translated docs with same changes as in #616.

[2016-04-14 00:26] crandmck commented on #609
OK, PR updates the English docs, and I opened #618 to track task to update translated docs.  Also added #617 for when the generator is updated.

@lordKnighton (or anyone) pls take a quick look at the PR ^

[2016-04-14 01:43] Knighton910 commented on #618
Nice 🎱   & Hey if you need me to do for the other languages I'm in. Just not this week though.

[2016-04-14 01:44] Knighton910 commented on #609
👍

[2016-04-14 16:56] mrchief commented on #600
@crandmck We can close this. I don't have anything else to add at the moment. Thanks!

[2016-04-14 16:56] #600 closed, assigned to nobody

[2016-04-14 17:15] crandmck commented on #609
Thanks!
We'll address non-en docs as time permits, and generator docs when the generator is updated.

[2016-04-14 17:15] #609 closed, assigned to nobody

[2016-04-14 17:16] Knighton910 commented on #609
+1

[2016-04-14 17:16] crandmck commented on #618
Thanks @lordKnighton appreciate your help whenever you're able.  I just didn't have time to do these yet.... If you get to it before I do, that would be welcome! :-)

[2016-04-14 17:18] Knighton910 commented on #618
alright cool, no worries man :)

[2016-04-15 16:17] crandmck commented on #172
Repo finally got moved, so can close this.  Thanks @jasnell.

[2016-04-15 16:17] #172 closed, assigned to nobody

[2016-04-19 23:37] crandmck commented on #597
This includes the changes above and modiying all the code blocks to use backticks. I also added the `Gemfile`, updated `config.yml` as in https://github.com/expressjs/express-api-docs/pull/3, as well as adding to it the line

[code]

which seems to be required to make text wrap properly.

However, in this branch there is an issue with the 4.x API doc page (http://localhost:4000/en/4x/api.html when

[2016-04-20 16:20] hiroppy opened #621 "expire link of `/ja/starter/hello-world.html`"
url: http://expressjs.com/ja/starter/hello-world.html

I checked in local(by jekyll).
<img width="455" alt="2016-04-21 0 09 19" src="https://cloud.githubusercontent.com/assets/3367801/14681554/8a76d628-075c-11e6-8315-6464dea460f1.png">

`hello-world.md` is output in `md`.

[2016-04-20 18:58] ibc opened #622 "Menu is hidden"
The menu is hidden in the "computer" version.

[2016-04-20 20:15] crandmck commented on #622
Can you please clarify?  I don't understand what you mean.

[2016-04-20 20:18] ibc commented on #622
The menu containing "Home", "Getting started", "Guide" was not shown. But... now it's shown, so no idea what happened.

[2016-04-20 20:18] #622 closed, assigned to nobody

[2016-04-21 21:19] crandmck commented on #621
Thank you for reporting this.

There was a strange spurious character at the beginning of the file that was preventing Jekyll from rendering the page properly.  I removed the character in 3763aa42361efa0c7b0d27aa2f142a0454c663fc and now the page renders properly: http://expressjs.com/ja/starter/hello-world.html.

[2016-04-21 21:19] #621 closed, assigned to nobody

[2016-04-21 22:47] crandmck commented on #597
I figured out the problem with the 4.x API page and committed fix to the branch.

[2016-04-27 20:52] crandmck opened #630 "Document path array signature for app.METHOD"
From https://github.com/expressjs/express/issues/2978:

`app.METHOD(path_array, callback [, callback ...])` signature is not documented.

Per @dougwilson:

So, we need to add that.

We probably should add a similar note to to the [routing guide](http://expressjs.com/en/guide/routing.html) (and ideally a short example of using a path array as well) and perhaps also reference topics for `app.get`, `

[2016-04-27 20:55] dougwilson commented on #630
Yep, it also has the same ability. In fact, `app.use` also has this ability if it's not already in the documentation (did not actually look for `.use`).

[2016-04-27 20:59] crandmck commented on #630
Thanks for confirming that, @dougwilson.

We do document path arrays for `app.use`, specifically it says:

Perhaps that could be worded better, but at least it notes that you can use an array.

[2016-04-27 21:10] dougwilson commented on #630
Cool. Yea, I would say at lest a quick fix would be to just copy that wording to the `app.METHOD` and `app.all` sections :)

[2016-04-28 07:44] hacksparrow commented on #630
@crandmck it is not just the `path` parameter details we are missing in `app.METHOD` and `app.all`, we are missing the details of the `callback` parameter, too. Ideally it would be good to have the details of both the tables for `app.METHOD` and `app.all` also, or have some kind of "smart reference".

[2016-04-28 16:35] crandmck commented on #597
Fixed with https://github.com/expressjs/expressjs.com/pull/628 for English content.
I did not do the same for translated content, so the PR wasn't as large as I originally thought.

[2016-04-28 16:36] #597 closed, assigned to nobody

[2016-04-28 16:37] crandmck commented on #413
@jasnell @dougwilson Do we need to keep this open (and address it somehow) now that the repo is under the expressjs org?

Is this covered by the contribution guidelines and foundation governance policies?  Or do we need to do something else?

[2016-04-28 16:41] jasnell commented on #413
The copyright for the content on the site remains `Copyright © 2016 StrongLoop, IBM, and other expressjs.com contributors`, and all ongoing contributions are covered by the Foundation's DCO and contribution policy so I don't believe this needs to stay open.

The important thing to keep in mind is that documentation is covered by copyright license, _not_ open source license (documentation is not co

[2016-04-28 16:41] jasnell commented on #413
Oh, and I think this issue can be closed

[2016-04-28 16:49] crandmck commented on #630
Good point, @hacksparrow !

Can you provide that information?  Are the cb params just `req`, `res`, and `next` or is there more to it?

And, not sure what you mean by:

Can you pls clarify?

[2016-04-28 16:56] dougwilson commented on #413
Sure, but copyright is still not a license. An example non code license would be the create commons ones. Can we get this site content under a license, please? What would it take to do that?

If a requirement would be to trash the current content and rewrite it from scratch, I think that is worth it to get a license for the content.

For example @jasnell if I wanted to copy a portion of this site

[2016-04-28 16:59] jasnell commented on #413
Absolutely it's possible to get it under a license! Creative commons would be the likely choice. We'd need agreement from the current copyright holders (put together a proposal and I'll run it up the IBM / StrongLoop flagpole) then solicit input here from the other contributors and if there are no objections then we're good to go. Might be a good idea to sync up with the Foundation legal folks (@m

[2016-04-28 17:06] crandmck commented on #413
Would this require anything beyond:

"Put the entire site contents of expressjs.com under CC (specific flavor) license and add appropriate docs/notices to the site & repo."

What would be the most appropriate CC flavor to use?  I'm no expert, just looking at e.g. https://en.wikipedia.org/wiki/Creative_Commons_license#Seven_regularly_used_licenses.
Perhaps CC-SA https://creativecommons.org/licenses

[2016-04-28 17:12] jasnell commented on #413
That's really all it _should_ be, at least as far as I'm concerned. The `CC-SA` license is a great choice, I think.

[2016-04-28 17:37] hacksparrow commented on #630
On http://expressjs.com/en/4x/api.html#app.use you will see two tables listing the possible types and combos for the `path` and `callback` parameters, the same table applies to `app.METHOD` and `app.all` as well.

[2016-05-03 16:49] crandmck opened #632 "Add governance info to website and clean up CONTRIBUTING.md"
Some of the info in this doc duplicates stuff in README.md.  This should also link to https://github.com/expressjs/express/blob/master/Contributing.md and other relevant docs.

We should also note that since it is under the expressjs org and part of Node Founation, the general governance policies are the same as for th `expressjs/express` repo.

I'd also like to add some notes about opening PRs an

[2016-05-04 18:13] crandmck commented on #632
Let's go ahead and provide the information on contributing and governance on the website itself (not just links to docs in the repo), possibly with pointers to additional info.

Copied from https://github.com/expressjs/express/issues/2902:

[2016-05-05 21:06] crandmck opened #634 "Proposal to put repo/site content under Creative Commons Share-Alike license"
The Express Technical Committee is proposing to put the content of this repository under the [Creative Commons Attribution-ShareAlike 3.0](https://creativecommons.org/licenses/by-sa/3.0/us/) license.

Note that this does not affect the copyright on the material, which remains unchanged, but it grants the right to distribute the copyrighted work for any purpose (even commercial); You may modify the

[2016-05-09 21:44] kevinburkeshyp opened #635 "app.use should include a 4-arity example"
It was unclear on http://expressjs.com/en/4x/api.html#app.use how you can call `app.use` with a 4-arity middleware, or where you're supposed to integrate a 4-arity middleware; the error handling docs (http://expressjs.com/en/guide/error-handling.html) cover this, but I also expected to see at least a mention of this behavior in the main `app.use` docs.

I tried:
- scanning the docs, checking the a

[2016-05-09 21:46] kevinburkeshyp commented on #635
(It might also be worth discussing what happens if the middleware throws an unhandled exception in the current or later ticks - in a brief scan of the `app.use` docs and the middleware docs, it seems like that is not covered)

[2016-05-09 22:36] crandmck commented on #635
It's a god point and a reasonable suggestion.  That section has lots of examples, so it should have at least one of error-handling mw.

I'll add something as soon as I have a chance.
@kevinburkeshyp If you're inspired, feel free to open a PR.

[2016-05-09 22:37] kevinburkeshyp commented on #635
prolly not gonna have time, sorry :(

[2016-05-16 18:33] crandmck commented on #632
This is done.  If we need to make further changes or additions, let's open new issues.

[2016-05-16 18:33] #632 closed, assigned to nobody

[2016-05-19 00:22] crandmck opened #641 "Add list of supported Node versions"
We should document which versions of Node that we test against and support.

[2016-05-19 12:37] nasr18 opened #642 "cant generate express app"
I can't generate express app using the command `npm install express-generator -g`. I'm using Linux Mint 17.3. Did whatever i have to do. but still no success. Please generate basic app settings and make it to download. It will be helpful for me.

[2016-05-19 17:07] crandmck commented on #642
Hi, this repo is only for issues with the documentation.  Normally, if you have an issue with `express-generator`, you should open an issue in https://github.com/expressjs/generator/issues.

However, I'll try to help you anyway.  What do you see when you enter this?

[code]

And what version of Node?

[code]

[2016-05-20 05:46] hacksparrow commented on #642
@nasr18 `npm install express-generator -g` is for installing the generator. To generate an sample app run `express yolo`, where "yolo" would be the name of your app. A directory named "yolo" will be created, which will contain the app files.

For Express-related queries, you can join us at https://gitter.im/expressjs/express.

[2016-05-20 05:46] #642 closed, assigned to nobody

[2016-05-20 06:27] nasr18 commented on #642
@crandmck  my node version is `v0.10.25` and if i run 'express -V' means no response in command line.

[2016-05-20 06:33] hacksparrow commented on #642
That means the generator is not installed or not installed properly. Try running `npm install express-generator -g` again and see what you get. Make sure to share anything printed on the console.

[2016-05-20 20:58] crandmck opened #646 "Improve req.subdomains doc"
Add following info to http://expressjs.com/en/api.html#req.subdomains:

By default, `req.subdomains()` returns `[]` because the `subdomain offset` setting by default is 2.

[2016-05-23 16:06] hacksparrow opened #647 "Include information about the reference to the app object in the request and response objects"
To address the confusion reported at https://github.com/expressjs/express/issues/3004#issuecomment-220858541

[2016-05-23 19:13] hacksparrow commented on #647
Fixed by 8de34012ba3158ad08a3e716a6c73fa81aee9d0a

[2016-05-23 19:13] #647 closed, assigned to nobody

[2016-05-25 12:11] atulatgithub opened #648 "Does express router supports matrix patameters like jax-rs framework."
Hello Express Team,
Does express router supports parasing matrix patameters like jax-rs framework.

example :
/books/2011;author=mkyong
here authoer-mkyong is called as matrix parameter.
Can I natively parsed this in Express.js

Jax-rs framerork url
http://www.mkyong.com/webservices/jax-rs/jax-rs-matrixparam-example/

[2016-05-25 12:15] atulatgithub commented on #648
@kevinburkeshyp
@davidyang

[2016-05-25 12:17] hacksparrow commented on #648
What's the problem with using the standard `/books/2011?author=mkyong`?

[2016-05-25 12:20] hacksparrow commented on #648
Express does not support that format. For queries about Express, join us at https://gitter.im/expressjs/express.

[2016-05-25 12:20] #648 closed, assigned to nobody

[2016-05-25 12:21] atulatgithub commented on #648
Using matrix parameters is more suited to our Use Case.

No problem is using /books/2011?author=mkyong?

From: Hage Yaapa [mailto:notifications@github.com]
Sent: Wednesday, May 25, 2016 5:48 PM
To: expressjs/expressjs.com
Cc: Atul Shimpi; Author
Subject: Re: [expressjs/expressjs.com] Does express router supports matrix patameters like jax-rs framework. (#648)

What's the problem with using the sta

[2016-05-25 12:25] hacksparrow commented on #648
You might find http://expressjs.com/en/4x/api.html#req.params useful.

[2016-05-25 16:33] dougwilson commented on #648
Hi @atulatgithub, the support for matrix parameters in Express routing was only ever brought up one time before in https://github.com/expressjs/express/issues/2532 and it ended with the user never making a pull request to even get an implementation going (see https://github.com/expressjs/express/issues/2532#issuecomment-73341441). You're welcome to start one!

[2016-06-03 02:26] joyalcode opened #651 "expressjs registration form check email existance"
I am creating a registration form using expressjs and mongoose. I need to make user the user email does not exists in database before saving it
my registration form code is given below

[code]

I never get "Email already exists" error in errors array

before getting the email checking result I get the output thus I can't include the error message in the errors list in the form.

[code]

But want t

[2016-06-03 05:29] hacksparrow commented on #651
@grandcoder for queries related to Mongoose you can post in the Mongoose community. For general queries about Express, join us at https://gitter.im/expressjs/express.

`User.findOne()` is async, the rest of your code should go within it's callback function.

[2016-06-03 05:29] #651 closed, assigned to nobody

[2016-06-06 00:06] dougwilson opened #653 "Website not accessible via Tor"
A user reported that the expressjs.com website is blocked when trying to visit over Tor. Checking the DNS records, the expressjs.com domain is not pointed at GitHub Pages, but rather some random Cloudflare account.

I suggest that the expressjs.com domain is pointed directly to GitHub Pages, by following the setup at https://help.github.com/articles/troubleshooting-custom-domains/#dns-configuratio

[2016-06-06 00:48] dougwilson commented on #653
/cc @fredrikgrohn @mikeal @jasnell

[2016-06-07 09:58] seanrkerr opened #654 "Es6 module for secure expressjs endpoints?"
Hi There,

Are there any ES6 packages I can use to secure expressjs endpoints. I'm just starting out with express and would like to stop CRSF attacks on my endpoints? I'm using node 6.2 & Express 4.13.3.

I see that there is csurf.

Not really sure which is the best to use with es6 / babel?

I'm new to express.

Thanks in advance

[2016-06-09 18:35] yoooee opened #655 "Express Application Generator resulting in GET /home.html 404"
When I follow the instructions on the following page: http://expressjs.com/en/starter/generator.html

I receive the following error repeatedly: **GET /home.html 404** ...

I am using:
Node 6.2.0
NPM 3.3.6
Express 4.13.1

Thank you.

[2016-06-09 18:47] hacksparrow commented on #655
Please post general queries such as this one at https://gitter.im/expressjs/express. I am available right now, let's continue the discussion over there.

[2016-06-09 18:47] #655 closed, assigned to nobody

[2016-06-09 18:51] hacksparrow commented on #654
Check out https://github.com/helmetjs/helmet.

In future, please post general queries at https://gitter.im/expressjs/express. This repository is specifically for issues related to the website http://expressjs.com/.

[2016-06-09 18:51] #654 closed, assigned to nobody

[2016-06-16 09:24] crandmck commented on #653
@rmg is this something you can help with or know about?

[2016-06-18 10:34] duaraghav8 commented on #648
@dougwilson
I recently had to use matrix URIs at my internship. Seeing that there wasn't much support out there for Matrix URIs in Node, I've developed an npm module (matrix-parser) for this purpose.

Its fully functional (although not optimized, but I'm working on it). Since I'm not so experienced with JS, I'd appreciate if you could have a look at the module and give me feedback.

I've written l

[2016-06-18 11:20] atulatgithub commented on #648
Hello Rahav,
Thanks for the efforst u have taken to implement this.
Will see in coming weekend. Right now I am really tied.

[2016-06-19 04:38] duaraghav8 commented on #648
Hi Atul,
Sure, let me know what you think:)

[2016-06-27 20:18] hacksparrow commented on #635
34cc3f3 fixes this.

[2016-06-27 20:18] #635 closed, assigned to hacksparrow

[2016-06-27 20:21] kevinburkeshyp commented on #635
Thanks!

##

Kevin Burke
925.271.7005 | kev.inburke.com

On Mon, Jun 27, 2016 at 1:18 PM, Hage Yaapa notifications@github.com
wrote:

[2016-06-28 14:00] hacksparrow commented on #611
Added the details in the docs with some examples - http://expressjs.com/en/guide/routing.html#route-parameters.

@azhao12345 hope that helps.

[2016-06-28 14:00] #611 closed, assigned to hacksparrow

[2016-06-28 20:58] hacksparrow commented on #646
1e8d1e0 takes care of this.

[2016-06-28 20:58] #646 closed, assigned to hacksparrow

[2016-06-28 21:19] hacksparrow commented on #641
@crandmck maybe we should use the changelog file on the website for this?

[2016-06-28 22:42] crandmck commented on #611
Thanks @hacksparrow!

[2016-06-28 22:43] crandmck commented on #635
Thanks @hacksparrow !

[2016-06-28 22:52] crandmck commented on #641
Yes, it would make sense to specify which Node versions a given release was tested against.

In addition, we should provide the list of supported Node versions of the current (latest) version of Express in a "Prerequisites" section in http://expressjs.com/en/starter/installing.html.  Currently, it only says

But we should clarify _which_ version of Node.js you must install.  Note: Although we may

[2016-06-28 22:53] crandmck commented on #646
Thanks again @hacksparrow !

[2016-06-28 22:56] dougwilson commented on #641
I agree, all good points here.

[2016-06-28 23:02] crandmck opened #662 "Update doc when Pug is added to Express generator"
When https://github.com/expressjs/generator/pull/117 is merged, update http://expressjs.com/en/starter/generator.html accordingly (should be a trivial change).
Also, perhaps add a note about Pug being the new name for Jade.

[2016-06-28 23:08] dougwilson commented on #662
Really, with each release of Express, we should plan to update the generator output, because there are already staged changes to the generator that will need that page updated :)

[2016-06-29 00:10] crandmck commented on #662
Good point @dougwilson.  I'll keep an eye on that repo for that reason.

[2016-06-30 00:27] dougwilson commented on #634
Let's just do it, since we still haven't heard anything I suppose :) ? /cc @jasnell @mikeal

[2016-06-30 00:42] crandmck commented on #634
I'm happy to open a PR once I get the go-ahead from @jasnell... or I would have no objections if someone else wanted to open the PR.

[2016-06-30 04:21] jasnell commented on #634
Go for it.
On Jun 29, 2016 5:42 PM, "Rand McKinney" notifications@github.com wrote:

[2016-07-04 20:25] fredrikgrohn commented on #653
I am the user who originally reported this.

I agree with Doug's solution, to point the DNS directly to the web server. If CloudFlare is not being used for an explicit reason, it will just lead to users being blocked from accessing the web site for no reason. A service like CloudFlare only makes sense to use if there is a need to prevent automated systems from accessing the web site. I don't belie

[2016-07-05 01:38] tjstebbing opened #667 ".listen pass HTTPServer to callback"
.listen returns an HTTP Server instance
.listen takes a callback
the callback isn't passed the HTTP Server

[2016-07-05 02:01] blakeembrey commented on #667
The arguments are passed verbatim, so the callback is passed to `.listen` of the HTTP server (https://github.com/expressjs/express/blob/master/lib/application.js#L615-L618).

[2016-07-05 06:20] hacksparrow commented on #667
@pomke can you elaborate on what you are suggesting?

[2016-07-05 18:17] rmg commented on #653
Thank you for your patience 😊

I've added the whitelist rule for Tor, after reading through the docs for it. @fredrikgrohn you should be able to access the site now.

Unfortunately, CloudFlare's "firewall" features are pretty tightly integrated into their infrastructure. If we want to disable the blocking entirely, then it will be at the expense of dropping the caching/auto-CDN features as well. C

[2016-07-05 18:19] crandmck commented on #653
@expressjs/express-tc ^ (Not sure if Ryan's mention worked)

Should...

?

[2016-07-05 19:37] mikeal commented on #653
we had an identical issue with Cloudflare on nodejs.org and were able to fix it.

I can't ping the build team in here because it's an org team so I guess I'll just ping @rvagg directly and hope that he can comment :/

[2016-07-06 00:05] fredrikgrohn commented on #653
I can confirm that the site is accessible without trouble over Tor now. Thank you for your help!

At this point my personal problem is fixed. Though I still think you should consider whither you want to point the DNS directly at the GitHub site if this is an option, as the problem might persist for other web privacy/anonymity services. CloudFlare is really the odd one out among the CDN providers i

[2016-07-06 00:35] rvagg commented on #653
This is as much as I know about CF + Tor and has the details about how we solved it for nodejs.org https://support.cloudflare.com/hc/en-us/articles/203306930-Does-CloudFlare-block-Tor-

[2016-07-06 17:26] crandmck commented on #653
Thanks for the info @rvagg.

I'm going to close this, since the original issue has been addressed.

I propose we address any other issues of this nature specifically if and when they arise.

[2016-07-06 17:26] #653 closed, assigned to nobody

[2016-07-06 19:24] crandmck commented on #634
Fixed by #664

[2016-07-06 19:24] #634 closed, assigned to nobody

[2016-07-06 19:25] crandmck commented on #413
Fixed by #664.  Site content is now under CC-SA license.

[2016-07-06 19:25] #413 closed, assigned to nobody

[2016-07-06 22:13] dougwilson commented on #653
I think we should file an issue to just switch the domain to the plain GitHub Pages DNS entries (yes, I know I proposed that already above, but I just wanted to state it again).

[2016-07-07 01:06] rmg commented on #653
I can't seem to find any public docs that list who is on the TC, so I'm not really sure how to know whether I'm reading the opinion of individuals or the result of TC consensus.

@dougwilson I agree that switching to plain DNS is probably the most reasonable thing to do, which is why I want to be extra sure I see consensus instead of just my own confirmation bias ;-)

[2016-07-07 01:17] dougwilson commented on #653
Hi @rmg, interesting, I wonder if setting a page up on the website with information about the TC is useful to have (/cc @crandmck ?). I have not heard any one else's opinion from the TC on this, either for or against. What I can do is bring it up in the next TC meeting (which is July 13), but I think in general, I think the issue that no one on the TC even has access to this CloudFlare account is

[2016-07-07 06:37] rmg commented on #653
@dougwilson sorry for being vague. I didn't mean to ask if a public list should be made, I was stating it is required. The CloudFlare account is a perfect example, so thanks for bringing it up :-)

I'd _love_ to hand the CloudFlare account over to someone, but there's no public record of who would even have the authority to ask for it, let alone receive it.

[2016-07-07 11:40] dougwilson commented on #653
So the CloudFlare account is hostage until we give in to your demands, got it.

[2016-07-07 11:54] rvagg commented on #653
Let's try and not ramp up the tension here. @rmg has a point in that we have yet to properly document the new org structure around express (see README @ https://github.com/expressjs/express/ for lack of clarity) so it wouldn't be responsible of him to just hand it over without a clear understanding of who is in charge.

In lieu of having that in place I'd suggest at least giving @mikeal access to

[2016-07-07 12:30] dougwilson commented on #653
I'm sorry for what I said, as it was out of anger. I am trying to figure out what set me off for my journal as part of the process, and I think it comes down to the following statement from @rmg as the catalyst:

I think what is happening is that for some reasons that statement felt like a punch in the gut to me, because it feels yo me like it says the comments I am writing do not matter, as they

[2016-07-07 12:58] hacksparrow commented on #653
We should just do that and get over with it.

Do we actually need CloudFlare in the first place? Besides, I have  encountered caching issues from time to time because of CloudFlare.

@LinusU @blakeembrey @jonathanong what's your opinion?

@dougwilson text-based communication without tone can often be misunderstood, so 😊.

[2016-07-07 13:18] LinusU commented on #653
No strong opinion either way, I think it sounds good to only use GitHub Pages since they have a CDN and I think that they could handle to load that we have.

[2016-07-07 14:00] mikeal commented on #653
What we do for nodejs is keep the credentials in a private "secrets" repo the TSC and build group have access to. In addition, I have access on behalf of the foundation.

[2016-07-07 14:02] jasnell commented on #653
@rmg ... @mikeal would be the right person to coordinate with regarding transferring the cloudfare account. Im wondering if it would be possible to even combine these under the same account we already use for nodejs.org.

[2016-07-07 14:04] jasnell commented on #653
@dougwilson: a page on the website with basic information about the TC would be helpful. In Node core we use the readme for that but it definitely doesn't need to be there. Once in back from vacation I can volunteer to help with that if necessary.

[2016-07-07 14:09] jasnell commented on #653
@rmg ... if you'd like, send me the details for the cloudfare account. Perhaps we can set up a secrets repo modeled after the nodejs one?

[2016-07-07 18:30] crandmck opened #668 "Review use of CloudFlare for website"
Express TC should discuss whether it wants the website to continue to use CloudFlare for caching, or just switch the domain to the plain GitHub Pages DNS entries.  If we decide to keep CF, then we need to transfer ownership of CF acct. to the Express TC team per discussion in #653.  @expressjs/express-tc

[2016-07-07 18:38] rmg commented on #653
In case it reassures anyone who didn't realize, I'm not a _complete_ outsider, I am a member of the nodejs/build team :-)

I just don't happen to have my key in the nodejs/secrets vault, so I can see the repo but not view the encrypted contents. I'll get that taken care of, though, and figure out how to transfer the domain to the nodejs.org account.

[2016-07-07 18:39] crandmck opened #669 "Provide public list of TC members"
Per discussion in #653, it makes sense to provide a public listing of the members of the Express TC: https://github.com/orgs/expressjs/teams/express-tc (list is not publicly visible).  I think this can be done in two ways:
- Add a manual copy of https://github.com/orgs/expressjs/teams/express-tc to the README or another document in both https://github.com/expressjs/expressjs.com and https://github

[2016-07-07 18:41] crandmck commented on #653
Also, as you can see, I opened #668 and #669 for the points raised above.  Please carry on relevant discussions there.

[2016-07-07 19:28] rmg commented on #668
When looking into how to transfer expressjs.com to the Node.js CloudFlare account I saw another small snag.

CloudFlare is how expressjs.com has https. Disabling it and using it as vanilla DNS will revert the site to http-only, which seems somewhat counter to the goal of allowing access via anonymizing services like Tor :-(

Either way, I'm working with @mikeal to get the site transferred to the N

[2016-07-07 20:42] dougwilson commented on #669
Hi @crandmck, there is no button I can see anywhere to make the team more public than it is already. There are only two choices I can see: Visible or Secret. The TC team (and all teams in the org) are already set to Visible:

![capture](https://cloud.githubusercontent.com/assets/67512/16669109/c564c500-4461-11e6-961c-8a33f091c8c5.PNG)

[2016-07-07 20:50] dougwilson commented on #669
Unless we can figure out how to get that organization team publicly visible, we should keep the maintenance cost low by only doing a single list. Ideally (I believe I brought this up before), the expressjs.com website itself needs a section on it with the TC information (including members), the governance policy, etc. This would allow us to just add a link to the website with the names in all the

[2016-07-07 20:56] crandmck commented on #669
Huh, I guess I was mistaken about being able to make the list public.  My bad.

We do have http://expressjs.com/en/resources/contributing.html already that provides the info from various MD files in the express repo (e.g. https://github.com/expressjs/express/blob/master/Contributing.md).  Unfortunately, I don't know of any way to "single source" it from those files, so I just copy/pasted it.  I gu

[2016-07-07 23:26] waltergms opened #670 "4.14 res.send generating Error: Can't set headers after they are sent."
[code]

In the code above res.send is generating error "Cant set header after they are sent" I have tried to use res.json but got the same error message.

The result value is an array of objects...

![result_json](https://cloud.githubusercontent.com/assets/6827160/16673055/1633908c-4481-11e6-8449-f9144dfb3cde.jpg)

[2016-07-08 05:53] hacksparrow commented on #670
This repository is for the expressjs.com website. For issues related to the Express framework, use the repository at https://github.com/expressjs/express.

For general queries about Express, like in your case, post them at https://gitter.im/expressjs/express.

[2016-07-08 05:53] #670 closed, assigned to nobody

[2016-07-08 16:23] crandmck opened #671 "Add general info about TC meetings"
As noted in https://github.com/expressjs/discussions/issues/23, we should have some some general info about TC meetings somewhere on the site, e.g. in http://expressjs.com/en/resources/community.html and/or http://expressjs.com/en/resources/contributing.html as well as links to the meeting announcements and minutes.

[2016-07-13 23:02] #671 closed, assigned to crandmck

[2016-07-20 22:29] crandmck commented on #669
This is now published at http://expressjs.com/en/resources/contributing.html#technical-committee.

[2016-07-20 22:29] #669 closed, assigned to nobody

[2016-08-01 20:59] crandmck opened #680 "Incorporate docs of middleware in expressjs org and utilities in jshttp, pillarjs orgs"
I think it's commonly understood that much of the power of Express comes through middleware.  Obviously, we can't and shouldn't try to document all the middleware out there, but I'd like to improve how we document the set of middleware modules in the [expressjs](https://github.com/expressjs) and [jshttp](https://github.com/jshttp) orgs.  Together, these two orgs provide over 50 important/basic mid

[2016-08-02 02:25] hacksparrow commented on #680
If each of these middleware doc are accompanied with a short description of what role they play in Express, technically apt users will find them particularly useful. I am all for it.

[2016-08-02 02:48] dougwilson commented on #680
I don't see any reason why we cannot copy the READMEs onto the main expressjs.com website, as long as someone is willing to actively work on keeping it up-to-date (probably means just periodically running that script and checking in any changes, I assume). The only real comments beyond that I have is the following:
- The branch puts them all under "middlewares", though most of those modules are no

[2016-08-02 18:20] crandmck commented on #680
All good points.

Yes, that's definitely one of the things I'll add.

Yes, exactly.  I nominate myself for that duty. I'll start watching the repos, but can you give me a sense of how often these modules' external interfaces or READMEs change?  I guess it's hard to generalize, but are we talking daily, weekly, monthly, or less?  My implicit assumption is that it would be monthly or less, which wou

[2016-08-14 23:13] dougwilson commented on #680
Yea, I would classify them as monthly or less. A lot of the modules are "done" and so generally don't have too many changes except an occasional new feature here or a random bug/typo fix there.

Yea, basically :)

They would probably be the most generally useful compared to jshttp. As far as effort to add them, I would say expend the effort on expresjs, then pillarjs, then jshttp last if desired.

[2016-08-15 15:52] crandmck commented on #680
Thanks for your clarifications @dougwilson
I've done a bit more work on the branch, but haven't quite been able to get it to the point where I'm ready for a PR.  I did find a way to determine the "latest tagged release" via GitHub API, but it fails for some of the repos (even though they seem to have a release that should qualify).  I'm still trying to get to the bottom of that.

I'm thinking that

[2016-08-16 18:59] crandmck commented on #668
We discussed this in the Express TC, and decided to leave it "as is" for now, unless some other issue comes up or if GH ever offers SSL access.  CF https://github.com/expressjs/discussions/issues/29

[2016-08-16 18:59] #668 closed, assigned to nobody

[2016-08-16 20:07] crandmck commented on #617
Duplicate of #662

[2016-08-16 20:07] #617 closed, assigned to nobody

[2016-08-16 21:20] crandmck commented on #667
Hi @pomke it's been over six weeks--unless you can clarify your comment, I'll close this.

[2016-08-20 07:23] reklatsmasters opened #689 "add express-database middleware"
I developed [`express-database`](https://github.com/reklatsmasters/express-database) middleware for ease connecting to databases. Main features is auto - opening and auto - closing new connections.

[2016-08-20 07:49] blakeembrey commented on #689
@ReklatsMasters What is the request/issue? Personally I don't think we should promote this pattern. Coupling a database connection to the request/response life cycle doesn't give any advantages and makes can make things quite difficult to use. It's not a pattern I would recommend personally. What do you think makes it a good pattern?

[2016-08-20 08:39] reklatsmasters commented on #689
In a real life we need persistent database connection. Many sites has api. And for that api they need a database connection. Each user, each request to your api should have your own database connection. So I think it's a useful and convenient pattern.

I'm about this page http://expressjs.com/en/resources/middleware.html

[2016-08-20 08:55] blakeembrey commented on #689
I understand how "real life" works, but tying database connections to the request response cycle really doesn't give any benefit. For instance, if you're keeping a persistent connection then you're already creating issues for yourself. Most likely, the backing database has pooling built in instead and you'd be using that. All this does over the top of that is abstract the access to the underlying

[2016-08-20 08:56] blakeembrey commented on #689
Do you perhaps have an example of this pattern used in production?

[2016-08-20 13:03] reklatsmasters commented on #689
Yes, i use in production some of that:

[code]

[code]

Pooled connections isn't a problem. I think i can implement it but it's a next abstraction level. It's should be used in connectors for `express-database`.

It's already implemented in some other libraries like knex, sequelize, etc.

Which issues? I can't imagine.

[2016-08-21 00:14] blakeembrey commented on #689
All your code does is wrap MySQL and set `req.database = mysqlConnection`. Since it's pooled behind that, there's no value gained from tying the database lifecycle to the request/response lifecycle. In any complex application, you will inevitably need to make database requests outside of the request/response cycle. Maybe you need to support long-running connections also, like a real-time stream. A

[2016-08-22 20:40] crandmck commented on #680
So, I addressed Doug's comments, and opened PR (#687).  Since I didn't hear anything for 5 days, I went ahead and merged it.   I hope that's not too controversial....

Basically, I just reworked http://expressjs.com/en/resources/middleware.html to highlight the `expressjs` org middleware (in a table layout), and pulled in the READMEs (via GH API) for all the modules so someone can browse their doc

[2016-08-22 20:40] #680 closed, assigned to crandmck

[2016-08-22 20:40] #667 closed, assigned to nobody

[2016-08-24 18:52] jonhp opened #693 "api documentation document"
_From @jonhp on August 23, 2016 15:53_

i tried to print, http://expressjs.com/en/4x/api.html , on two browsers; but it doesn't format very well. could there be a downloadable .pdf version of the api page added to the "resources/books and blogs" page?

_Copied from original issue: expressjs/express#3064_

[2016-08-24 18:52] jonhp commented on #693
_From @DavidTPate on August 23, 2016 18:19_

Could you be more clear as to how it doesn't format very well? I went through and tried printing it and with the exception of a few blank pages at the end the content looked correct.

[2016-08-24 18:52] jonhp commented on #693
[express api printed pages 1to10.zip](https://github.com/expressjs/express/files/435102/express.api.printed.pages.1to10.zip)

I have printed pages 1-10 and then scanned them into a .pdf (attached). see the tops of pages 6 and 7 as examples of the problems I see. (Well, I tried to attach a .pdf file but it says that it isn't supported, even though in is in the support list given in the error messag

[2016-08-24 18:52] jonhp commented on #693
Closed by mistake. can't win today. sorry. jon

[2016-08-24 18:52] jonhp commented on #693
_From @dougwilson on August 24, 2016 15:55_

Hmm. @jonhp, you may want to file this issue on the repository for the website: https://github.com/expressjs/expressjs.com

[2016-08-24 20:33] crandmck commented on #693
Hi @jonhp I'm not sure why your PDF is messed up, but I don't think it's anything we can fix in the HTML.  I generated a PDF by using http://www.web2pdfconvert.com/ (see below) and it seems to be fine.  Please feel free to use that.  The drawback is that site puts a branding "watermark" at bottom of every page.

If there is enough interest, we could add the PDF for downloading from the website, bu

[2016-08-24 21:19] jonhp commented on #693
Hi,
Didn't know about web2pdf; very cool.
I just want to make sure that you understood that what I did was print the api web page with firefox v48.0.1 and then scanned those printed pages and had the scanner software create a .pdf. so my problem is with printing the api documentation. having the documentation in a .pdf is also helpful (and, yes, it can be printed too). So I would still vote for a

[2016-08-24 21:43] crandmck commented on #693
Thx for clarification... I suspect the issue is lack of pagination, but it would be almost impossible for us to debug this remotely.  IAC, will discuss providing PDF with Express TC.

[2016-08-24 23:59] blakeembrey commented on #693
@crandmck This is pretty easy to fix. Using CSS, you can target `@media print` and customise some of the settings like this so the title bar isn't fixed. The basic cause is that on a certain size screen (which happens to be the same size as printing) the page goes into "mobile" mode which adds a fixed header to pages. If we target it in `@media print` and hide it, it'll work a lot better.

As a si

[2016-08-25 00:05] crandmck commented on #693
Thanks @blakeembrey, I forgot about `@media print`.... I do think it would be nice if the site would print/generate PDF properly.

@dougwilson mentioned he has some experience in this area, so he might be able to fairly easily fix this.  My CSS chops are fairly limited, so I'll leave to you or Doug to correct, time permitting.

[2016-08-25 02:25] dougwilson commented on #693
#694 is the most basic change that should fix the OP's issue, at least.

[2016-08-25 19:34] reklatsmasters commented on #689
I think you are right. :confused:  :disappointed:

[2016-08-25 20:29] hacksparrow commented on #693
https://github.com/expressjs/expressjs.com/commit/6b1e22d4fddb96a7b4d948aa7ee32a905279edb5 fixed it.

[2016-08-25 20:29] #693 closed, assigned to nobody

[2016-08-25 20:30] hacksparrow commented on #689
Closing this.

[2016-08-25 20:30] #689 closed, assigned to nobody

[2016-08-27 20:10] bnb opened #695 "Is there a reason behind no HTTPS/HSTS on expressjs.com?"
Ello!

I'm just curious if there was a reason that there's not an SSL/TLS certificate on the site. Since Express is such an important foundation in the Node community, it seems like being able to unquestionably verify that me accessing the unaltered site is important.

I definitely understand that there's no major secure content on the site (passwords, downloads, and so on), but there is definitel

[2016-08-27 20:20] dougwilson commented on #695
The Express.js website is currently offered over SSL for those who desire that: https://expressjs.com/ I don't have access to the CloudFlare account to manage any aspects of the site, though. @crandmck should know more about it.

[2016-08-27 20:23] bnb commented on #695
@dougwilson Ah, I'm a dope. Just typed "expressjs.com" in Chrome, without also trying HTTPS. That just goes to the  normal HTTP version, which is a highly annoying default. HSTS would 100% solve that, though.

[2016-08-27 20:24] dougwilson commented on #695
Yes, HSTS would, I just don't have access to do anything about it.

[2016-08-27 20:30] dougwilson commented on #695
There was a discussion on the CloudFlare account in a previous TC meeting, but I'm told it is not easy to transfer the expressjs.com account into the CF account for Node.js, so it is currently left outside of the Express.js TC's management. @jasnell may know more about if the account can be moved and then the Express.js TC would be able to manage the controls as it sees, like adding HTTP -> HTTPS

[2016-08-27 20:30] bnb commented on #695
@dougwilson Sorry - didn't mean to seem like I expected you (or anyone, really) to do that! Was just (rather obtusely, I think) stating the obvious. Apologies!

[2016-08-27 20:37] bnb commented on #695
@dougwilson If you're on CloudFlare, they offer a [free SSL cert](https://www.cloudflare.com/ssl/) via Comodo or GlobalSign - the site uses Comodo, so it might indeed be through CloudFlare.

[2016-08-27 20:45] dougwilson commented on #695
Ah, good to know, @bnb! So I think I answered all your questions from the issue.

That is kind of a loaded question. We do offer HTTPS, but just do not set any HSTS header. Why no HSTS header is set has never been talked about in an Express.js TC meeting or in any conversation I have been a part of.

There was a long time in which the website was manage by a company and I don't believe there is an

[2016-08-28 00:19] rmg commented on #695
@bnb yes, expressjs.com is currently being fronted by CloudFlare specifically for the SSL support. This has been the case since StrongLoop took ownership of the domain a couple years ago. :-)

I haven't checked whether CloudFlare has an option for setting HSTS, but I would be surprised if they didn't.

[2016-08-28 17:17] bnb commented on #695
Looks like they have an [article from 2015](https://blog.cloudflare.com/enforce-web-policy-with-hypertext-strict-transport-security-hsts/) saying you have to use their then-beta dashboard to enable directly through CloudFlare.

[2016-08-28 17:18] bnb commented on #695
And a newer post on their help site: https://support.cloudflare.com/hc/en-us/articles/204183088-Does-CloudFlare-offer-HSTS-HTTP-Strict-Transport-Security-

[2016-08-29 15:56] crandmck commented on #695
I confess I don't know anything about HSTS.  From what I can see, it helps prevent MITM attacks.  Should we be concerned about those (since the site doesn't perform any e-commerce or the like)?  If so, then is there any reason why we _wouldn't_ want to implement HSTS?  Apologies for my naïveté.

@rmg What's your perspective re: pros/cons of HSTS?

IAC This decision would be up to the Express TC.

[2016-08-31 10:45] tiendq commented on #557
I build [Haypley](https://haypley.com) with ExpressJS :). Thanks all ExpressJS contributors :)

[2016-08-31 13:20] ranjan-2209 opened #698 "scroll click of button gives different behaviour"
I have hovered my mouse on html page as shown in snapshot and clicked scroll of mouse. It opens the page in same tab as well as other. This scroll click should have no effect on the current page.
![1](https://cloud.githubusercontent.com/assets/16834561/18130235/cf56785e-6fab-11e6-9062-8f5a0fc60377.png)

[2016-08-31 19:39] crandmck commented on #698
What browser and OS are you using?

[2016-09-01 02:22] ranjan-2209 commented on #698
Windows 10 latest & Chrome beta latest. You also must be getting it as it is independent of OS and browser.

[2016-09-01 02:25] blakeembrey commented on #698
Thanks for the report. It seems to be caused because the page has _two_ handlers. It's a link, so the regular behaviour applies. But, for some reason there's also a manual redirect in JavaScript. @crandmck any idea why that would be there?

![image](https://cloud.githubusercontent.com/assets/1088987/18153188/2c85caa0-703f-11e6-9ee4-b010341b9332.png)

![image](https://cloud.githubusercontent.com/as

[2016-09-01 09:34] ranjan-2209 opened #699 "redirection issue"
![2](https://cloud.githubusercontent.com/assets/16834561/18162823/a88f1a1e-7055-11e6-96dd-d78d4dfdf842.png)

[2016-09-01 17:21] crandmck commented on #698
Yes, I do see it now (initially, apparently I was doing something different and didn't see it).  And I hadn't noticed it before.

Anyway @hacksparrow would have more insight, since he implemented the menu system.

[2016-09-01 17:28] crandmck commented on #699
The #restart anchor was missing on the heading.  Added by 913e43791fb5b128b45c52a4dc5dc46af93a10d3 so the link to `Ensure your app automatically restarts` should work.

BUT--this link, the other two you note above, and in fact _any_ link to an anchor actually doesn't work quite  right, due to the menu bar "overlay" at the top of the page that obscures the top 30px or so of the content--you have to

[2016-09-02 00:19] dougwilson commented on #698
Oddly enough, it doesn't happen using Microsoft Edge. Anyhow, I understand that that JavaScript is trying to enlarge the click area, by making a click anywhere on the `<li>` trigger a navigation. If the margin is removed from the `<a>` such that is consumes the entire area of the enclosing `<li>` then that click event would definitely be redundant. I assume the intention is such that if the hoveri

[2016-09-02 00:29] dougwilson commented on #698
I guess I assumed it was being more clever. Looking more into it, it simply seems redundant. PR #702

[2016-09-02 00:41] dougwilson commented on #699
The root issue is that h5 does not have the `:target` style. Also, the existing target style is ugly, creating a gap above the last clicked item.

[2016-09-02 11:27] hacksparrow commented on #699
Taking a look at it. I had implemented a solution for the problem on the API page, will implement a uniform solution with Doug's PR on mind.

[2016-09-02 11:31] hacksparrow commented on #698
This behavior is a side-effect of increasing the touch area on mobile devices. It has to be made smarter, of course. I am working on it.

[2016-09-02 12:14] ranjan-2209 opened #704 "replacing the text by title of the page"
![3](https://cloud.githubusercontent.com/assets/16834561/18203481/de73e2f6-7134-11e6-9134-f964063ca937.png)

[2016-09-02 14:38] hacksparrow commented on #699
https://github.com/expressjs/expressjs.com/pull/705 is the uniform implementation.

[2016-09-02 15:11] dougwilson commented on #699
Nice, @hacksparrow !

[2016-09-02 15:19] hacksparrow commented on #698
https://github.com/expressjs/expressjs.com/pull/706 limits the behavior of `li`s to mobile devices.

[2016-09-02 16:48] crandmck commented on #704
This looks correct to me--what is the issue?

BTW, it would be helpful if you could provide an explanation when you open an issue.  Sometimes a screenshot is not enough.  Thanks.

[2016-09-02 17:40] ranjan-2209 commented on #704
Its should have been "Weekly Update - May 22nd, 2015 | Node.js"

[2016-09-02 18:07] crandmck commented on #704
OK, thanks for clarifying.  That option is now documented in the node CLI docs (it wasn't when we originally wrote that article), so I linked to the actual doc rather than the old release notes.
Thanks for pointing it out.

[2016-09-02 18:07] #704 closed, assigned to nobody

[2016-09-03 18:18] crandmck opened #707 "Refinements and additions to routing method args"
From #701:

I think the description of the path & callback arguments is also applicable to `router.all`, `router.METHOD`, and `router.use`, but I wasn't 100% sure.

Since the method signatures (in the headings, e.g. http://expressjs.com/en/4x/api.html#app.all) have `callback [, callback ...]` , I wonder if we need to specify "A series of middleware functions (separated by commas)." since that's im

[2016-09-06 14:02] hacksparrow commented on #699
https://github.com/expressjs/expressjs.com/pull/705 fixed it.

[2016-09-06 14:02] #699 closed, assigned to nobody

[2016-09-06 17:31] rmg commented on #695
My only concern is the site becoming inaccessible if SSL gets turned off for some reason, such as when transferring the domain or some similar event (because browsers will refuse to use http for the site until the HSTS header expires). That risk is pretty low, though, so I wouldn't consider it a good enough reason on its own to block this.

I won't be changing anything unless the TC asks for it, t

[2016-09-07 23:53] crandmck opened #708 "Add link to YouTube Channel"
Add to Resources page:
https://www.youtube.com/channel/UCYjxjAeH6TRik9Iwy5nXw7g

[2016-09-09 09:12] #698 closed, assigned to nobody

[2016-09-12 16:47] ranjan-2209 opened #710 "'open-source, open source' present in http://expressjs.com/en/resources/glossary.html"
the text - 'open-source, open source' is present. is it right?

[2016-09-13 16:25] crandmck commented on #710
Yes, according to http://expressjs.com/en/resources/glossary.html, either is correct, depending on the use.

This is the general rule in English (see, e.g. http://www.grammarbook.com/punctuation/hyphens.asp):

[2016-09-13 16:25] #710 closed, assigned to nobody

[2016-09-19 00:33] renodubois opened #711 "Sub-links don't work for smaller width screen sizes"
I was using the Getting Started portion of the website when I noticed that the sublinks under the main link categories ('Getting Started -> Installing' for example) aren't working. You can click on one of the main link categories to access all of the subcategories, but none of their links work. Increasing my screen width solves this issue.

Tested on my MacBook Pro, using Chrome version 53.0.2785.

[2016-09-19 06:12] hacksparrow commented on #711
@renodubois thanks for reporting this. Will be fixed in a while.

[2016-09-19 08:12] hacksparrow commented on #711
c7f466d7e285c4e23eae7180cae085178bd656e6 fixes it.

[2016-09-19 08:12] #711 closed, assigned to nobody

[2016-09-22 00:00] crandmck opened #714 "Review and incorporate hbs doc"
Review the README for https://github.com/pillarjs/hbs and find a home for it in the docs site.

[2016-09-22 00:30] dougwilson commented on #714
/cc @defunctzombie

[2016-09-23 03:21] defunctzombie commented on #714
Any action on my part or is this just a tracking issue?

[2016-09-23 15:44] crandmck commented on #714
@defunctzombie I think mostly just FYI.

Of course, we welcome any thoughts you may have on the subject...thanks!

[2016-09-25 04:08] dougwilson opened #716 "Add to docs information on routing URLs"
So there was the issue https://github.com/expressjs/express/issues/3088 filed in Express recently regarding confusion about how Express handles routing when the incoming URL is a full URL instead of just the path (i.e. `GET http://localhost/ HTTP/1.1` vs `GET / HTTP/1.1`). I browsed around through the docs and it doesn't seem super clear.

I can see two possible ways to enhance the documentation a

[2016-09-25 23:20] dougwilson commented on #714
Yea, it's just a tracking issue. The idea here is to have someone make a pull request to the module to bring the README formatting more in line with the rest of the modules in the organization, and more specifically, with the proposed README formatting at https://github.com/expressjs/expressjs.com/wiki/Proposed-README-Guidelines-and-Template

[2016-09-26 17:04] crandmck commented on #716
I agree that we need to clarify this in the docs.  I can see how it would (did?) lead to some confusion.  So your two suggestions @dougwilson seem like a really good place to start.

[2016-09-28 10:09] hacksparrow commented on #708
Added in  6a96a33.

[2016-09-28 10:09] #708 closed, assigned to nobody

[2016-09-28 20:11] crandmck commented on #708
Thanks @hacksparrow !

[2016-10-20 03:14] prashathsenthil opened #722 "How to handle request disconnect in an express app"
I have an express/node app and I would like to run a function to perform an action when there is an unexpected interruption in the connection. I tried the following:

[code]

The above code does not work in the following scenarios:
- Wifi is disconnected
- Device shuts down due to lack of power

Is there a built in event handler that could be leveraged in these scenarios?

[2016-10-20 03:19] dougwilson commented on #722
Hi @prashathsenthil , all those objects and events come from Node.js core. I'm not familiar enough to be able to answer the question, but you'll probably get a better answer by asking in the Node.js core repository.