[2016-10-20 03:19] #722 closed, assigned to dougwilson

[2016-10-25 21:17] SameerSiddiqui opened #725 "How to get the original domain (host) name from the originating request"
I have express endPoints- nginx running behind it and loadbalancers to balance the load.

When the request comes to handler- I want to know the original domain from where the request came in.

req.hostname, req.host, req['host'],  req.header.host all returns me the internal ip address 127.0.0.1 instead of the original domain.

Please advise. Is there a way to grab the original domain from the req

[2016-10-31 15:28] dougwilson commented on #662
Hi @crandmck the generator has been updated now. As discussed, the default has not been changed from jade (yet) but there are new options, including one for pug. We'll want to update the generator docs to use an option, since it will give a warning without one.

[2016-10-31 18:51] crandmck commented on #662
Fixed by #726

[2016-10-31 18:51] #662 closed, assigned to nobody

[2016-11-01 15:53] highelf opened #727 "Mix values from different sessions ???"
Hi
I try parse sdk express ejs layouts with passport auth.
when try to show pages that must show for logged in users,
the header section of page shows another user profile ,
but the body of page shows correct value,
how it can happen, please help me

[2016-11-02 17:12] crandmck commented on #727
Issues in this repo are for specific problems or requests for the documentation on http://expressjs.com/.

Please ask your question on the Google Group - https://groups.google.com/forum/#!forum/express-jsor the Gitter chatroom - https://gitter.im/expressjs/express. You may also want to try Stack Overflow.

[2016-11-02 17:12] #727 closed, assigned to nobody

[2016-11-02 19:12] hacksparrow commented on #725
@SameerSiddiqui you need to configure the `trust proxy` setting using `app.set()` AND ensure the downstream servers are setting the `X-Forwarded-Host` header accurately.

Ref:

http://expressjs.com/en/guide/behind-proxies.html
http://expressjs.com/en/4x/api.html#trust.proxy.options.table

[2016-11-02 23:05] crandmck commented on #725
Is there a doc issue here or can we close this?

[2016-11-02 23:46] crandmck opened #728 "Document req.next"
Per discussion in [TC meeting](https://github.com/expressjs/discussions/issues/42) we should doc `req.next` with some disclaimer about using it.

[2016-11-02 23:58] crandmck opened #729 "Document new tracing feature"
When https://github.com/expressjs/express/pull/2437 is merged, we need to add docs for the feature.

[2016-11-04 05:59] Ingosmar89219 commented on #464
I have same problem, im trying to install express in a polymer's project and I cant get the carpet node_modules in it.
C:\Users\osmarvirux\Documents\messenger>npm install express
express@4.14.0 ....\node_modules\express
├── escape-html@1.0.3
├── array-flatten@1.1.1
├── content-type@1.0.2
├── encodeurl@1.0.1
├── merge-descriptors@1.0.1
├── etag@1.7.0
├── methods@1.1.2
├── cookie@0.3.1
├── path-to-r

[2016-11-08 06:02] crandmck commented on #728
@dougwilson I recall that we discussed this, but not the details.  What kind of disclaimer should we include with the doc for this function?

[2016-11-12 19:21] dougwilson commented on #728
A disclaimer probably saying that `req.next` should only be used as a last resort, and that there are various edge cases where it may not actually refer to what a user would think of as `next()`. Passing around callbacks would be recommended over this.

[2016-11-15 16:02] frankrousseau commented on #729
How do you want to represent this doc? By adding `app.instrument` and `res.trace` to api doc or by writing a guide dedicated to tracing?

[2016-11-15 19:23] crandmck commented on #729
@frankrousseau Ideally, both.

Bare minimum is the API doc, but we need a guide to really explain how to use it.  If you can provide the basic information, I can edit, improve, format, etc.  Here's a suggested outline:
- What's the purpose of the feature; common use cases, etc.
- Walk through and explain a simple example.
- (Optional) More complex example.

LMK if you want me to stub it out for yo

[2016-11-18 10:23] hacksparrow commented on #729
Best to work on it **after** the PR lands. The PR is still in the process of being smoothened out.

[2016-11-18 13:56] frankrousseau commented on #729
@dougwilson said that the PR landing requires to have an open PR on the documentation. I will open it, so we can discuss about the canevas. We will be able to change the code examples after.

[2016-11-18 19:12] crandmck commented on #729
It seems that this work will be moved into a separate module.  I'll leave this issue open to track the doc work for that.

[2016-11-18 19:15] crandmck opened #734 "Change contributing info to use markdown files directly from express repo"
Rather than just copy/paste duplicating the files, we should use the script to "pull down" the markdown content from:
- https://github.com/expressjs/express/blob/master/Contributing.md
- https://github.com/expressjs/express/blob/master/Collaborator-Guide.md
- https://github.com/expressjs/express/blob/master/Security.md

Into http://expressjs.com/en/resources/contributing.html.

[2016-11-19 14:52] metasansana opened #735 "Dead link to custom multer storage implementation guide."
On this page:

[code]
I found the file [here](https://github.com/expressjs/multer/blob/master/StorageEngine.md), does not seem to be in the doc repo. Not sure if the file is supposed to be there or the link should be external so I filed an issue instead of a PR.

[2016-11-19 14:58] dougwilson commented on #735
Ah, thanks! So what is happening is that the page https://expressjs.com/en/resources/middleware/multer.html is generated by a script in this repo from the `multer` README file. It looks like the root cause is that the script just needs to be updated to handle relative links in the README files :)

[2016-11-20 17:16] hacksparrow opened #737 "Update website with information about Node Interactive North America"
As discussed in the last TC meeting, we need to include a section on the home page about the upcoming [Node Interactive North America](http://events.linuxfoundation.org/events/node-interactive) event.

Following is the proposed design with placeholder text, @crandmck will be composing the final content.

![express](https://cloud.githubusercontent.com/assets/950112/20464614/6a211700-af70-11e6-8e2b-

[2016-11-20 18:34] dougwilson commented on #737
Both things sounds good to me

[2016-11-21 18:24] crandmck commented on #735
Yes, we should probably do this.  Currently, we're not doing any post-processing on the README content that we pull down... but this would make sense.

In the short run, we could just fix the link in the  multer README to use an absolute instead of relative URL.

[2016-11-21 18:30] crandmck commented on #737
Makes sense.  @hacksparrow I'll provide some text, if you will implement it...

Also, is "4.14" next to the large Express logo going to be a link?

[2016-11-21 22:03] crandmck commented on #737
Suggested text:

**Members of the Express Technical Committee are speaking at [Node Interactive North America](http://events.linuxfoundation.org/events/node-interactive/) and attending a local meetup.  See you there!**
- **Doug Wilson**, Lead developer for the Express project and related modules, is giving a keynote presentation "Express State of the Union" on Tuesday, November 29 at 9:15am
LINK:

[2016-11-22 05:17] dougwilson commented on #737
Yep :) !

[2016-11-22 07:10] hacksparrow commented on #737
@crandmck yes

I am starting work on the implementation.

[2016-11-23 18:14] crandmck commented on #737
This is done.

[2016-11-23 18:14] #737 closed, assigned to nobody

[2016-11-23 18:16] crandmck opened #741 "Remove Node Interactive Announcement"
After the conference is over on Dec 2, we should remove the box on the front page added by #740.

[2016-11-23 18:48] crandmck commented on #735
For now, I fixed the link with https://github.com/expressjs/multer/pull/419.   Then I'll rerun the script that pulls in the READMEs to get this fix.

Also, I'll open an issue to investigate how we should address this in general/long-run.

[2016-11-23 18:51] crandmck opened #742 "Handle relative links in included READMEs"
A middleware (or other) README file pulled into this repo may have relative links that work in GitHub (and apparently on npmjs.com), but not on this site (e.g. #735 ).

While we can fix these links manually in each individual README, let's discuss whether we want to "post-process" the included READMEs to transform URLs to be absolute instead of relative.

[2016-11-23 20:44] #735 closed, assigned to nobody

[2016-11-24 11:51] NickNaso opened #743 "404 error requesting timeout middleware page"
Hi,
when requesting timeout middleware page at this link:
http://expressjs.com/en/resources/middleware/connect-timeout.html
Express web site return 404 page
![screenshot from 2016-11-24 12-49-11](https://cloud.githubusercontent.com/assets/387506/20597571/c3f537f8-b244-11e6-9b38-f7c628ed89de.png)

[2016-11-28 17:44] #743 closed, assigned to nobody

[2016-11-28 17:44] crandmck commented on #743
This page is at http://expressjs.com/en/resources/middleware/timeout.html. Fixed the link.  Thanks for reporting!

[2016-12-10 00:38] syrnick opened #748 "Document that GET handler also handles HEAD requests"
The current docs don't mention that GET handlers must also accept HEAD requests:

https://github.com/expressjs/express/blob/master/lib/router/route.js#L65

This is quite unexpected and would cause bugs if something is done for GETs, but not for HEADs. E.g.
[code]
looks reasonable, but will throw for a HEAD request.

(Originally incorrectly posted to https://github.com/expressjs/express/issues/3149

[2016-12-11 03:51] jitendra3109 opened #749 "Docs need to more info & link."
I am a newbie and getting start with the express framework it like dying and also docs need to more link where again and do not go to nav bar to the next and previous page.

[2016-12-12 22:03] crandmck commented on #749
I don't understand what you are asking for.  Can you please clarify?  Be as specific as possible.

[2016-12-12 22:43] crandmck commented on #748
OK, if I understand what you're saying, we should add a note saying that `app.get()` and `router.get()` will handle HTTP HEAD requests as well as GET requests.  Is that right?

[According to the spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4):

So perhaps we should note that as well?

Ideally we would provide a short example of the right way to handle both GET and HEAD.  @doug

[2016-12-12 22:57] dougwilson commented on #748
Express handles the details for the users. Users are expected to just do the GET action in their GET route and not look at the req.method. This is because per spec a HEAD is expected to perform the same action as a GET for the same path, but simply not return a body. Express (and Node.js as well) ensure that the body is dropped automatically.

[2016-12-12 23:31] syrnick commented on #748
It just needs a note like this: A GET handler MUST handle HEAD requests unless a HEAD handler was explicitly added.

@dougwilson the spec says nothing about the "action" it just talks about the headers. E.g. if a GET request would do some work, warm up caches and load things into memory, HEAD request might do none of that. It could only check permissions and last modified time and be done.

I thin

[2016-12-12 23:39] dougwilson commented on #748
Yea, sorry, I just wrote that quickly on a phone :) So when I said spec, I really meant we are trying to adhere to as many "SHOULD" as possible out-of-the-box for users, especially since Express was originally developed as a general purpose webserver, vs a strict REST server. The doc you linked to said

And so to achieve that, we are calling the defined get handler in Express and simply dropping t

[2016-12-12 23:50] dougwilson commented on #748
@syrnick it may be even easier to get the docs updated by editing the site yourself, using the "Edit this page on GitHub" link that it on the bottom of every page. Then it can just be merged in vs someone needing to get around to making the change at some point :) It will also help us understand what wording you think is helpful or not instead of trying to figure it out here :)

[2016-12-13 00:06] dougwilson commented on #748
I quickly put together a doc update proposal in #750

[2016-12-13 17:44] crandmck commented on #748
Fixed by #750 ... thanks @dougwilson and @syrnick

[2016-12-13 17:44] #748 closed, assigned to nobody

[2016-12-14 04:50] crandmck opened #751 "Site build error"
Since [I merged this commit](https://github.com/expressjs/expressjs.com/commit/f296477953dc0c27ca65889999d9755ce1993c31) there is an error in the Jekyll build:
![2016-12-13_2044](https://cloud.githubusercontent.com/assets/2925364/21169882/0b904b9a-c175-11e6-8326-f2407334947e.png)

(See https://github.com/expressjs/expressjs.com/settings.)

However:

- That commit didn't change anything in `_layout

[2016-12-14 05:06] dougwilson commented on #751
I'm seeing what I can poke at now

[2016-12-14 05:08] dougwilson commented on #751
My initial thought is that since there are two includes with `{{ page.lang }}` then perhaps that value is something we're not expecting when GitHub is running it. To bad they don't say what the name of the bad include is :/

[2016-12-14 05:26] dougwilson commented on #751
It looks like they use Jekyll 3.3.1 currently. I assume they changed that recently, so it's possible that there was some change in a new version that caused the breakage.

[2016-12-14 18:36] crandmck commented on #751
That's logical, but it's weird that this would just suddenly start happening when the recent commits didn't change anything related to that.  Note that `{{ page.lang }}` is set via page front-matter YAML `lang: en`.

It's also very hard to fix since I cannot reproduce it running the site locally.  When I run it, there are no errors at all.

Yes, I'm starting to think this error might be related to

[2016-12-15 00:24] crandmck commented on #751
GitHub support go back to me with this:

I just cloned your repo and got the following error when I attempted to serve it locally:

[code]
There's currently an issue with Bundler where the latest version of the github-pages gem is not loaded in one-line Gemfiles. To work around this, you'll need to explicitly specify the exact version of of the gem you want to use, like this:

[code]

https://gith

[2016-12-15 01:05] crandmck commented on #751
OK, so following instructions above -- excluding `2.x` dir (and `uk/CHANGELOG.md`) fixes the problem, and that's the easiest fix, but it means we'd be removing the 2.x docs.  I suspect we could fix it another way, but I haven't looked into it yet.

So @dougwilson do we need to keep the 2.x docs?  Or can we just remove them from the website (the source files would remain in the repo).  Of course, I

[2016-12-15 01:43] crandmck commented on #751
Actually, scratch that... I figured out how to fix the error and keep the 2.x docs, so we don't have to make that call yet.  PR coming soon (gotta run now)...

[2016-12-16 17:17] #751 closed, assigned to crandmck

[2016-12-18 07:04] dougwilson commented on #751
Re keeping 2.x docs: I think we had removed them at some point, but people did want them back (I mean, Express has never shipped with it's documentation self-contained, so I suppose that is a valid argument). Of course, the 2.x series is even older these days, so not sure. I personally never use them, but that's just me :) I'm sure there is probably a lot of files we can clean up in that dir, at l

[2016-12-19 08:42] hacksparrow commented on #741
Removed in 4546f8111492f68ea087c3e5604e6f2972872ded

[2016-12-19 08:42] #741 closed, assigned to nobody

[2016-12-19 08:49] hacksparrow commented on #749
@jsroyal there is no "next" and "previous" navigation pattern on the website.

The website should be very easy use on on any modern laptop, desktop or smartphone. What device are you using?

[2016-12-19 18:04] crandmck commented on #751
Yeah, we should probably discuss removing 2.x docs and give plenty of notice before doing so.  I was able to fix the problem without removing them, so the decision is not urgent...

Agree--At some point, I'd like to go thru and clean up all the extraneous files from that dir just on principle.  I'll open an issue to remind me, otherwise I'll just forget! :-)

[2016-12-19 18:07] crandmck opened #756 "Clean up extraneous files in 2.x dir"
As discussed in #751, there are a bunch of unneeded files and dirs in thje [2x](https://github.com/expressjs/expressjs.com/tree/gh-pages/2x) dir that are not used.  They don't do any harm, but removing them would at least reduce the size of the repo and make it a bit tidier.

Not an urgent task--just a reminder.

[2016-12-19 21:34] raijinsetsu opened #757 "Missing documentation for overriding sugar methods"
This issue originated here: https://github.com/expressjs/express/issues/3151

Documentation that would allow us to override sugar methods is missing from the documentation on the site.

[2016-12-20 03:07] jitendra3109 commented on #749
Thanks,  @hacksparrow. there is no "next" and "previous" navigation on the website in the guide part. When I was reading this then again and back to top and drop-down and then next topic. That why I think why we add to link in the docs part.

[2016-12-20 18:24] manikawnth opened #758 "x-forwarded-port not updated in req headers during redirect"
Hi,

I have a reverse proxy (HAProxy) running on port 80.
This will proxy the requests to express server running on port 4040 after setting `X-Forwarded-Port` header to `80` and it is reflecting in the express server when I did `console.log(req.get('X-Forwarded-Port'));`

From here I redirected the response to port 3939
`res.redirect(301, 'http://10.80.51.90:3939');`
Now the redirect is not carryi

[2016-12-20 18:29] manikawnth commented on #749
@jsroyal I think the guide in express js is not a step-by-step tutorial to provide next and prev button. Each topic is an independent entity.
You can either start with middleware first, errors next, templating later and finally routing. There is no specific sequence and that's the reason your request doesn't make any sense

It may make sense for the "Getting Started" section but that would disturb

[2016-12-20 18:35] manikawnth commented on #758
Sorry!!!
Wrong forum. I posted on expressjs.com project instead of express project
Raising the issue in the right project

[2016-12-20 18:35] #758 closed, assigned to nobody

[2017-01-02 13:54] macOneOone opened #761 "TypeError: Cannot read property 'length' of undefined"
Hey frineds, I'v havings this error while i'm trying to run the express with node or forever js... i don't get y it's happing... can you give me an Help Please... i'v one app in prodution...
[code]

[2017-01-02 17:49] dougwilson commented on #761
Hi @macOneOone please stop by our support channel for assistance: https://gitter.im/expressjs/express

[2017-01-02 17:49] #761 closed, assigned to nobody

[2017-01-03 08:14] macOneOone commented on #761
Yeah i will

[2017-01-07 14:47] phoenisx opened #762 "Unable to use Pugjs Filters"
I am not sure, but is it possible to use [pugjs](https://github.com/pugjs/pug/) filters like `markdown-it`?

Haven't found a proper documentation for it if it's possible.

Need some help to use markdown plugin for pug. Thanks

[2017-01-08 03:25] hacksparrow commented on #762
@Shub1427 pleas ask the question at the Pugjs repo, or at the [Express Gitter channel](https://github.com/pugjs/pug/). This repo is for issues related to the expressjs.com website.

[2017-01-08 03:25] #762 closed, assigned to nobody

[2017-01-11 18:44] crandmck opened #765 "Add more details to the Collaborator Guide"
@hacksparrow commented on [Fri Nov 18 2016](https://github.com/expressjs/discussions/issues/45)

As suggested by @dougwilson on [Express TC meeting 11-16-2016](https://github.com/expressjs/discussions/issues/43), we should add more details to the existing [Collaborator Guide](https://github.com/expressjs/express/blob/master/Collaborator-Guide.md), focussed around code and other convention that mus

[2017-01-13 07:21] packtpartner opened #766 "Video Tutorials for learning"
As the demand for video tutorials has increased in the IT industry, would it be appropriate to add video tutorials to http://expressjs.com/en/resources/books-blogs.html ?

[2017-01-13 19:32] crandmck commented on #766
Thanks for the suggestion, this is essentially a duplicate of #561.  I think it's a good idea.
Can you suggest any specific video tutorials to which we should link?

I'll take this as a +1 for that issue, so I hope we can prioritize it soon.  You are also welcome to open a PR! :-)

[2017-01-13 19:32] #766 closed, assigned to nobody

[2017-01-15 14:37] nstuyvesant opened #767 "Promise created in handler but not returned from it"
Been getting warnings about promises in handlers within expressjs but not returned from them. Would it make sense to ensure that they return the promise as a best practice (even though Express appears to be working as expected)?

Here's a trace...
[code]

[2017-01-15 16:39] hacksparrow commented on #767
That's the responsibility of the handler to resolve or reject the promise.

For general queries and discussions about Express and webdev join us at our [official Gitter channel](https://gitter.im/expressjs/express).

[2017-01-15 16:39] #767 closed, assigned to nobody

[2017-01-16 07:36] packtpartner commented on #766
Here are 3 Express video tutorials which could be added to the list.
[Learning Express Web Application Development (Video)](https://www.packtpub.com/web-development/learning-express-web-application-development-video)
[Mastering Express Web Application Development (Video)](https://www.packtpub.com/web-development/mastering-express-web-application-development-video)
[Build Complex Express Sites with

[2017-01-16 23:23] crandmck commented on #766
Yes, I'll do that asap.

[2017-01-17 05:27] packtpartner commented on #766
Thanks @crandmck . Could you tag me in the PR, so I can see it too

[2017-01-18 21:09] crandmck commented on #766
Sure, np.
Unfortunately I'm slammed atm, but will do this just as soon as I can come up for air! :-)

[2017-01-25 02:58] strugee opened #769 "Redirect HTTP -> HTTPS"
https://expressjs.com is perfectly functional, but http://expressjs.com doesn't redirect to it. It should.

Also, once that happens, the website should serve [HTTP Strict Transport Security](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security) headers and probably also be on the HSTS preload list.

[2017-01-25 03:06] dougwilson commented on #769
I think we have (had) an issue about this somewhere. The site is on cloudflare and our TC doesn't have access to change this for the main part. @jasnell how can the Express TC get access to the cloudflare account?

[2017-01-25 03:07] dougwilson commented on #769
Closing as a duplicate of #695 so we can keep all the conversation together.

[2017-01-25 03:07] #769 closed, assigned to nobody

[2017-01-25 03:08] strugee commented on #769
Oh, you're right - it's #695. I searched for duplicates with the keyword "https" but didn't think to wade through all the Express HTTPS support-related issues :P

[2017-01-25 03:20] dougwilson commented on #769
Absolutely no problem 😊!

[2017-02-02 17:36] konovalovsergey opened #774 "unhandled exception in res.sendfile example"
this code `res.status(err.status).end();` from [http://expressjs.com/en/api.html#res.sendFile](url) can throw unhandled exception when `ECONNABORTED ` occur and cause the worker died.
here logs from windows 10 x86

[2017-02-02 18:52] jyotman opened #775 "Website homepage shows version 4.14.0 instead of 4.14.1"
Website homepage shows version 4.14.0 instead of 4.14.1 and clicking on it also takes to the changelog of version 4.14.0 instead of 4.14.1

[2017-02-02 20:02] dougwilson commented on #775
Oops, that is my bad :) I realized yesterday and forgot to PR it. You're absolutely welcome to put together a PR if you like or we'll get it fixed :D

[2017-02-02 22:35] crandmck commented on #774
@hacksparrow PTAL

[2017-02-03 00:04] dougwilson commented on #774
Yea, seems like an issue. Made #777 as a possible solution.

[2017-02-03 02:57] jyotman commented on #775
Sure let me let me know if there's anything I can do. I see that you've already begun work on that. Would be happy to help in any way :)

[2017-02-04 05:03] #774 closed, assigned to dougwilson

[2017-02-04 09:03] oxy-gendotmobi opened #779 "Documentation for Express version 4.5.1 update res-sendStatus.md"
This command does not seem to exist in Express version 4.5.1.
It gives:
TypeError: res.sendStatus is not a function

Maybe this page should be edited that only version 4.x but not 4.5.1 and later???

File:
expressjs.com/_includes/api/en/4x/res-sendStatus.md

[2017-02-04 14:55] hacksparrow commented on #779
@oxy-gendotmobi thanks for bringing this to notice.

@expressjs/express-tc I suggest adding a "Availability" label beside the API header to address this kind of issues. Currently we have included notice boxes for those APIs which users have "complained" about. A better solution is to label all the APIs to address all current and potential issues in future.

A mockup is included below.

![availabil

[2017-02-04 19:24] dougwilson commented on #779
@oxy-gendotmobi your version is Express is too old, not too new :) `res.sendStatus` was not in Express until version 4.9.0, so if you upgrade to 4.9.0 or higher you'll be able to use that method.

@hacksparrow Yes, definitely a good idea. The mock up style itself LGTM, with a few comments:

1) For the arability, some of the forever-existing methods may be a long hunt to capture which version that

[2017-02-06 14:53] hacksparrow commented on #779
@dougwilson good suggestions!

@iamropo here's something you can work on.

@oxy-gendotmobi I will close this issue and open a new one to address availability/deprecation information.

[2017-02-06 14:53] #779 closed, assigned to nobody

[2017-02-06 14:55] hacksparrow opened #781 "Add availability/deprecation information on API doc"
To address issues such as #779.

[2017-02-06 15:36] hacksparrow commented on #775
Fixed in efeeed89116956b80237414c2ba96ca89e239322. Thanks @jyotman

[2017-02-06 15:36] #775 closed, assigned to dougwilson

[2017-02-13 21:23] martinjoiner commented on #609
Hey guys.  I am a firs-timer here on this repo. I would like to contribute by replacing references to Jade with Pug in the "Express Application Generator" page http://expressjs.com/en/starter/generator.html  I recently got confused when followed this guide to bootstrap a project and then tried to find Jade documentation. Is it OK to go ahead and fork, edit and create a pull request?

[2017-02-13 22:22] crandmck commented on #609
Hi @martinjoiner thanks for offering to contribute.

This seems reasonable, and IIRC, the only reason we haven't made this change was because Pug was still in beta.  Although npm still says version if 2.0.0-beta11, it's replaced Jade now for quite a while, so I'm not sure if this is still an issue.

Even though the generator still supports Jade, I agree we should start nudging people toward Pug, s

[2017-02-14 01:55] dougwilson commented on #609
I don't see any reason any longer not to just update that generator page to use `--view=pug` if that reduces confusion 😄

[2017-02-14 13:26] martinjoiner commented on #609
I have forked, edited and created a pull request (https://github.com/expressjs/expressjs.com/pull/785). My initial motivation for making this change was to save confusion for English-speaking new adopters. However, as I worked on the different language versions I realise how the real win here is for the non-English-speaking users who might find it harder than I did to learn about the forced renami

[2017-02-14 18:25] crandmck commented on #609
Landed #785.  Thanks @martinjoiner !

[2017-02-27 09:31] hacksparrow commented on #781
@iamropo this one is for you.

[2017-02-28 03:08] dougwilson opened #791 "Stage 4.15 API documentation"
I'm not sure how we should go about this, but figured at least open a tracking issue. I assume that we can just make a 4.15 branch in here and commit / PR to it for the different things in prep for the 4.15 release.

- [x] 4.15 changelog
- [x] 4.15 announcement
- [x] API docs added for `next("router")` (implemented in https://github.com/expressjs/express/pull/3187/commits/9722202df964bfbfc0f579e4b

[2017-02-28 16:54] crandmck commented on #791
Yes, that's the best way to do it, afaik.

[2017-03-01 22:34] #791 closed, assigned to dougwilson

[2017-03-02 23:42] crandmck commented on #757
@hacksparrow I don't think we should close this until #763 is landed...

[2017-03-05 02:13] thandonguocmo2020 opened #795 "how to get all method form route"
i want has all method form route. how to ?
I need to have resources for all modules acl is route and method

[code]
please help me !

[2017-03-05 03:48] dougwilson commented on #795
Unfortunately it is not possible to do.

[2017-03-05 03:48] #795 closed, assigned to nobody

[2017-04-23 15:28] monmonmon commented on #533
The translations are more than 1 year old...
Most of the translated documents seem not to have updated since the "Initial delivery of all translations (46b27bb)" on Dec 18 2015 except for minor updates.
I'm willing to work on Japanese translation but CONTRIBUTING.md says it's not acceptable.

Do you have any plans to update the documents?
Or isn't it possible to change the policy to accept communi

[2017-04-24 16:06] crandmck commented on #533
Hi @monmonmon

You are correct: We haven't updated the initial translations donated by IBM with any more professional translation.  However, there have been a few PRs with corrections / improvements to the existing translated material.

Actually, it says "... except for corrections to the _existing translations_." [my emphasis]
In other words, we welcome your work on the existing Japanese translat

[2017-04-30 16:52] monmonmon commented on #533
Nice to hear that :D I'm working on it now!
Is it better to make another issue?

[2017-05-01 15:09] crandmck commented on #533
If you have questions or need detailed discussion around your specific work, then opening a separate issue makes sense.  Thanks!

[2017-05-02 09:46] monmonmon commented on #533
Thanks :)

[2017-05-05 09:38] llwslc opened #805 "res-sendStatus.md -> res.sendStatus(2000), here 2000 is invalid."
node code:
https://github.com/nodejs/node/blob/e0a9ad1af244f8756a228a6d087b3a55ee4c0d14/lib/_http_server.js

[code]

[2017-05-05 19:01] crandmck commented on #805
That does seem to imply that the [res.sendStatus](http://expressjs.com/en/4x/api.html#res.sendStatus) doc is incorrect, specifically:

@dougwilson Should this instead say that a status code  < 100 or > 999 will throw an error?

[2017-05-05 21:32] dougwilson commented on #805
I believe the docs are correct, but I can see how someone thought that the 2000 was a typo for 200 (even through the docs are explaining it's showing an error). I would say maybe that spot should just show an obviously-bogus code instead of 2000, for example maybe 1234.

[2017-05-05 21:42] dougwilson commented on #805
And no, as we don't throw any errors. If you are using a version of Node.js that throws an error, it will throw at a later time, so if we want to document Node.js's behavior (besides that we note "the HTTP status is still set to statusCode") then we need to list which versions of Node.js throws and which ones do not (it's not an easy before and after a single version -- they backported it and so i

[2017-05-08 09:03] llwslc commented on #805
node code log:
https://github.com/nodejs/node/commit/abd101be1a
node version log:
https://github.com/nodejs/node/blob/4897ae211423a6282cd7a258ede9358743784e6f/doc/changelogs/CHANGELOG_V5.md

so when node version > 5.11.0 (Stable), will throw an error as shown below.

![image](https://cloud.githubusercontent.com/assets/5865414/25795452/f5548624-3407-11e7-9fda-fb70c2290972.png)

![image](https://clo

[2017-05-08 16:58] dougwilson commented on #805
It is also thrown in some version of 4.x, but not all. If you are using a version of Node.js that throws an error, it will throw at a later time, so if we want to document Node.js's behavior (besides that we note "the HTTP status is still set to statusCode") then we need to list which versions of Node.js throws and which ones do not (it's not an easy before and after a single version -- they backp

[2017-05-09 18:14] crandmck commented on #805
OK, I _think_ I understand what's going on...

In general I agree with @dougwilson that we should not try to document Node behavior and instead refer to Node docs.

So, IIUC the upshot is we should say something like:

Is that correct and would it be helpful?  What would be the link?

Also, changing "2000" to "1234" in the example might be a good idea to avoid any possible confusion, as Doug sugge

[2017-05-09 18:25] dougwilson commented on #805
@crandmck right. Because the title of this issue is "res-sendStatus.md -> res.sendStatus(2000), here 2000 is invalid" and the reason 2000 is used is because _it's trying to show something invalid_. I think that changing 2000 -> 1234 is likely the best way to resolve the initial misunderstanding.

In addition, we can tweak the description a bit. Currently it says:

We could maybe tweak it to be som

[2017-05-09 19:29] llwslc commented on #805
Not only throw an error, but also the HTTP statusCode will set to 500 (see Figure 2).

[2017-05-09 19:34] dougwilson commented on #805
@llwslc any error you throw within a handler ends up going through the error handling middleware. The fact that it comes through as a 500 is an implied behavior from the throw statement, it is not somehow specific to this `res.sendStatus` in any way. You can see this with the following:
[code]

[2017-05-14 04:16] ghost opened #808 "Improve express.static documentation"
It would be good if the good practices around [serving static files](https://expressjs.com/en/advanced/best-practice-performance.html) was accessible from [here](https://expressjs.com/en/starter/static-files.html) and [here](https://expressjs.com/en/4x/api.html).

I volunteer at Stack Overflow and it would make my job easier if people were more aware that `express.static` should be put behind a re

[2017-05-15 18:42] crandmck commented on #808
We can certainly add links from the pages you suggest.

I'm not sure we want to get into the latter point, even though it's reasonable.  We can't possibly tell people everything they need to know about web apps.

[2017-05-15 19:09] ghost commented on #808
I think adding more visibility to the good practices article, which is very informative, should be enough.
Also adding anchors to the good practices article, would help linking users to the specific section of interest.

[2017-05-25 21:36] khalid-s opened #813 "set views root not working"
wong post

[2017-05-26 09:11] #813 closed, assigned to nobody

[2017-05-29 15:32] LakshmanKatragadda opened #814 "app.js not working .installed by Express application generator"
express@4.15.3
centos 7

nothing coming after running node app.js  in terminal
![screenshot from 2017-05-29 20-58-05](https://cloud.githubusercontent.com/assets/1289975/26555334/2e2b7560-44b2-11e7-8f68-06f79d8a881a.png)

[2017-05-30 01:06] dougwilson commented on #814
Hi @laxman1223 you can find the general instructions for the generator here: http://expressjs.com/en/starter/generator.html
`node app.js` or `node app.js` doesn't do anything; you would need to use `npm start`.

[2017-05-30 01:06] #814 closed, assigned to nobody

[2017-05-30 08:44] LakshmanKatragadda commented on #814
still npm start aslo not working
![screenshot from 2017-05-30 14-11-24](https://cloud.githubusercontent.com/assets/1289975/26575313/54603f00-4542-11e7-8724-a947f2f15aa2.png)
![screenshot from 2017-05-30 14-12-00](https://cloud.githubusercontent.com/assets/1289975/26575319/580a3cfa-4542-11e7-98fe-909aa184ad84.png)

[2017-06-07 08:28] kapouer opened #817 "res.attachment or res.download with long filename makes browser fail the download"
Hi,

when giving a filename long enough (254 chars long, for example), some browsers fail the download with an error.
Express should warn, or even truncate the filename (but keep the extensions).
Using express@4.15.3:
- epiphany 3.24, chromium 58 fail
- firefox 45.9 does not fail

[2017-06-07 08:29] kapouer commented on #817
Ha damn i opened an issue in the wrong project.

[2017-06-07 08:29] #817 closed, assigned to nobody

[2017-06-20 00:26] crandmck commented on #808
I added links to the best practices article and also internal anchors as suggested.

[2017-06-20 00:26] #808 closed, assigned to nobody

[2017-06-20 01:32] ghost commented on #808
Thanks @crandmck

[2017-06-20 15:29] crandmck commented on #781
@hacksparrow is @iamropo going to address this, or should I put it in my queue?

[2017-06-20 18:43] crandmck commented on #749
The action here is unclear, and since this have been no further comments in 6+ months, closing...

[2017-06-20 18:43] #749 closed, assigned to nobody

[2017-06-20 18:47] crandmck commented on #729
I'm cleaning up old issues, and I don't see that there's any immediate doc work to do here...

If https://github.com/frankrousseau/express-tracer ever gets pulled into the expressjs org, then we can work on and incorporate docs for it.

Meantime, I'll close this.

[2017-06-20 18:47] #729 closed, assigned to nobody

[2017-06-21 11:46] dotchev opened #823 "Route parameters not passed to router"
Consider this app
[code]
Then start and request it
[code]
Notice that `params` is empty, meaning that path parameters are not passed to the router.
If you change `app.use('/:prefix', router);` to `app.use('/:prefix', handler);`, you will get:
[code]

Is this intentional or a bug?

[2017-06-21 14:58] blakeembrey commented on #823
There's some documentation on this. Check out https://expressjs.com/en/4x/api.html#express.router, specifically `mergeParams` is what you're looking for.

[2017-06-26 17:36] crandmck opened #825 "Clarify example in "Error handling""
Comment in #824 :

[2017-07-03 10:43] #823 closed, assigned to nobody

[2017-07-20 09:35] danieljamesscott opened #832 "content-length header is added even when transfer-encoding: chunked is returned from backend server"
I am using express as a 'frontend' server to serve static content and also to proxy calls to a backend API.

I'm having a problem when the backend server responds with a 'transfer-encoding:chunked' header and express seems to add a content-length header as well. This apparently violates the HTTP spec, and my client is complaining

https://en.wikipedia.org/wiki/Chunked_transfer_encoding

Code:

[2017-07-20 09:39] danieljamesscott commented on #832
I should also add that I've logged out the headers in the 'pipeResponse' and the content-length header is not present, so it's definitely being added after that point.

[2017-07-20 10:22] danieljamesscott commented on #832
Just realised I added this to the wrong sub-repo. I've opened a new issue in /express

https://github.com/expressjs/express/issues/3369

[2017-07-20 10:22] #832 closed, assigned to nobody

[2017-07-20 21:11] dougwilson opened #833 "Hello world example broken by Edge XSS protection"
I'm recording this as an issue since I haven't had time to look into it yet, in case someone wants to. The hello world page seems to load really messed up, with a bunch of `#` everywhere in the source code.

Page: http://expressjs.com/en/starter/hello-world.html

Here is what it looks like for me:
![image](https://user-images.githubusercontent.com/67512/28439005-02bf4b92-6d55-11e7-8c14-2d157d64774

[2017-07-20 21:13] dougwilson commented on #833
Clicking on the URL at the bottom right seems to confirm the `#` are really there are not just visual artifacts, as the following is displayed:
[code]

[2017-07-20 21:45] boucher commented on #833
Thanks for filing this, I'll take a look

[2017-07-20 21:48] dougwilson commented on #833
Awesome! And that reminded me to add an additional note that the RunKit actually does always load; the cases where I thought it wasn't loaded was just because the VPN I'm on is slow, so it was just slow going some times, haha. So just seems to consistently load with the `#` chars in EdgeHTML 15.

[2017-07-20 22:17] boucher commented on #833
Have you seen this in any other browser?

[2017-07-20 23:51] dougwilson commented on #833
I just tried Chrome 59 over the same slow connection and it worked as expected, without issue.

[2017-07-20 23:53] dougwilson commented on #833
I quickly opened up the Console on Edge and I think I see what the cause may be. The following was logged:
[code]

So it appears that Edge may think the request is XSS and maybe Edge itself is what is replacing a bunch of the characters with `#` characters before submitting over the wire.

[2017-07-20 23:56] dougwilson commented on #833
A quick Google search looks like the solution may be to add the HTTP response header `X-XSS-Protection: 0`, though I'm not sure if that would need to be added to the expressjs.com domain or the runkit.com domain.

[2017-07-21 17:44] boucher commented on #833
Ok, this should now be fixed.

[2017-07-21 17:50] dougwilson commented on #833
@boucher confirmed just now in Edge. Thanks for the hard work! The live demo is pretty cool and I think people will appreciate it in the long run.

[2017-07-21 17:50] #833 closed, assigned to nobody

[2017-07-25 02:57] Li-saltair opened #835 "translate"
Do you agree that I contribute part of the Chinese translation

[2017-07-25 23:19] crandmck commented on #835
Hi @Li-saltair thanks for reaching out.  Contributions are always welcome.

Although we already have translations into Chinese: http://expressjs.com/zh-cn/ and traditional Chinese: http://expressjs.com/zh-tw/, some material was added since these translations were done....  What specifically are you proposing to translate?

[2017-08-03 19:35] Harshit369 commented on #761
Hi! sorry to poke you, but any solution for this?

Thanks.

[2017-08-11 17:34] jamesplease opened #839 "Documentation for app.set is ambiguous"
I _think_ the recommended usage of `app.set` includes storing your own values in there. For instance, the examples in the docs show: `app.set('title', 'My Site');`. Yet the description for this method doesn't necessarily allow for this usage:

This sentence seems to be quite explicit in that `name` must be one of the app settings values in the table that appears beneath this section, yet `title` d

[2017-08-11 17:47] crandmck commented on #839
Per @dougwilson's [comment](https://github.com/expressjs/express/issues/3393#issuecomment-321873400):

So I agree we should clarify the wording in that section accordingly.   Thanks for catching it!
IIUC, you can set any key/values, but only the ones in the app settings table shown in that section have any meaning or functionality built-in to Express, i.e. setting a value like `title` doesn't do a

[2017-08-11 23:45] #839 closed, assigned to nobody

[2017-08-17 10:43] RyanJWilliams opened #842 "Issue with using menu in API Reference"
Hey all,

I'm using Safari 10.1.2 (12603.3.8) macOS, and when you select menu items in the API reference sidebar it goes to a completely different item. In Chrome macOS it's fine.

I've recorded a video of what's happening:

https://www.youtube.com/watch?v=toqj6PnziDE

I originally posted this in the Express issues tracker and some people on macOS there couldn't reproduce this, so not sure why it'

[2017-08-17 18:15] crandmck commented on #842
I can't reproduce what you show in the vid myself, using Safari 10.1.2 (12603.3.8).  I do inconsistently see some squirrely behavior, though....sometimes the menu works fine, and sometimes it highlights the item below the one I click on, but displays the correct section.

[2017-08-17 22:59] crandmck opened #843 "Tracking issue for cleanup work"
All the existing pages in `/guide`, `/advanced`, `/resources`, and `/starter` have the following:
[code]

This `<div>` can easily be incorporated into the `page` layout; that's the whole point of using a layout in the first place: to reduce duplicate content.  Although this is not a huge deal, it just makes the content pages a bit cleaner.

I have a commit in hand to correct this, and I'm opening

[2017-08-17 23:00] #843 closed, assigned to nobody

[2017-08-20 04:06] dougwilson commented on #843
SGTM

[2017-09-02 17:29] govindrai opened #849 "Documentation for body-parser middleware"
Here is a snippet from the [body-parser middleware documentation](https://expressjs.com/en/resources/middleware/body-parser.html):

The `options` objects that the JSON parser takes is optional, so shouldn't the snippet actually look like this?:

Here are the two changes proposed
1. Add brackets around `options` parameter in the the method signature to signify optional `options` object
2. Change op

[2017-09-02 17:32] dougwilson commented on #849
We use a script to grab the README from the body-parser module directly. Please file an issue (or even better, a PR) to that module and it'll get picked up here:)

[2017-09-02 17:32] #849 closed, assigned to nobody

[2017-09-03 10:17] loulafripouille commented on #533
Hi,
I am french, so I checked the french translation, which is not that bad! :)
But I have spotted some mistakes like translating "node" into the french word  "noeud" even if it means "Node.js". So it could be confusing.
Also I have noticed there are some updates on the english version which are not present in the french one.
Should I make a PR to add fix and updates?

[2017-09-05 15:24] crandmck commented on #533
Hi @laudeon Yes, PRs for the translated material are welcome, especially if they are obvious mistakes as you note, or information that needs to be updated to align with the English version.

Thanks!

[2017-09-07 22:26] crandmck opened #852 "Add a note about start command in "Process Managers" page"
Per comment in old PR, need to clarify commands used to start apps via PMs:

[2017-09-11 16:25] crandmck opened #856 "Clean up middleware script"
Per #855, update  [get-readmes.sh](https://github.com/expressjs/expressjs.com/blob/gh-pages/get-readmes.sh) to remove the div tags to align with the changes of 8a103159cb58b61f89370e5ebcf11b361fff4a8d and then run the script, because the div tags were missed on several files.

[2017-09-26 07:13] jwgoh opened #862 "Kramdown Header IDs"
The link to [Set NODE_ENV to “production”](https://expressjs.com/en/advanced/best-practice-performance.html#set-nodeenv-to-production) is broken. The generated header id is `#set-node_env-to-production` instead of `set-nodeenv-to-production`.

But looking at the [documentation](https://kramdown.gettalong.org/converter/html.html) the generated id should be the latter (without underscore `_`).

[2017-09-27 23:27] crandmck commented on #862
Thanks for catching!  Fixed by 8ceb1385e98cab07ca8785dc1c6b096b44d157eb.
Oops missed one. Second commit: 88eac9cc299d4cfe459d35d37b1d7c628389843e

[2017-09-27 23:27] #862 closed, assigned to nobody

[2017-09-27 23:49] jwgoh commented on #862
I wanted to push the same patch but I couldn't reproduce it locally. As mentioned above, reading the Kramdown documentation and looking at the [source code](https://github.com/gettalong/kramdown/blob/b52fcc236345bb87e1fd9bfe2cc88c2450b0200f/lib/kramdown/converter/base.rb#L247-L253), shouldn't the header id be stripped of underscore `_`? Maybe I am missing something here

[2017-09-28 16:35] crandmck commented on #862
I don't believe the regexes do anything with the underscore, i.e. they leave it "as is" in the generated ancho IDr.

In any case, the links work now, which is all that matters. :-)

[2017-09-28 19:07] dougwilson opened #863 "Write up additional APIs added in Express 4.16"
I am making this to keep track of it. Ideally a normal minor release would have had this already completed before publish, but due to crappy situation, it had to be published as soon as possible, which means we have 4.16 published without the added docs for the new APIs.

I will work on adding these in some PRs, but also anything not already added is free to write up by anyone as well :)

[2017-09-28 20:57] crandmck commented on #863
Thanks @dougwilson

For my own information, and to confirm, does https://github.com/expressjs/express/blob/master/History.md#4160--2017-09-28 list all the changes/additions?

[2017-09-28 20:58] dougwilson commented on #863
Yep, though tersely :)

[2017-09-28 21:05] crandmck commented on #863
Yeah, terse for sure.  But it can serve at least as a reminder of what needs to be done....

Also we should update:
- The "latest" version shown on the home page. Currently, it says 4.15.5 (which was just released a few days ago).
- http://expressjs.com/en/changelog/4x.html

[2017-09-29 00:04] dougwilson commented on #863
I'm working on writing up the changelog + changing the listed current version now.

[2017-09-29 00:12] dougwilson commented on #863
Change log and announcement: https://github.com/expressjs/expressjs.com/commit/c40ce1a68c7ac5bdfac9d0d47db22bdc1083a40c ; the actual API docs still need to be done, but wanted to get the announcements up.

[2017-09-29 02:15] dougwilson commented on #863
I created the following branch to work on the changes: https://github.com/expressjs/expressjs.com/tree/4.16-api

[2017-09-30 17:06] Ladvace opened #864 "npm WARN name@1.0.0 No repository field."
i have runned this command:
"npm instal express" but it gives me back this error:
npm WARN name@1.0.0 No repository field.

[2017-10-02 15:44] crandmck commented on #864
This is a standard npm warning, not an error.  Nothing to be concerned about.
https://stackoverflow.com/questions/16827858/npm-warn-package-json-no-repository-field

[2017-10-02 15:44] #864 closed, assigned to nobody

[2017-10-03 16:14] stroupjason commented on #761
Please share fix, thank you.

[2017-10-03 16:59] hacksparrow commented on #781
@crandmck sorry for such a late response. @iamropo will not be able to address it, in your queue please 🙏

[2017-10-04 18:38] Harshit369 commented on #761
@stroupjason what I found was,  I was passing **undefined** path string to one of the routes.

[2017-10-17 09:01] rickywu opened #870 "response incomplete json data"
The version info: "express": "~4.15.2", "express-session": "^1.15.5",

I use this code send large json data to client:

[code]
I tried wget localhost on server and can get full data, But the remote client got broken json data and different each time refresh. Where is the problem? Seems response closed before get all data.

[2017-10-17 17:34] crandmck commented on #870
I don't think this is a doc issue...?

If I'm right, then we should move it to express repo, if it's a valid issue.  @dougwilson LMK.

[2017-10-17 18:08] dougwilson commented on #870
Yea, it's not a doc issue, but if the user is using Node.js 8.x, they are describing an open Node.js bug that was introduced in 8.0.0

[2017-10-18 00:55] rickywu commented on #870
Sorry opned in the wrong place, but where is the open bug, could you send me a link?

[2017-10-18 01:06] dougwilson commented on #870
There are quite a few, with some say fixed, some not. I'm also not clear what fixes were atrempted when. Here is one that also includes a lot of links to others at the bottom: https://github.com/nodejs/node/issues/13391

If you're still not sure, please feel free to file a new issue in the main Express repo as well and we can help you validate if it is an Express issue or Node.js issue. But if dow

[2017-10-18 02:01] rickywu commented on #870
I revert back to node 7.10.1 and solved this problem, this issue should be closed.
Thank you so much.

This issue still happen in node js 8.7.0

[2017-10-18 02:03] #870 closed, assigned to nobody

[2017-10-25 10:37] shawwn opened #871 "In the formatting section, the JS example renders incorrectly"
The README's formatting section currently looks like this:

![image](https://user-images.githubusercontent.com/59632/31994439-43b3ba38-b946-11e7-9f74-abadc16c5d84.png)

I think the JS example ought to look like this:
[code]

instead of this:

[code]

The README is explaining how to use JS snippets within GFM, so showing a fenced GFM block would be better.

[2017-11-03 21:09] #871 closed, assigned to nobody

[2017-11-03 21:22] #618 closed, assigned to nobody

[2017-11-05 09:25] BaroqueCoding opened #875 "document translation"
I just started to contribute open-source project by translation.
It seems the 4.x API document(ko) remains untranslated.
If you agree with, I can translate into Korean.

[2017-11-06 18:30] crandmck commented on #875
Hi @BaroqueCoding, thanks for the offer.   LoopBack 4 is still very much under development, and the docs are not ready for translation yet.   I wouldn't suggest starting on translation until after v4 GA, which will be some time next year (likely late Q1 or Q2, I suspect, but still TBD).

If you're interested, you could help translating v3 docs to ko, because there is a lot not yet translated.  For

[2017-11-06 19:31] crandmck commented on #875
Hi @BaroqueCoding Thanks for the offer.
We haven't translated the [API documentation](http://expressjs.com/en/4x/api.html) into any languages.  The rest of the doc is translated, but not the API doc.

If you want to help update the Korean translation of other parts of the docs, that would be great.
Just compare the date of the ko page to the corresponding en page, and if the en page has been modif

[2017-11-06 21:07] eyalcohen4 opened #876 "Guide/Error-Handling issue"
Hey,
While making sample app, I tried to use the error middleware described [here](http://expressjs.com/en/guide/error-handling.html).
The first section featured a response using

    app.use(function (err, req, res, next) {
          console.error(err.stack)
          res.status(500).send('Something broke!')
    })

When I tried to use this middleware in **4.16.2** version, I got `Unexpected 'S'`

[2017-11-06 21:42] crandmck commented on #876
I didn't test this myself (yet), but if this is indeed correct, then we also need to change http://expressjs.com/en/4x/api.html#res.status, which says that `res.status(<number>).send()` takes a string arg.

It also says it is "...a chainable alias of Node’s [ response.statusCode.](http://nodejs.org/api/http.html#http_response_statuscode)" but that doesn't seem right since that's a property not a m

[2017-11-19 12:25] #875 closed, assigned to nobody

[2017-12-17 12:48] purejs opened #888 "How to post ad on expressjs.com.cn"
Hi, i want post some ads on the expressjs.com.cn.  How to charge? Who should i get in touch with?

[2017-12-17 16:00] hacksparrow commented on #888
We don't deal with that website.

[2017-12-17 16:00] #888 closed, assigned to nobody

[2017-12-21 16:14] isomorphisms opened #890 "documentation structure"
Suggestions about your documentation:

- `FAQ` should not be something you have to click on (eg it could be at the bottom of the home page)
- `Guide` and `Getting started` should be called one thing
- either _all_ of top nav words should be dropdowns, or _none_. And the dropdown should happen on a hover, not a click.
- Nothing should ever be titled `Advanced topics` or `Resources` as these are inc

[2017-12-24 16:03] Xylent opened #891 "Middleware tables are duplicated in the middleware page"
The content in the [middleware page](http;//expressjs.com/en/resources/middleware.html) is duplicated.

[2018-01-06 03:45] meetDeveloper commented on #891
@Xylent I have fixed this issue.

[2018-01-07 10:52] Xylent commented on #891
I'll be closing this then. Hopefully it'll get merged soon.

[2018-01-07 11:46] meetDeveloper commented on #891
@Xylent  Why are you closing, It is not merged now, please open it until it get merge.

[2018-01-08 03:53] meetDeveloper commented on #888
@hacksparrow Could you please see the latest pull request?

[2018-01-08 12:23] Xylent commented on #891
I'll reopen it then. I closed it because I thought it'll merge soon.

[2018-01-08 13:04] meetDeveloper commented on #891
@Xylent Who is the head here?

[2018-01-08 17:11] Xylent commented on #891
@meetDeveloper  No idea :confused:

[2018-01-08 18:35] meetDeveloper commented on #891
They took time to merge so many pending pull requests. Even your issue was
unheard.

On 08-Jan-2018 10:41 PM, "Xylent" <notifications@github.com> wrote:

[2018-01-08 19:20] #891 closed, assigned to nobody

[2018-01-08 19:28] crandmck commented on #890
Thanks for sharing your opinions.

If you'd like to open a PR for any of these changes, we can review and discuss them individually.

[2018-01-08 19:28] #890 closed, assigned to nobody

[2018-01-15 16:53] Ionaru opened #897 "Return Response on all Response functions"
Currently some Response functions return the Response.
These include `response.send()`, `response.json()` and some others.

Why do those functions return Response, but others like `response.sendFile()` and `response.render()` don't?

Currently I am (ab)using the Response return of `response.send()` to make sure my routing functions always return a response and don't get stuck in some function path

[2018-01-15 17:05] dougwilson commented on #897
Currently only the methods that are sync return the object back; the objects that take a callback in order to continue do not return the object, because you'll end up having issues if you chain off of them. You should resume interaction with response within the callback after calling those methods.

[2018-01-21 21:11] crandmck commented on #897
Should we add a note about this to the docs?

[2018-02-28 15:21] Chronicless opened #908 "Changing static file (image) without restarting app"
Is there any way to change loaded static file inside express without restarting app?
Currently i'm using sym link on image file and recreating it using node.js cron analog , but maybe there is another way to do that? Thanks!

[2018-03-19 16:16] crandmck commented on #908
This repo is not a tech support resource; it is for questions specific to Express documentation.
http://expressjs.com/en/resources/contributing.html#issues-which-are-questions

Try asking your question in one of these venues: http://expressjs.com/en/resources/community.html

[2018-03-19 16:16] #908 closed, assigned to nobody

[2018-03-21 10:21] pluby opened #915 "Error handling guide"
While the error handling guide is great at describing how to write error handling middleware, we spend most of their time writing ordinary route handlers and middleware. However, the number one issue we find during code reviews, and when debugging, is a failure to pass asynchronous errors on to Express in the first place. The guide only covers this a little at the end.

I'd like to suggest that th

[2018-03-26 16:23] techsin opened #916 "Document: next( "router") !"
This feature was added last year: https://github.com/expressjs/express/pull/3187

but no where to be found in documentation. Even though very useful.

Even one line mention would be worth it.

` next( "router") -> let's you skip whole router, #conditional-routing`

[2018-03-26 16:27] techsin commented on #916
nvm it's documented

[2018-03-26 16:27] #916 closed, assigned to nobody

[2018-03-27 02:05] nickgrealy opened #917 "Addition to the FAQ section"
(Moved from https://github.com/expressjs/express/issues/3605)

I was attempting to create a 404 handler in my express server, and was reading [the FAQ section](http://expressjs.com/en/starter/faq.html#how-do-i-handle-404-responses). It recommends...

i.e.
[code]

However, this only works in the case of a linear server definition.

I was dynamically adding `app.use` routes at runtime, and the 404 h

[2018-03-27 02:11] nickgrealy commented on #917
PR -> https://github.com/expressjs/expressjs.com/pull/918

[2018-04-08 13:01] o-t-w opened #922 "Offer documentation as .mobi, .pdf, .epub"
I've seen some other frameworks offer their docs as downloadeble ebooks. It would be nice to read this stuff on the go. Seeing as its all written in markdown it should be [relatively easy to generate ebooks](https://rachelandrew.co.uk/archives/2014/01/07/html-epub-mobi-pdf-wtf-creating-an-ebook/).

[2018-04-09 09:37] kvolkovich-sc opened #924 "Broken link "Edit this page on GitHub""
https://expressjs.com/en/api.html#app.mountpath

Link "Edit this page on GitHub" at the page footer moves me to (404):

https://github.com/expressjs/expressjs.com/tree/gh-pages/_includes/api/en/en

[2018-04-11 16:39] crandmck commented on #917
Left a minor comment in the PR.

[2018-04-11 16:45] crandmck commented on #915
Sounds like a good suggestion.  Please do open a PR.

[2018-04-11 17:01] crandmck commented on #922
Sounds like a reasonable suggestion.  Perhaps also a downloadable PDF?  If you'd like to pursuse this,
please open a PR @o-t-w :-)

[2018-04-11 17:06] crandmck commented on #924
I can confirm that this is indeed a bug, but don't have time to look into it at the moment.  I'm guessing the reason is that the API page is generated from an "include" from the `_includes` dir, whereas all the other pages are not, so the GH path does not resolve the same.

[2018-05-10 17:10] caaker opened #929 "Link hash is broken, i.e. , it points to nothing . . ."
in the documentation for

https://expressjs.com/en/4x/api.html#app.listen

It states:

This method is identical to Node’s [http.Server.listen()](https://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback)

However the

#http_server_listen_port_hostname_backlog_callback

in the link

https://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback

does not

[2018-05-10 17:50] dougwilson commented on #929
Ah, looks like they rearranged some things in their docs. Our docs needs to be updated to link to https://nodejs.org/api/http.html#http_server_listen

[2018-05-16 22:38] JesterXL opened #932 "Curried Default Error Handler Failing"
It appears that Express checks the function's arity to identify if it's an error-handler route. It works with a function, and works with an arrow function, but does not work with a Lodash curried function. I believe this is possibly because `theFunction.length` will print out 0 for curried functions, whereas `function` and `()=>` will print out a true arity. However, I can't seem to find where in

[2018-05-16 22:39] JesterXL commented on #932
Sorry, this is not the code repo, closing.

[2018-05-16 22:39] #932 closed, assigned to nobody

[2018-06-02 19:23] ankurkaushal opened #935 "NPM Versions >= 5 now do --save by default."
We should add this information to `installing.md`.

[2018-06-02 19:29] dougwilson commented on #935
We're aware. The flag is harmless on 5 and necessary on older versions. Users don't understand what version they have and we want to keep it simple with a single command that works on all versions without first mentally determining the installed version. See #815

[2018-06-02 19:29] #935 closed, assigned to nobody

[2018-07-08 07:03] noobling opened #946 "NSP is going to shut down, should that section be updated in the docs then?"

[2018-07-09 14:14] dougwilson commented on #929
PR #930 was merged.

[2018-07-09 14:14] #929 closed, assigned to nobody

[2018-07-18 05:06] crandmck commented on #946
Thanks for the heads up @noobling ...

However, the tool still works and the site says

So I would assume the instructions we have in http://expressjs.com/en/advanced/best-practice-security.html#ensure-your-dependencies-are-secure are still valid.  Since it was acquired by npm, Inc., I would assume that it's functionality will be integrated into the `npm` command at some point.  When that happens

[2018-07-18 05:07] #946 closed, assigned to nobody

[2018-07-20 20:33] toymachiner62 opened #951 "Update to documentation with examples of using middleware as second param on the router"
In digging into the documentation a bit, i noticed there is no examples of using middleware as a second param on the router.

https://expressjs.com/en/4x/api.html#router.METHOD

For example no examples with something like this:

[code]

Can you please update the docs with some examples like this?

[2018-07-24 18:32] crandmck commented on #951
A reasonable suggestion.  Please open a PR!

[2018-07-24 20:33] crandmck opened #954 "Spurious security vulnerability reported by GH"
GitHub is reporting a security vulnerability in [2x/package.json](https://github.com/expressjs/expressjs.com/blob/gh-pages/2x/package.json).  I think this file is probably left over from TJ's old site that was itself an Express app. Since we've been using Jekyll instead for several years, this is not a real issue.

@dougwilson Can we just delete [2x/package.json](https://github.com/expressjs/expre

[2018-07-25 02:40] dougwilson commented on #954
Yea, I saw that too. Only Admins (us) actually see this -- external users don't see this at all. We really should strip everything that is not the actual docs out of the 2.x directory.

[2018-07-25 10:15] Munter opened #955 "Redirect to https"
The current documentation responds to `http:` requests. It would improve security if it would redirect to the `https:` equivalent instead

[2018-07-29 22:01] #954 closed, assigned to nobody

[2018-08-04 18:51] EnricoMonese opened #960 "RethinkDB in databases guide page"
Request to add [RethinkDB](https://github.com/rethinkdb/rethinkdb) to the docs, if there is not a reason it was not added yet.
https://github.com/expressjs/expressjs.com/blob/gh-pages/en/guide/database-integration.md

[2018-08-07 05:26] craigdanj opened #961 "Right aligned text in 'API reference' menu hard to read."
While it may look nice i feel that this right aligned menu would be easier to read it all the items were left aligned. I'm currently learning express and noticed that this was a problem for me. Just thought I'd mention.

Just my two cents but this would help UX in my opinion.

For eg:

It would be easier to read if it looked like this:

[code]

[2018-08-07 14:54] dougwilson commented on #960
Hi @EnricoMonese absolutely! The docs in there are contributed by users (like you!) to help everyone. I don't know anything about RethinkDB so am not a great candidate to write any docs about it, but someone who does know is welcome to contribute documentation :)

[2018-08-14 20:36] crandmck commented on #961
It's a reasonable suggestion.  Does anyone else have an opinion...?
@craigdanj You are welcome to open a PR with a fix if you want.

[2018-08-14 20:38] dougwilson commented on #961
I don't have an opinion either way. The left hand side is standard for left to right languages like English anyway.

[2018-08-14 21:07] crandmck commented on #955
So GitHub started supporting this in May (cf. https://blog.github.com/2018-05-01-github-pages-custom-domains-https/).

But it looks like we can't do this until we update the DNS record (per https://help.github.com/articles/troubleshooting-custom-domains/#https-errors).  However, IBM still controls this AFAIK.

@rmg Can you make this change?

[2018-08-14 21:20] dougwilson commented on #955
Yea. The dns is currently a cloudflare account. We can enable https only through there too. A while back there concern about https only though cloudflare was that if we needed to go back to github direct it would break https links.

Now that github directly supports https there is no concern, so even just flipping on https only in cloudflare is doable, whichever is easier.

[2018-08-15 09:55] ameerthehacker opened #966 "Request to add an express middleware"
I have developed a middleware for express which would remove all unused css styles from the template before rendering which would greatly increase the performance of websites written in express.

I would love to add this to expressjs.com [middleware page](https://expressjs.com/en/resources/middleware.html). If this is okay shall I create a PR corresponding to this?

Please check out my middleware

[2018-08-15 12:08] craigdanj commented on #961
@crandmck  I have submitted a pull request for the same. Kindly let me know if anything else needs to be done. I've tested on mobile too to make sure it works.

--------------------------------------------------
**FYI:**  I also noticed that with the previous implementation (with the menu on the right), the menu overlaps the content in some places on smaller screens (screenshot attached below). Th

[2018-08-16 23:50] crandmck commented on #966
Hi @ameerthehacker The third-party middleware listed on http://expressjs.com/en/resources/middleware.html are mostly packages that have been around for a while and have lots of weekly downloads on npm. While we don't have any explicit requirements to be listed there, yours is very new--so my two cents would be to wait a little while.  That being said, if you want to open a PR, we can see what othe

[2018-08-17 04:03] ameerthehacker commented on #966
@crandmck thanks for the reply. The main reason I want it to be listed on the site is to take this to a huge audience and I believe my middleware can be of use to many. Since mine is new I'm looking for ways to take this to the right people who might be interested in it. Thanks!

[2018-09-16 03:01] Spown opened #979 "A way to return to route matching from a middleware"
This is a question, if there is a way or it is impossible, or a feature request if possible.

So right now iiuc after a route is matched it goes down the middleware chain until the end. The first match is the last one everything else is just void. Is it possible to jump back from the middleware layer back into route matching somehow? I couldn't find any topics regarding this anywhere. Sorry if it

[2018-09-16 03:09] dougwilson commented on #979
Given your example

// the first one in the stack but it also doesn't matter since they both offer each other
// a chance to be hit

Just put `next()` in place of your `next('match')` in your example. Then they will both execute in whichever order you put them in. For example, say `/foo` doesn't exist in Mongoose but does exist in the static page.

Both

[code]

and

[code]

Will result in the sta

[2018-09-16 03:09] #979 closed, assigned to nobody

[2018-09-16 03:18] dougwilson commented on #961
Right align change was merged.

[2018-09-16 03:18] #961 closed, assigned to nobody

[2018-09-16 03:36] Spown commented on #979
hm... I guess something in my pipeline sends the response and it made me think ``next()`` terminates the handling. Well, thank you and sorry for the inconvenience.

[2018-09-16 14:04] nickgrealy opened #980 "Configuration-as-Code compatibility"
-> https://issues.jenkins-ci.org/browse/JENKINS-53571

[2018-09-16 14:07] dougwilson commented on #980
Thanks for the link! I went there but I guess I'm not sure I understand. Can you elaborate on the issue of "Configuration-as-Code compatibility" and how it relates to the expressjs.com web site?

[2018-09-16 21:34] nickgrealy commented on #980
My bad, half asleep.

[2018-09-16 21:34] #980 closed, assigned to nobody

[2018-09-17 02:47] #917 closed, assigned to nobody

[2018-09-17 02:49] #863 closed, assigned to nobody

[2018-09-17 02:54] #805 closed, assigned to nobody

[2018-09-18 15:37] hsluoyz opened #981 "Add the casbin-express-authz middleware to provide better authorization"
Hi,

We developed an authorization (authz) middleware for Expresss called ``casbin-express-authz`` (https://github.com/node-casbin/express-authz) based on Casbin (https://casbin.org/), a cross-language authorization library project. For Node.js, our main library: https://github.com/casbin/node-casbin got certain popularity.

Casbin supports many access control models like ACL, RBAC, ABAC. The poli

[2018-09-21 07:14] RedTailBullet opened #982 "Handling async middleware error."
As the async/await feature is becoming more and more popular nowadays, express is still not supporting error handling for async middleware. It will be good if express can catch and handle the error from an async middleware.

[2018-09-21 07:15] #982 closed, assigned to nobody

[2018-10-03 03:30] bgub opened #983 "Add list of template engines to docs"
There's a list of template engines in the Express Wiki, but it looks like it hasn't been recently updated.

Can we put a list of compatible (and maintained) template engines for Express on the website, maybe under Resources or Guides?

I would love to help with this issue.

[2018-10-04 12:56] dougwilson commented on #983
Yes, that would be great. Ideally everything in the Express wiki is moved to the website. I wouldn't do this all at once, but each at a time would be great, and template engines are a great start!

Since there is a `Middleware` page under Resources I think it makes sense for this to be like a new page under Resources as well.

@LinusU @wesleytodd @crandmck do you have any thoughts?

[2018-10-04 13:05] LinusU commented on #983
Sounds very good 👍

[2018-10-04 21:11] wesleytodd commented on #983
Agreed!  I think we should also avoid having much info there other than links out.  Just so that we don't have too much work maintaining it so it does not get out of date.

Can you link to this list?  I cant seem to find it just browsing the wiki.

PS. On a side note, alot of that content in the wiki can probably go away.  For example, I doubt we should be pointing people to [books written in 2013

[2018-10-04 22:19] bgub commented on #983
@wesleytodd you can just scroll down on the main page of the wiki.

[2018-10-04 22:20] wesleytodd commented on #983
Oh sorry, I was looking at this repo's wiki (the website).  I knew I was looking in the wrong place, just forgot about the main express repo's wiki.  Thanks.

[2018-10-04 22:24] bgub commented on #983
@wesleytodd no problem.

[2018-10-05 22:24] bgub commented on #983
@dougwilson, @LinusU, and @wesleytodd should I fork the repository and start working?

[2018-10-05 23:24] wesleytodd commented on #983
Go for it!

[2018-10-07 16:38] gajus opened #985 "Add Lightship as an alternative to @godaddy/terminus"
Health Checks and Graceful Shutdown [Third-party solution](https://github.com/expressjs/expressjs.com/blob/efcd571c9cbee9a4ceb07be6e3f732b2087d54bb/en/advanced/healthcheck-graceful-shutdown.md) documentation suggests using [terminus](https://github.com/godaddy/terminus).

Can I add suggestion for https://github.com/gajus/lightship?

Lightship is a generic Kubernetes liveness/ readiness HTTP servic

[2018-10-08 05:58] distupid commented on #761
in my case check .routes()   and  .route()

[2018-10-11 09:18] gonenduk opened #986 "Image for Facebook share"
I share links to express.js websites often in my facebook groups, and it's a shame there is no image associated with the shared link. It onlt shows text without any image.
Even adding the logo would be enough and make the share much more noticeable.
Attaching a sample share I just did today for the new released version.
![share sample](https://user-images.githubusercontent.com/1597854/46794214-0e8

[2018-10-11 16:25] dougwilson commented on #986
Yea, that sounds like a good idea to me. Any idea what changes would need to be made on the site to get an image to show up? If not, we can research it, but just figured you may happen to know.

[2018-10-11 23:20] gonenduk commented on #986
Sure, it's quite easy. In each HTML page, you should first define the og (open graph) alias in the html tag:
`<html prefix="og: http://ogp.me/ns#">`
and then add in the head a meta data link to the image (best if 360 on 360 pixels):
`<meta name="og:image" content="https://expressjs.com/path/to/logo.png">`
I would do the change myself but I do not see any image file with a logo of the project.
Afte

[2018-10-11 23:29] dougwilson commented on #986
That's awesome and super helpful! Express does not have a logo, which is why there is no logo image in this repo.

[2018-10-11 23:36] gonenduk commented on #986
Then maybe using just the 'ex' image as you use on GitHub, or the complete express work, or even the image I attach or something similar.

<details>
<summary>logo example</summary>

![express_js](https://user-images.githubusercontent.com/1597854/46839643-96fab980-cdc7-11e8-9507-1b218d6507f2.png)

</details>

[2018-10-11 23:40] dougwilson commented on #986
Well, who owns the trademark on that js logo? We cannot of course violate any outstanding US trademarks.

[2018-10-11 23:46] gonenduk commented on #986
I'm not sure you cannot use the js logo, but what about the Express word alone as an image?
I can do a pull request with this image and it can always be replaced later.
![express](https://user-images.githubusercontent.com/1597854/46839911-03c28380-cdc9-11e8-858f-8220f2474fe4.png)

[2018-10-11 23:48] dougwilson commented on #986
Well, without explicit permission, the risk is a cease and dissect order, but can be much harsher than that at least in the US (which is where I reside).

Seems fine to me, at least.

[2018-10-11 23:50] gonenduk commented on #986
Can I do the pull request and let the people vote on it?

[2018-10-11 23:54] dougwilson commented on #986
Sure thing!

[2018-10-11 23:56] dougwilson commented on #986
Unless you're asking to make a PR with that JS logo, as I will just close it without explicit permission from whoever owns that trademark / copyright.

[2018-10-11 23:59] gonenduk commented on #986
I'll do the PR with the express only image. It's an enhanced image of the Express word you have on the homepage of the website.

[2018-10-12 00:00] dougwilson commented on #986
Nice! I see no reason to accept that. We also have @crandmck who is the main person who manages the website who will probably want to review the website changes itself 👍

[2018-10-12 15:35] gonenduk commented on #986
I created a PR #987

[2018-10-13 21:55] crandmck commented on #983
Good suggestion!

Agree.

When this new page is created, please replace the link to https://github.com/strongloop/express/wiki#template-engines on
http://expressjs.com/en/guide/using-template-engines.html with a link to the new page.

@nebrelbug Note that the [wiki page](https://github.com/strongloop/express/wiki#template-engines) is in markdown format, so you could copy/paste that content _as a s

[2018-10-13 22:19] crandmck opened #988 "Establish criteria and process to review middleware listed on the site"
http://expressjs.com/en/resources/middleware.html#additional-middleware-modules lists some middleware modules that are note maintained by the Expressjs team.

We get requests to add more modules to this list (see #968 and #981 for example), but as @wesleytodd noted:

So, I suggest we
1. Establish some basic criteria for listing middleware in the above page.
1. Review the existing list to ensure th

[2018-10-14 19:39] dougwilson commented on #988
So this has been a similar issue for the `express-session` module, as it relies on folks implementing store plugins to be useful to the general population. Of course, actually vetting some kind of coding quality or something for things to be listed seemed to much of a burden for both sides (our side and the author side), and so the current criteria for `express-session` is just (a) it works with t

[2018-10-15 23:39] bgub commented on #983
I've forked the repo and made a page, now I just need to edit the Markdown. Hopefully I'll have it done by tommorow :)

[2018-10-16 21:38] brandon-d-mckay commented on #988
@dougwilson Something easy to add would be the package quality rating/score determined by npmjs.com/npms.io (although I think the latter may no longer be updating its results... the scores of my package (krauter =]) are updated on npmjs.com but not on there). A score of 90%+ can almost guarantee that the package at least has a readme, license, tests, linting, up-to-date dependencies, and a proper

[2018-10-16 21:49] dougwilson commented on #988
Hi @brandon-d-mckay I think that can be a good idea. If we do that, we'd probably want to be able to explain to people what exactly they need to do to achieve a 90%+ (or whatever score). I cannot find where this score is located on npmjs.com, but I do see them on npms.io. It seems even our "official" middleware does not meet the 90%+ criteria proposed here. We probably should either (a) not requir

[2018-10-16 21:58] wesleytodd commented on #988
In spirit I think this is the right direction.  In practice I think we will struggle to get it right.

I think a combination of analysis tools and manual judgement is a better approach.  For example, by the metrics in npms, a package which fulfills a niche use case will never go above 90% because its popularity score will be low.  But it might be just the right solution for a user in their case, a

[2018-10-16 22:08] brandon-d-mckay commented on #988
Oh, I was thinking it'd only be the "Quality" score, not the overall one. Like morgan has 97% quality (86% overall), cors has 99% quality (88% overall), and express-session has 94% quality (71% overall).

[2018-10-16 22:16] dougwilson commented on #988
Ah, gotcha. Where do you find that on npmjs.com (or is this from npms.io)? And say for example morgan had 89%, and thus would not qualify, where do we point the author to to understand ho to achieve at least 90% (i.e. why, exactly, that given module is below 90%)?

[2018-10-16 23:01] brandon-d-mckay commented on #988
On npmjs.com, I think you can only see the scores when viewing a package among search results, and not on the actual page for the package. But there is a [public search API](https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md) (although it has pretty limited options). You could search the package name as a keyword and then also constrain the search by package author, which will most l

[2018-10-16 23:35] dougwilson commented on #988
Nice @brandon-d-mckay ! Say for example morgan had 89%, and thus would not qualify, where do we point the author to to understand how to achieve at least 90% (i.e. why, exactly, that given module is below 90%)?

[2018-10-16 23:41] brandon-d-mckay commented on #988
https://npms.io/about

But then again, this all does require a lot of initial work to setup. Might be easier to just have an "official" module/middleware list, along with a community one that just requires basic approval/review and comes with some kind of "as-is" disclaimer. And perhaps issues could be opened (either by public users or expressjs organization members) for any module listed on the c

[2018-10-17 01:10] crandmck commented on #986
Landed it, thanks for the contribution!

[2018-10-17 01:10] #986 closed, assigned to nobody

[2018-10-17 04:54] crandmck commented on #988
Good discussion.

We have this to some degree now.... The modules listed in the http://expressjs.com/en/resources/middleware.html#express-middleware section basically lists the "official" ones and the others under "Additional middleware modules" are the _caveat emptor_ ones (except we don't have a disclaimer).

I agree it would be far simpler to go this route... and just state that the other middl

[2018-10-17 04:58] crandmck commented on #985
You're welcome to open a PR.  Please just make it clear that this is also a "third-party" solution like terminus.  It would also be helpful to compare and contrast the two, if possible.

[2018-10-22 15:26] #985 closed, assigned to nobody

[2018-10-24 21:49] ronperris opened #990 "Remove forever as a recommended process manager."
# Motivation
In [Process managers for Express apps](https://expressjs.com/en/advanced/pm.html) the first section on the page recommends using [forever](https://www.npmjs.com/package/forever). This was a great recommendation a couple years ago, but unfortunately this package doesn't appear to be actively maintained anymore.

#### Clues
1. The code hasn't been updated since November 2nd of 2016.
2.

[2018-10-27 03:03] bgub commented on #983
@dougwilson @wesleytodd @crandmck So sorry I took so long! Just made pull request #991. It runs on my computer, so I don't think there are any bugs. Thanks!

[2018-10-28 03:31] crandmck commented on #990
You certainly have good points.  I tend to agree, but would like to hear from @dougwilson and anyone else who cares to chime in.

[2018-10-28 03:40] dougwilson commented on #990
So I have never used it personally, so I don't really have too much opinions on it. But I do have some responses for the clues:

1. Yea, not great, but of course not 100% meaningful if it works.
2. I think you're including `devDependencies`, which have no bearing on people using it. Actually installing `forever` only shows `found 1 low severity vulnerability` (and I didn't look into what that actu

[2018-10-29 06:29] crandmck commented on #990
Thanks @dougwilson for looking in to it.  Several your points above give me pause. I, too, could not find a PR (open or closed) referencing Node 10 at all.

Also, this brings to mind the discussion in #988 ... As I think about it, there are a bunch of things listed on the "Resources" menu that kinda beg the same question: middleware, PMs, frameworks, etc.

The fact that this page is on the "Advanc

[2018-10-29 06:45] crandmck commented on #981
Let's defer this until #988 is resolved.

[2018-10-29 20:20] wesleytodd commented on #990
I completely agree with you @crandmck.  For these especially, it is barely related to express, and really shouldn't be express specific anyway, it makes sense to remove/pare it down.

[2018-10-30 05:08] crandmck opened #993 "Shorten process manager page"
As discussed in #990, http://expressjs.com/en/advanced/pm.html has a lot more detail than any of the other pages that cover related modules/tools.   Let's pare it down to be more in line with the other pages.

Should this page be on the **Resources** menu rather than **Advanced topics**?

[2018-10-30 05:11] crandmck commented on #990
I opened #993.  I'll try to find time to open a PR for it soon.

Let's keep this issue open for a while in case @ronperris or anyone else wants to comment on forever specifically.

[2018-11-08 04:50] dougwilson commented on #993
Yea, Resources I think makes sense for it being a list.

[2018-11-08 17:51] geocodinglife opened #1000 "remove express version from Hello World example"
can the version in the hello world example be eliminated

in the docs show like this
const express = require('express'  4.16.4)

and only works like this
const express = require('express')

[2018-11-08 18:40] dougwilson commented on #1000
This is about copy and paste from Runkit. cc @boucher

[2018-11-08 18:42] dougwilson commented on #1000
Or maybe not. When I copy and paste, the version number is not included. @geocodinglife are you just typing it as you see it displayed? I agree it is confusing for users who don't know that's not actually part of the source code.

[2018-11-08 18:49] dougwilson commented on #1000
As far as I can tell, there is no option to turn off this version display in RunKit.

[2018-11-08 19:47] tolmasky commented on #1000
We can certainly add an option to disable the version if you guys don't want it, I do however want to point out that you can alternatively *currently* modify the style of it I believe (I think our theming lets you change the color, etc). Most everyone that uses this really likes that feature so we'd only be adding it for this use case as far as I know, so want to make sure this is something you al

[2018-11-08 20:01] dougwilson commented on #1000
Hi @tolmasky thanks for weighing in :) So there are a lot of users who enter in to Node.js through Express.js, so it isn't surprising to see this as a confusion point. I just was searching through the history of our Gitter and I see it's been mentioned several times since the RunKit has landed.

I was not aware of the custom styling option. I looked at the docs for the embed and didn't see it ment

[2018-11-08 21:29] tolmasky commented on #1000
Just discussed this with the team -- we mocked out the comment version but I think it might still be confusing since you wouldn't be able to select it (and if you could select it, then we wouldn't let you edit it, etc.), so just having a way of removing it seems best here.

Just for a sense of our timeline, we're currently close to rolling out a big performance change for embeds in the upcoming we

[2018-11-08 21:36] dougwilson commented on #1000
We appreciate your responsiveness and assistance. I don't think there is any rush, as this has been like this for quite some time, and was apparently expressed before, though this was the first that landed in the issue tracker and made me aware of the issue :)

I think your assessment makes sense too.

Thanks again! If you want to ping here eventually when there is something we can change, that wo

[2018-11-10 19:27] crandmck opened #1002 "Move PMs page to Resources menu?"
Per discussion in #993, the PMs page should probably be under **Resources** instead of **Advanced topics**, since it discusses 3rd-party modules/solutions.

I wonder if it also makes sense to combine the content of [Process Managers](https://expressjs.com/en/advanced/pm.html) and the relatively new page [Health checks and graceful shutdown](https://expressjs.com/en/advanced/healthcheck-graceful-sh

[2018-11-10 19:29] crandmck commented on #993
Since I already reduced the size of the PM page, closing this in favor of #1002 for potential move in nav. menus.

[2018-11-10 19:29] #993 closed, assigned to nobody

[2018-11-10 19:30] crandmck commented on #835
Closing since no activity for over a year.

[2018-11-10 19:30] #835 closed, assigned to nobody

[2018-11-11 05:32] dougwilson commented on #1002
Really, I could see it either way. I think that (and this is just thinking out loud) it would make sense if we could at some point have in the Advanced topics section _generic_ information about process managers, health checks, graceful shutdown, etc. Then those would point to the third party solutions that are in the Resources section.

[2018-12-12 00:57] toymachiner62 commented on #951
After looking at the example here https://expressjs.com/en/guide/using-middleware.html#middleware.application

which has
[code]

Now i'm curious what the difference between these 2 signatures are. Do they do the same thing? Are they both valid?

[code]

[2018-12-12 01:49] dougwilson commented on #951
Hi @toymachiner62 they are the same during routing. Express.js will flatten the arrays given to it as middleware. he reason that the routing accepts arrays is so users can use them to create logical collections of middleware to reference. For example:
[code]

[2019-01-02 20:01] hakrac opened #1008 "req.fresh documentation seems wrong"
[req.fresh](https://expressjs.com/en/4x/api.html#req.fresh) documentation seems wrong:

The if-modified-since request header is specified and last-modified request header is equal to or earlier than the modified response header.
      The if-none-match request header is *.
      The if-none-match request header, after being parsed into its directives, does not match the etag
      response header.

[2019-01-03 19:51] jessaleks opened #1009 "Translation to Polish"
Hi!

I was told that if I write here about how to start translating the project somebody would tell me how to get started.

So, how do I get started?

[2019-01-03 21:25] wesleytodd commented on #1009
Hi @thenathurat.  To add a translation you can follow the pattern in this repo and just make a new directory for your translation.  If you cannot translate everything at once I think that is fine, as it can just point back to the english translation for those.  @crandmck If I am wrong in this please correct me :)

[2019-01-06 01:33] crandmck commented on #1009
Yes @wesleytodd that's basically right.  There are some instructions in https://github.com/expressjs/expressjs.com/blob/gh-pages/CONTRIBUTING.md#contributing-translations that may also help.

@thenathurat If you have any specific questions, feel free to ask and I'll try to answer (though I can't promise promptness ;-) )

[2019-01-06 21:39] crandmck commented on #1008
I believe you're right, but I'd like confirmation from @dougwilson before changing.

[2019-01-11 17:34] Univream commented on #1008
I think I will create a pull request with the correction above.

[2019-01-12 18:57] toymachiner62 opened #1011 "express.json([options]) documentation needs example"
I was looking at the express docs again the other day and noticed express.json([options]) on this page https://expressjs.com/en/4x/api.html and I see it says that this is based on body-parser. I've used body-parser many times before, but curious if express.json() is a built in replacement for an external dependency?

In either case there is no example on how to use it. Can you please add one? Is i

[2019-01-14 19:28] wesleytodd commented on #1011
Hey @toymachiner62, it is in fact just exposing `body-parser` directly (as in `express.json = bodyParser.json` [see here](https://github.com/expressjs/express/blob/master/lib/express.js#L78)).  I think the goal is to not duplicate any documentation so that we don't have to maintain it in multiple places.  That being said, there are already a bunch of doc's there coupled to the interface of `body-p

[2019-01-14 19:46] toymachiner62 commented on #1011
Struggling to find the file in the repo that corresponds to this page. help.

[2019-01-14 19:49] wesleytodd commented on #1011
https://github.com/expressjs/expressjs.com/blob/gh-pages/_includes/api/en/4x/express.json.md

[2019-01-17 07:01] #951 closed, assigned to nobody

[2019-01-18 04:23] raviredd opened #1013 "unable to download a folder using res.download()"
`app.get('/download', function(req, res){
  res.download(__dirname+'/uploads/16');
});
`

I am unable to download a folder named 16 which is present inside the uploads folder.

[2019-01-18 04:25] dougwilson commented on #1013
Hi @raviredd sorry you are having problems. The `res.download` (http://expressjs.com/en/4x/api.html#res.download) API is for downloading files and not folders. Express.js currently does not have any API to download a folder. If you would like to see such a feature, starting work on a pull request with the code to implement such a feature would be a good first step to see it happen :)

[2019-01-18 04:25] #1013 closed, assigned to nobody

[2019-02-05 11:53] hsluoyz commented on #988
Any update on this issue?

[2019-02-13 16:29] crandmck commented on #988
This fell by the wayside, but I think it bears discussion at the next TC meeting.
@expressjs/express-tc @expressjs/expressjs-com

[2019-02-18 08:55] annevk commented on #955
Any update on this?

[2019-02-18 16:32] dougwilson commented on #955
Rand, do you know who has access to the cloudflare account? I think it has all been transferred to node.js foundation last I remember.

[2019-02-25 23:15] patpienkowski commented on #1009
Hello I was wondering if this issue is currently being worked on? I cloned the project and noticed there has not yet been a directory created for the polish translation. If this is still open I would like to contribute.
@thenathurat @crandmck

[2019-02-27 14:13] yeenab opened #1023 "Add link to next chapter at the end of the content"
This is a feature request:

On this page [Express documentation page](https://expressjs.com/en/starter/installing.html), it would be great if I know what chapter is next.

The chapters are listed in the header under getting started but you can't be sure unless you happen to hover over it.

Maybe at the end of the reading, we can have `Next up > Hello World`
Or add a drop-down icon on the Getting s

[2019-03-02 20:34] a-deeb commented on #1023
Hi @j33n , Can I work on this issue?

[2019-03-14 22:46] Knighton910 commented on #955
Im glad you guys are talking about this issue, If you need any help let me know.

[2019-03-14 23:57] crandmck commented on #1009
@patpienkowski At this point, we're waiting for a PR from @thenathurat (or anyone) for a Polish translation.  We are relying completely on the community for translation. Feel free to give it a go, if you are so inclined!

[2019-03-15 00:02] crandmck commented on #1023
@a-deeb Please do!  I think it's a good suggestion.

@j33n can certainly participate once you open a PR, if so inclined.
nm - just saw your PR :-)

[2019-03-15 00:33] crandmck commented on #955
This was discussed some time ago: https://github.com/expressjs/discussions/issues/68#issuecomment-421428179 but I think someone in Node Foundation needs to do something....  Maybe we can get their attention? @mikeal

[2019-03-15 00:48] Knighton910 commented on #955
Why are you even here then Rand (haha). Just Kidding, i am grateful for all you did do for the express Project. Anyway hopefully we will get it sorted out soon.

[2019-03-19 00:13] crandmck commented on #1023
This was addressed by #1024

[2019-03-19 00:13] #1023 closed, assigned to nobody

[2019-03-22 03:03] yuchao-git opened #1026 "为什么中文文档移除了脚手架"
在中文模式下,官方文档并没有脚手架的连接,只能通过路由去找
![( TCSB4)`HXRASPA1GH6~0N](https://user-images.githubusercontent.com/26178025/54798118-0ab3c300-4c92-11e9-9ae4-fe5fa38e58e2.png)

[2019-03-28 00:05] crandmck commented on #1026
Are you referring to the next/previous links, e.g.
<img width="1064" alt="2019-03-27_1701" src="https://user-images.githubusercontent.com/2925364/55120172-219f4e80-50b2-11e9-9e82-f880955746cb.png">

If so, those were recently added in #1024 but ONLY to the English docs.  If you want to add them to the Chinese docs, you are welcome to open a PR.  In general, we maintain the English docs, and rely o

[2019-03-28 00:05] #1026 closed, assigned to nobody

[2019-04-18 17:51] dougwilson commented on #960
Closing since no PR materialized yet.

[2019-04-18 17:51] #960 closed, assigned to nobody

[2019-04-22 15:46] #924 closed, assigned to nobody

[2019-04-24 11:15] crcdng opened #1038 "Hello World example broken, Runkit throws error on Safari"
This is the error message coming back after clicking on the green URL field.

[code]

[2019-04-24 19:57] dougwilson commented on #1038
Are you still experiencing this issue? I just tried and it worked for me, so wasn't sure if it was a temporary issue or I need more instructions to reproduce it

[2019-04-25 14:44] crcdng commented on #1038
I can reproduce the error on Safari  12.1 (MacOS Mojave). It seems Safari is more picky about iframes accessing each other. I found this in the console:

The page works on Chrome.

[2019-04-25 14:47] dougwilson commented on #1038
Thanks @i3games . I don't have access to Safari, so not sure what to do. cc: @tolmasky

[2019-04-25 14:56] crcdng commented on #1038
I tried the express repo runkit on npm (https://npm.runkit.com/express) and it gives the same message about blocking the frame, but it works. Something with the runkit integration on expressjs.com?

[2019-04-25 15:19] dougwilson commented on #1038
Yes, it could very well be. What can we change?

[2019-04-25 15:26] tolmasky commented on #1038
Just tried this on Mojave 14.4.4 with Safari 12.1 (14607.1.40.1.4), and both the embed works as well as clicking on the link to actually try the endpoint.

Are you still seeing this error now? The error originally reported *could* have been a temporary hick-up with the site. The blocked iframe seems to be something just on npm.runkit.com (related to an unrelated new feature there) and I can not ge

[2019-04-25 15:39] tolmasky commented on #1038
FYI, the iframe blocking warnings appear to be fixed in the latest version of React: https://github.com/facebook/react/releases/tag/v16.8.6 (see the release notes). We'll update to that today to get rid of those (I'll check back here to confirm afterwards). Again though, that should be unrelated to the original bug report here.

[2019-04-25 16:22] dougwilson commented on #1038
Thanks @tolmasky for checking! So it sounds like we can close this issue in this repo, as there doesn't seem to be any changes to make to the code here, right?

[2019-04-25 16:24] tolmasky commented on #1038
Yeah, there definitely shouldn't be anything necessary on express' end. I just confirmed that 16.8.6 does in fact remove the blocked iframe warnings, and that is currently going through our CI now. So  that change should hopefully be live in a few minutes.

[2019-04-25 16:25] dougwilson commented on #1038
Nice 👍

[2019-04-25 16:45] tolmasky commented on #1038
Alright, it's live and I'm no longer getting the warnings. I can also load the endpoint just fine in Safari. I'd be happy to keep this open until the original user confirms but also understand if you want to close as not anything at fault with express.

[2019-04-25 17:30] dougwilson commented on #1038
Nice :+1:

[2019-04-25 17:30] #1038 closed, assigned to nobody

[2019-04-25 20:09] crcdng commented on #1038
Confirming it works now. Thanks for the update.

[2019-04-26 02:18] obiwanchinobi opened #1041 "Why does the generator default the view engine to a package that contains vulnerabilities?"
Here's some feedback from a noob:

I followed https://expressjs.com/en/starter/generator.html without specifying the view as per instructions (yes, I should've followed them but I missed it).

Long story short, I've spent the last 20 mins trying to understand why `npm install` was generating 3 security vulnerabilities and finally realised it's because the generator defaulted to `jade` and I needed

[2019-04-26 02:26] dougwilson commented on #1041
So I'm not sure i understand the feedback that can be addressed on the website. The page you referenced shows to run the command `express --view=pug myapp`. Is this the command you ran that had this issue? What changes can we make to the site to help better?

[2019-05-04 07:57] obiwanchinobi commented on #1041
This command has no issues with it. But if someone testing this misses that command, the install generates 3 security vulnerabilities that originate from `jade`

If `jade` has been superseded by `pug`, why isn't `pug` the default? For a first time user setting up expressjs and letting it use the default view engine `jade` that contains security vulnerabilities doesn't seem like a good experience.

[2019-05-04 11:53] dougwilson commented on #1041
So it has not always had vulnerabilities. Things change over time and vulnerabilities get reported and we're not always aware. My question was because this issue is filed against the website.

If the solution is to modify the generator and not the site, please open an issue on the generator :+1:

[2019-05-04 11:53] #1041 closed, assigned to nobody

[2019-05-20 20:30] madflow opened #1044 "Search bar and menu overlapping"
* !!! DAMN YOU CSS !!!

![grafik](https://user-images.githubusercontent.com/183248/58049931-4f52c200-7b4e-11e9-81dc-9146b678be2c.png)

* Firefox 66.0.5
* Arch Linux
* 1440 x 900

[2019-05-21 16:38] wesleytodd commented on #1044
Hm, I tested in FF 66 on mac and am not able to reproduce.  If you have a fix PR that would be great!

[2019-05-22 14:40] reticulan commented on #1044
![image](https://user-images.githubusercontent.com/7167113/58183775-16dfef00-7cda-11e9-807c-87c8673e972b.png)

same issue chrome 74 1366 x 768

expressjs.com/ru:
![image](https://user-images.githubusercontent.com/7167113/58183971-72aa7800-7cda-11e9-8edc-5698e4f393c1.png)

[2019-05-25 22:32] #1044 closed, assigned to nobody

[2019-05-27 12:04] bhumijgupta opened #1046 "Oddly placed navigation bar and logo in header"
The navigation bar for the website is oddly placed. According to the general rules of UX, the margin of navigation content should be same from both the sides of the page to make it look consistent and maintain flow of data.
Also the logo is not placed at centre of the navigation bar, which makes it look off centered.

Current view:
![current](https://user-images.githubusercontent.com/30751793/5841

[2019-05-27 16:48] wesleytodd commented on #1046
If you would like to submit a change for this then I think we would probably accept it (assuming it doesn't break anything else).

[2019-05-28 05:11] bhumijgupta commented on #1046
Thank you, I would like to work on the fix.

[2019-06-12 04:23] artze commented on #842
I'm experiencing the same with Firefox 67.01.

Clicking on 'Request' menu item expands the 'Application' menu, for example.

[2019-06-12 04:29] artze opened #1049 "req.headers missing from API docs"
Thought it might be useful to add `req.headers` property in the API docs. I'd be happy to do the write-up if you allow.

[2019-06-12 04:52] dougwilson commented on #1049
We don't include any of the API that comes from Node.js since those APIs will vary by the Node.js version, and not by the Express.js version (and Express.js doesn't maintain them). There is a link at the top of the Request section http://expressjs.com/en/4x/api.html#req

And that links to https://nodejs.org/api/http.html#http_class_http_incomingmessage which documents `req.headers`

[2019-06-12 04:52] #1049 closed, assigned to nobody

[2019-08-10 06:09] Harikrishnasg opened #1062 "ERR_EMPTY_RESPONSE"
i have deployed the express web app in aws but when i open it in  the browser i am getting this empty response. node server is running fine . Any help would be appreciated. Thanks in advance.

[2019-08-10 06:35] wesleytodd commented on #1062
Hi @Harikrishnasg, with this little information I am not sure how we could help.  My suggestion would be to post in Stack Overflow or in the [express gitter](https://gitter.im/expressjs/express), and if you identify a bug in Express then come back and post here.

[2019-08-10 06:35] #1062 closed, assigned to nobody

[2019-08-22 15:16] machineghost opened #1064 "Documentation of "route" property of Request"
This was moved from: https://github.com/expressjs/express/issues/4033

It is regarding: http://expressjs.com/en/4x/api.html#req.route

The current description of the route property says (emphasis added):

However, it then shows "Example output from the previous snippet", and that previous snippet had only a single `console.log` in it: `console.log(req.route)`.

One would expect to see a **string**

[2019-08-22 17:12] wesleytodd commented on #1064
Yes I think this is a correct change, and a PR to that effect would be great.

[2019-09-01 21:24] bochap opened #1066 "static-files.md (Case sensitivity of path)"
Hi,

I encountered a case that when serving files with MacOS as host for express.static, it will fail to find the file if the path requested is of a different case as the file. I look debugged into the code and discovered that `express.static` is actually using the npm package `serve-static` and `serve-static` uses the npm package send to return the file.

And send actually uses Node.js's `fs.stat

[2019-09-02 00:01] wesleytodd commented on #1066
Hey @seetd, I am fine adding a comment to this effect.  PR's welcome!

[2019-09-02 00:27] bochap commented on #1066
Hi @wesleytodd ,

Thanks I will look into adding in the comment.

[2019-09-15 14:44] bochap commented on #1066
Hi @wesleytodd,

As an update I am still working on this. I had to switch to a new Mac so it took sometime to get everything up again. PR should be coming soon

[2019-09-15 22:38] bochap commented on #1066
@dougwilson Sorry for not understanding the structure of the project. Should I add the note to the Readme in https://github.com/expressjs/serve-static for this?

[2019-09-15 22:41] dougwilson commented on #1066
It depends on where exactly you're looking to put it on the website. If you want to put it in that exact location, then it would need to be incorporated into that module's readme. If you wanted to put it in express.static docs, then no.

But that brings up a good point: perhaps we should come up with some wording we want to use here and where it should go in the docs? For example I assume that wou

[2019-09-15 22:46] dougwilson commented on #1066
Another thought is that perhaps it should not mention a specific OS / file system, unless the intention is that you're going to enumerate all of them. It can perhaps just say to reference your OS documentation to determine if it is case-sensitive or something generic like that? Maybe even just reference Node.js documentation on the subject (i.e. the same issue would occur with Node.js `fs.readFile

[2019-09-16 02:37] bochap commented on #1066
Thanks for the quick response and pointing out that the case-sensitivity behavior impacts more than serve-static. I just followed the chain of code in `response.sendFile`, I might need to debug it to be confirm it but it appears that it uses the same `send` module as `serve-static`. I also checked how Node.js handles this in their `fs` documentation and it appears that it does not detail this beha

[2019-09-18 19:48] denilsonsa opened #1069 "Documentation for middleware with 4 arguments should be linked from "writing middleware""
At <http://expressjs.com/en/guide/writing-middleware.html>, I see no mention of the error handling middleware, or even that 4-argument middleware exists. That page should have a mention (and a link to full documentation) just like how [using middleware](http://expressjs.com/en/guide/using-middleware.html#middleware.error-handling) and [app.use()](http://expressjs.com/en/api.html#app.use) already h

[2019-10-01 03:46] wesleytodd commented on #1069
Hey @denilsonsa!

PRs are welcome!  Here is that page's source: https://github.com/expressjs/expressjs.com/blob/gh-pages/en/guide/writing-middleware.md

This is not correct.  I don't have time to dig into the article you posted, but my original skim leaves me with questions.  Error handling middleware can be in many places and work correctly.  The part where they state that gives no context for wh

[2019-10-05 10:33] saurabhbazzad commented on #1069
Hi. Can i work on this issue?

[2019-10-13 21:17] denilsonsa commented on #1069
Sure, please, go ahead!

[2019-10-14 02:41] 2kindsofcs opened #1076 "Fix body-parser link in https://expressjs.com/ko/api.html"
hyperlink to body-parser page in [this page](https://expressjs.com/ko/api.html) is broken. (express.com in Korean)
 it returns 404 error page. it should return [the right one](https://expressjs.com/en/resources/middleware/body-parser.html).

[2019-10-28 17:39] crandmck commented on #1076
@2kindsofcs Please open a PR!  We rely entirely on native speakers in the community to maintain the translated pages.... Thanks!!

[2019-10-30 04:08] eyedean opened #1083 "MD parsing issue for req.secure and req.signedCookies on /5x"
Repro:
* Go to https://expressjs.com/en/5x/api.html
* Click on `signedCookies` on the left navbar.  It doesn't work.
* Scroll down manually to the section.  It has some markup rendering issue.

<img width="394" alt="image" src="https://user-images.githubusercontent.com/5694695/67828325-3bfa3a00-fa90-11e9-8175-5c7d4e3c295d.png">

It's due to missed triple backtick in `5x/req-secure.md` since this c

[2019-10-30 04:14] eyedean commented on #1083
I got the PR 👆to fix this.

[2019-10-30 21:26] wesleytodd commented on #1083
Ok, closing this so we can track it fix in the PR.

[2019-10-30 21:26] #1083 closed, assigned to nobody

[2019-10-31 15:17] Hillaryudechukwu commented on #314
This was very helpful

[2019-11-04 00:54] WinChance opened #1085 "Chinese Docs Website Can't Display in Correct Language (Chinese)"
When I open http://www.expressjs.com.cn/starter/basic-routing.html ，all the docs is English !! It's it a Bug ??  Most of all pages is English when I read docs in http://www.expressjs.com.cn/ .打开中文文档网站，显示的却是英文文档，为什么呢？？谢谢啦。

[2019-12-21 01:38] rsr-at-mindtwin opened #1090 "strange content in security best practices page"
1. "Using the default session cookie name can open your app to attacks" - what?
2. Using hpkp is not a best practice, it's a foot cannon

[2019-12-21 04:33] hacksparrow commented on #1090
If your session cookie name is named "session" (default), it gives away two things:

1. You are likely using Express (server fingerprinted)
2. Since you love defaults, even your cookie signing keys may be one from the examples or the Keygrip default: "key1", "key2", "keyboard cat", "sha1". Since I know the keys, I can tamper your session cookie at will rendering signed cookies meaningless.

It is

[2019-12-21 04:33] #1090 closed, assigned to nobody

[2019-12-23 00:18] rsr-at-mindtwin commented on #1090
If the concern is server fingerprinting, it would be better to do the right thing by default - randomize it if not configured.

[2019-12-23 00:19] rsr-at-mindtwin commented on #1090
The HPKP thing, OTOH, should just be removed.  It's bad advice.

[2019-12-25 03:16] lqzhgood commented on #1085
http://expressjs.com/zh-cn/ is officially designated.

https://github.com/expressjs/expressjs.com

https://github.com/expressjs/expressjs.com/blob/39ca4052288ba137787182c1bb487f4a2c06d416/_includes/footer/footer-en.html#L24

[2020-01-10 13:00] jakub-g opened #1093 "Update docs to accommodate for SameSite=None"
There's several places in docs which do not document the support for `SameSite=None` cookie modifier (it was added later than the original support)

https://github.com/expressjs/expressjs.com/blob/efe692c93fb30b8408e2a01b4aaf8d8f99c7be92/_includes/api/en/4x/res-cookie.md
https://github.com/expressjs/expressjs.com/blob/7518c7aa5e8d05461010d4362afc240b8caf5cca/_includes/api/en/5x/res-cookie.md
https

[2020-01-10 13:12] dougwilson commented on #1093
Thanks for the idea, but a couple issues:

1. The cookie-session does not use the "cookie" module
2. The files under _includes/readmes we do not change, as there is a script that just pulls from their repos; their content would need to be changed in the source repo
3. For the API docs (4x, 5x) we need to keep it here, as there is no guarantee that major of Express will use whatever the master vers

[2020-01-10 13:12] #1093 closed, assigned to nobody

[2020-01-15 15:03] moopat opened #1095 "Translation error - German"
Across the website `Fork the website on GitHub` is wrongly translated to German:

`Verzweigung der Website auf GitHub`

It sounds like someone tried to translate it literally, but `fork` cannot be translated (or at least Gitlab doesn't do it; GitHub is not available in Geman).

A better translation would be `Fork der Webseite auf GitHub erstellen` or `Webseite auf GitHub forken`.

Let me know if I

[2020-01-20 02:24] gajus opened #1096 "Add http-terminator to Graceful Shutdown documentation"
One of the most often support questions I see in IRC is how to terminate express.js server/ why does server not stop when calling `server.close()`. I have written a library that handles express.js termination with a graceful timeout for the ongoing requests.

https://github.com/gajus/http-terminator

If Okay expressjs.com maintainers, I would like to add it to https://expressjs.com/en/advanced/hea

[2020-01-20 02:26] dougwilson commented on #1096
Sure!

[2020-01-20 03:12] gajus commented on #1096
Thank you

https://github.com/expressjs/expressjs.com/pull/1097

[2020-01-22 20:41] jonchurch opened #1100 "Remove Broken Links"
I noticed when looking at a PR that there are some links which have broken over time. Egregiously, there are a few links to a website called `node-tricks.com` which is now serving up some kind of phishing uglyness. You can see this link listed under the Blogs on the [resources](https://expressjs.com/en/resources/books-blogs.html#blogs) page.

I propose we attempt to rid the site of 404'd and other

[2020-01-22 20:46] dougwilson commented on #1100
I agree. External links can change / break at any time, of course. This is my "pie in the sky": a Github action that would check our external link, maybe once a week or less often and open an issue for each one it finds for us humans to triage and fix. Having a manual script to run would be a first step of course, and still should be done even if we don't do the actions idea :)

[2020-01-23 05:55] jonchurch commented on #1100
I started working on this today, here's some output that notes unique URLs throwing 404s and what pages they appear on.

https://gist.github.com/jonchurch/cb76aab0f4ec392f69f9d897ffb65397

These are external URLs throwing 404s. I ignored all internal URLs, but there were quite a few across the various translations that 404.

I started working on a [github action](https://github.com/jonchurch/expre

[2020-01-28 19:42] wesleytodd commented on #1096
Since that PR is opened I am going to close this.

[2020-01-28 19:42] #1096 closed, assigned to nobody

[2020-01-28 19:45] wesleytodd commented on #1095
A PR for this change is welcome!  In the history there was some support providing translations, but not anymore.  Also PR's for improvements are **always** welcome!

[2020-02-04 17:06] anton-marchenko opened #1104 "Travis build failed for new PR to github-pages"
PR example: https://github.com/expressjs/expressjs.com/pull/1103
Travis log:

[code]

[2020-02-04 17:50] jonchurch commented on #1104
Thank you for the report ❤️ , https://github.com/expressjs/expressjs.com/pull/1094 is open to fix this

[2020-02-04 17:50] #1104 closed, assigned to nobody

[2020-02-06 08:35] moopat commented on #1095
Okay, I submitted a PR: #1105

[2020-02-15 07:20] #1095 closed, assigned to nobody

[2020-02-24 04:13] dougwilson opened #1109 "Using Promises in routes missing from 5.x docs"
I just noticed when replying to https://github.com/expressjs/express/pull/4196 that the 5.x API documentation is lacking documentation around using Promises / async-await in middleware and handlers. I am just making this issue to track that and so we have an issue if someone wants to work on it.

[2020-02-28 07:32] ghost opened #1111 "Error handling & http-errors"
[Error handling documentation](https://expressjs.com/en/guide/error-handling.html) doesn't specify that errors created using [http-errors](https://www.npmjs.com/package/http-errors) have special handling (I couldn't find from the source code where this handling was done, but apparently it is).

Please confirm that the special handling described is indeed done and I can create a PR for the docs.

T

[2020-02-29 21:18] jonchurch commented on #1111
I believe the default error handler is a package called [`finalhandler`](https://github.com/pillarjs/finalhandler). It's in the express source code at the [application level](https://github.com/expressjs/express/blob/3ed5090ca91f6a387e66370d57ead94d886275e1/lib/application.js#L152-L162).

There isn't necessarily special handling for `http-errors`. Any error with a status and a message can be passe

[2020-02-29 22:43] dougwilson commented on #1111
Yep, this is exactly correct.

Definately agree there! There are a lot of aspects of things that have minimal / no documentation, which is I think an unfortunate consequence of the most likely people to contribute are looking to do so through code changes / improvements and not as much through docs. So docs can end up lagging behind in the changes in the code implementation. It doesn't help when t

[2020-03-01 19:59] crandmck commented on #1085
Right, we don't own https://www.expressjs.com.cn/.

[2020-03-01 19:59] #1085 closed, assigned to nobody

[2020-03-01 20:36] crandmck opened #1112 "Move info on third-party packages, template engines, companies, etc. off the site"
Following up on @wesleytodd 's comment https://github.com/expressjs/expressjs.com/pull/1103#issuecomment-586562680

Anything we can do to make the site leaner and easier to maintain makes sense IMO!

@wesleytodd Can you elaborate on what you have in mind?

[2020-03-01 22:31] jonchurch commented on #1112
Related: https://github.com/expressjs/discussions/issues/105

[2020-03-10 09:33] rap2hpoutre opened #1119 "Remove "open-source-using-express" page"
This page: [`en/resources/open-source-using-express.md`](https://expressjs.com/en/resources/open-source-using-express.html) lists three arbitrary(?) projects, it seems weird to see these projects since thousands of application uses express. I guess we could remove this page entirely.

[2020-03-19 19:22] pantufer opened #1120 "helmet and chrome don't support hpkp, nor Public Key Pinning"
I know this isn't exactly an error, but it would be nice to update the text about helmet in best-practice-security page.
It could misslead some new learners, like me hehe
Thanks guys

[2020-03-20 13:55] caleb-mabry commented on #1120
It looks like that middleware has been deprecated according to helmetjs
https://helmetjs.github.io/docs/hpkp/

The relevant information regarding Public Key Pinning can be found at https://developer.mozilla.org/en-US/docs/Web/HTTP/Public_Key_Pinning

It's removing the

Under the **Use Helmet** portion of http://expressjs.com/en/advanced/best-practice-security.html ?

[2020-03-20 20:25] pantufer commented on #1120
Yes, this line isn't exactly accurate anymore is it? That's what I've understood after reading helmet changelog 3.15.1 - 2019-02-10

Thanks, sorry for any waste of time.

[2020-03-23 08:43] rhythm-sharma opened #1121 "The home page back ground colour look like Bad gateway page"
Hey, I was exploring `Expressjs` and then went to Home page, I felt like for a second that it is giving me some error from backend but after watching it carefully NO! wait.. it was `Home Page`.

I found that back ground colour of ExpressJS look like typical 502 bad gateway pages

Here are some of my observation regarding the Home page theme:
1. The back ground colour of home page is similar to typ

[2020-03-23 08:46] rhythm-sharma commented on #1121
cc @crandmck  @martinerko @rafael-franca

[2020-03-23 14:23] dougwilson commented on #1121
Hi @rrhythmsharma can you clarify? The background color on the screenshot above is white; the gray area you're referring to is the background color of that box (not the page).

[2020-03-23 14:28] rhythm-sharma commented on #1121
Hi @dougwilson ,

I am referring to the background colour in the box

[2020-03-23 14:35] rhythm-sharma commented on #1121
though,  I have uploaded the image here so that you can have an idea What i am trying to communicate. I know the UI of uploaded image and ExpressJS home page is totally different.

but the things is, typically the background of error pages lies in the range of grey colour and personally I think the ExpressJS home page background lies in between them.

there is something off, IMO just a little chan

[2020-03-25 17:15] janswist opened #1122 "JSON key length can't be more than 16?"
I found quite strange issue. I got this error in browser
`net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK)`

In Postman I get `Bad string` error.

It took some time, but strangely all seems to be working when I cut one key length to 16 (because it was `dateExpirationIsCountFrom`). Is there any limit to JSON key length?

When I log to console all objects separately they are good, but when at once it's cut

[2020-03-25 22:58] jonchurch commented on #1122
Hey there, this repo is for the content of the `expressjs.com` website, and not issues with Express itself.

On the Express repo, I found [this issue](https://github.com/expressjs/express/issues/3392) with a user reporting the same type of error. Maybe that will help you track down your issue. To be clear though, 16 characters is many orders of magnitude below the limit for JSON key lengths which

[2020-03-25 22:58] #1122 closed, assigned to nobody

[2020-03-26 01:00] jonchurch opened #1123 "Express Youtube Channel and Twitter Visibility"
We should link somewhere more visible on the site to the [Express Youtube channel](https://www.youtube.com/channel/UCYjxjAeH6TRik9Iwy5nXw7g) and the [Express Twitter account](https://twitter.com/useexpressjs).

There is a link to the youtube channel on the [community page](https://expressjs.com/en/resources/community.html) already, and a link to the twitter account can join it somewhere on there.

[2020-03-26 02:32] ryhinchey commented on #1121
@rrhythmsharma the opinion that the express home page background color looks like a bad gateway page is fairly subjective.  The current Express website uses this image as its background: https://expressjs.com/images/bg.jpg.  If you'd like to make a PR updating the website, please go ahead and do that :)

I don't see this issue leading to constructive criticism of the design of Express's website. I

[2020-03-26 02:32] #1121 closed, assigned to nobody

[2020-04-01 02:22] dougwilson opened #1125 "Automated express repo docs update"
We need some kind of automated method (or just a tool like the readme update one) to update the page https://github.com/expressjs/expressjs.com/blob/e703270d64b20abd682e01d428bda8f068c13aca/en/resources/contributing.md

[2020-04-01 04:39] #757 closed, assigned to hacksparrow

[2020-04-01 06:37] #1076 closed, assigned to nobody

[2020-04-01 06:40] dougwilson commented on #915
PR was merged.

[2020-04-01 06:40] #915 closed, assigned to nobody

[2020-04-01 06:41] #922 closed, assigned to nobody

[2020-04-01 06:42] dougwilson commented on #1111
PR was made and merged.

[2020-04-01 06:42] #1111 closed, assigned to nobody

[2020-04-01 06:51] #1120 closed, assigned to nobody

[2020-04-01 06:53] #1009 closed, assigned to nobody

[2020-04-01 07:11] dougwilson commented on #1008
Some of it was right, some was wrong. The edit above is the same way. I edited it to improve it without providing misleading information.

[2020-04-01 07:12] #1008 closed, assigned to nobody

[2020-04-01 20:50] jonchurch commented on #1125
Is the goal to keep this doc in step with the [`Contributing.md`](https://github.com/expressjs/express/blob/master/Contributing.md) file of the express repo?

[2020-04-01 21:06] dougwilson commented on #1125
Ideally all of the docs from the express repo that are inlined on that page: `Contributing.md`, `Collaborator-Guide.md`, and `Security.md`

[2020-04-01 22:47] dougwilson opened #1126 "Outstanding issues with the 5.x api docs"
5.x docs investigation notes:

- [x] missing docs for `req.host` (#1130)
- [x] `req.query` should say that it is `{}` when disabled, otherwise result of configured "query parser"
- [x] missing does for `app.router` (#1129)
- [x] `app.param` documents name as optional, but that whole system was removed.
- [x] `req.param` does not exist any longer (#1128)
- [x] missing docs around `next('router')`
-

[2020-04-01 23:45] gireeshpunathil commented on #1126
I can help with few of these; the key question is: how critical those are for express 5.0?

[2020-04-02 06:20] gireeshpunathil commented on #1126
@dougwilson - I may be missing something; but https://github.com/expressjs/express/blob/2d519077ea6c7c52a16098c7cf6d8d667a863c7b/lib/request.js#L235 still shows the function definition; Is there a pending PR that removes this?

[2020-04-02 06:26] dougwilson commented on #1126
This list is regarding the express 5.x code; linking to 4.x code would indeed showing it as existing, as it did exist in 4.x series :)

[2020-04-02 06:31] dougwilson commented on #1126
Github provides a neat feature where you can browse the code for a particular version, but using the branch drop down and changing it to tag and picking the version tag of code to view. For example, the latest 5 request helpers can be viewed at the url https://github.com/expressjs/express/blob/5.0.0-alpha.8/lib/request.js . Another method is to git clone the repository and you can git checkout a s

[2020-04-02 10:33] HarshithaKP commented on #1126
@dougwilson, can you pls explain what this is? I looked at the doc of app.param(), and found that it is complete. what is missing here?

[2020-04-02 12:48] HarshithaKP commented on #1126
@dougwilson,  http://expressjs.com/en/guide/using-middleware.html#middleware.router has explanation for next('router'). Is this sufficient or more detail is required ?. If yes , where should I add it ?

[2020-04-02 18:41] ryhinchey commented on #1126
I'm starting work on the 5.x api reference for how to use promises in handlers/middleware.  I see there are other places on the site that should reference promise based middleware and the express error handler (like the getting started docs).  I'll take a stab at those and create separate PRs for each

[2020-04-03 03:54] dougwilson commented on #1126
In the 5.x docs, the name parameter is still documented as an optional parameter, but that parameter support has been removed.

Right. This tracker is mainly about the 5.x api docs (http://expressjs.com/en/5x/api.html) not including it. All the places that are documenting `next('route')` in the api docs also need to document `next('router')` as well.

[2020-04-03 04:44] Sushmeet commented on #1119
I am wondering if this constitutes a removal of these three projects. If they are using express it is helpful for readers to find them and be curious as to how express is used in them. I guess what's more surprising for me to see is why we perhaps don't have more applications that use express listed here, and that maybe we can take an active stance to list more projects here.

Any thoughts on this

[2020-04-04 03:46] jonchurch commented on #1119
Ty @Sushmeet and @rap2hpoutre

No real decision has been made, but I've labeled this issue with [`#community contribution`](https://github.com/expressjs/expressjs.com/labels/%23community%20contribution) to track it with other issues related to outward pointing content on the site. I'm going to reply to this issue in https://github.com/expressjs/discussions/issues/105#issuecomment-608968333 to keep

[2020-04-04 16:08] dougwilson commented on #1123
Anyone interested in picking this up? I love the idea, especially to discover the YouTube channel.

[2020-04-04 16:42] ryhinchey commented on #1123
I’m sure someone will eventually!  I’ve been chatting with @jonchurch and we’re both planning on putting more time into the site

[2020-04-08 04:56] wesleytodd commented on #1123
I think it would also be great to have some team ownership of the twitter presence.  I think @jonchurch linked a tool to tweet from github.  The more I have thought of this, curating the twitter via a method like this would be great.  Does anyone have other opinions on how we manage this?

[2020-04-08 18:31] ryhinchey commented on #311
Closing this issue in favor of https://github.com/expressjs/expressjs.com/issues/1126.  If anyone has anything they'd like to add for 5.x docs, feel free to add it to 1126.

[2020-04-08 18:31] #311 closed, assigned to nobody

[2020-04-08 19:02] ryhinchey commented on #398
I'm closing this issue in favor of https://github.com/expressjs/expressjs.com/issues/1126.  @crandmck you have some great points [here](https://github.com/expressjs/expressjs.com/issues/398#issuecomment-117275396) that I'm referencing in 1126

[2020-04-08 19:02] #398 closed, assigned to nobody

[2020-04-08 19:05] ryhinchey commented on #1126
Looking here https://github.com/expressjs/expressjs.com/issues/398#issuecomment-117275396, there are some good things to do for the 5.0 production release.

[code]

I believe the first item is mostly covered in Doug's list [here](https://github.com/expressjs/expressjs.com/issues/1126#issue-592248529).  The last two need to be accounted. One other thing that comes to mind is that we need to make su

[2020-04-08 19:17] ryhinchey commented on #461
I'm going to go ahead and close this issue. If someone wants to add specifics as to what more we want to add to the site, please open a new issue.

[2020-04-08 19:17] #461 closed, assigned to hacksparrow

[2020-04-08 19:30] ryhinchey commented on #479
Reading through the database guide, it's really just repeating how to use the various modules at a basic level without any express (or web application in general) specifics. I think a good addition would be around best practices when using a DB. A few things immediately come to mind:

- don't create a new db connection for every request
- closing the DB connection when your application shuts down

[2020-04-08 19:33] ryhinchey commented on #533
@dougwilson @wesleytodd are professional translation services no longer being donated to the project? If not, we should chat about how we can best try and get the word out to the community to help with translations.

[2020-04-08 19:37] ryhinchey commented on #561
All of the videos listed here https://github.com/expressjs/expressjs.com/issues/766 are paid. I think it'd be ideal to point to free resources  if possible.

I'm going to go ahead and close this issue for now. If someone feels strongly about adding videos back to the site, please re-open this issue or create a new one.

[2020-04-08 19:37] #561 closed, assigned to nobody

[2020-04-08 19:39] ryhinchey commented on #630
Closing as https://github.com/expressjs/expressjs.com/pull/701 was merged

[2020-04-08 19:39] #630 closed, assigned to nobody

[2020-04-08 19:46] ryhinchey commented on #695
it's been a few years since the last comment.  If the TC wanted to forward `http://expressjs.com` to `https://expressjs.com` as noted here https://github.com/expressjs/expressjs.com/issues/769, does anyone now know who could set that up?

[2020-04-08 19:51] ryhinchey commented on #725
closing this as it sounds like this question is covered in the docs

[2020-04-08 19:51] #725 closed, assigned to nobody

[2020-04-08 19:57] ryhinchey commented on #825
@dougwilson per your comment here https://github.com/expressjs/expressjs.com/pull/824#issuecomment-310804420, is there still an issue on the site? If so, mind adding a little context here so someone might be able to pick it up?

[2020-04-08 20:01] ryhinchey commented on #842
using safari 13.0.5 on macos 10.15.3, I can replicate an issue similar to this.  The active menu item is not getting highlighted but the url does correctly change and the anchor link is correctly navigated to in the page.  When you refresh the page (something like `https://expressjs.com/en/4x/api.html#app.post.method`, it does highlight the correct menu item).

[2020-04-08 20:10] ryhinchey commented on #876
I'm testing this in express `4.17.1` and `4.16.2` and cannot replicate.   Closing this issue for now.  If there is really an issue here, it should be raised against  https://github.com/expressjs/express anyways.

[2020-04-08 20:10] #876 closed, assigned to nobody

[2020-04-08 20:13] ryhinchey commented on #955
This issue is a duplicate of https://github.com/expressjs/expressjs.com/issues/695. Would be great to get some help on this!

[2020-04-08 20:26] ryhinchey commented on #966
closing this issue as the PR was closed

[2020-04-08 20:26] #966 closed, assigned to nobody

[2020-04-08 20:29] ryhinchey commented on #1046
@bhumijgupta looking at your last comment in your PR https://github.com/expressjs/expressjs.com/pull/1047#issuecomment-497322838, do you intend to work on that fix?

[2020-04-08 20:31] bhumijgupta commented on #1046
Hey @ryhinchey currently I am not working on it

[2020-04-08 20:38] ryhinchey commented on #1011
Closing this issue as it looks like this content has been added to the site

[2020-04-08 20:38] #1011 closed, assigned to nobody

[2020-04-08 20:45] ryhinchey commented on #1046
Ok no worries and thank you for the response!

I'm going to go ahead and close this issue with the hopes that we can create new design-related issues when there's a more cohesive design plan for the site.

[2020-04-08 20:45] #1046 closed, assigned to nobody

[2020-04-08 21:23] dougwilson commented on #876
It sounds like the error is in the client side and not the server-side. For example, `res.status(500).send('Something broke!')` would result in the eventual response entity to be `Something broke!` while `res.status(500).send({ message: 'Something broke!' })` would result in `{"message":"Something broke!"}`.

The difference between them is the later is valid JSON while the former is not. Since the

[2020-04-08 21:25] dougwilson commented on #695
Yea, we have to get the CloudFlare account set to do with with the Node.js Foundation (or OpenJS now). I noticed you eventually found the thread on this 👍

[2020-04-08 21:28] dougwilson commented on #533
I believe the answer is "no" on this point. If @crandmck has a chance to chime in he would be the source of truth.

Yes 👍 Or just maintain the existing ones as well, as there are a lot of things on the English site that ever made their way into the translated sites, even the reorganization of middleware list.

[2020-04-08 22:18] ryhinchey commented on #695
Closing this issue as it’s a duplicate of https://github.com/expressjs/expressjs.com/issues/955

[2020-04-08 22:19] #695 closed, assigned to nobody

[2020-04-16 08:40] shaymandel opened #1143 "Documentation of maxage should be updated: value is in seconds and not msec"
Hi,

The documentation of serve-static mentions that maxage is measured in milliseconds. The way browsers treat this value is as seconds. The value provided in the code goes directly to the header (not divided by 1000).
So, the documentation should be updated.
There is no bug per se - it is working, but it creates confusion.

[2020-04-16 14:05] ryhinchey commented on #1143
PRs always welcome!  The number is divided by 1000 in the `send` module which is what `serve-static` uses under the hood. https://github.com/pillarjs/send/blob/master/index.js#L871

[2020-04-16 17:59] dougwilson commented on #1143
Hi @shaymandel the documentation is regarding the JavaScript API that is being documented, nothing to do with how the web browsers work. Time-based APIs in JavaScript are typically always in milliseconds, so that is why our API is in milliseconds and not seconds -- it created much confusion to be in seconds in the JavaScript world.

[2020-04-16 17:59] #1143 closed, assigned to nobody

[2020-04-17 09:00] younes-io opened #1144 "Error-handling middlewares behaviour : docs vs. execution"
I'm trying to grasp the error-handling behaviour of Express.js through the docs, which state that `If you pass anything to the next() function (except the string 'route'), Express regards the current request as being an error and will skip any remaining non-error handling routing and middleware functions.`

[code]

Output :

[code]
You can run the code here : https://repl.it/@younesherlock/BitterI

[2020-04-17 13:25] dougwilson commented on #1144
Yes, your understanding is correct.

[2020-04-17 13:44] ryhinchey commented on #1144
@younesherlock Is the confusion you’re having around why middleware after the error handling one are getting run when you encounter an error?  It’s generally best practice to put error handling middleware after all other middleware to avoid this.

If this wasn’t clear from the docs, a PR would certainly be welcome adding clarification.

[2020-04-18 20:23] AriLFrankel opened #1145 "A Cookie `maxAge` of ms format string causes incorrect behavior"
According to [the docs](http://expressjs.com/en/api.html#res.cookie) the maxAge parameter of res.cookie should accept a "[number] in milliseconds or a string in ms format."

Passing a string in ms format throws an error

[2020-04-18 20:33] dougwilson commented on #1145
Yea, it is an issue with the docs. I moved your issue to the docs site so we can fix them.

[2020-04-19 10:11] HarshithaKP commented on #1145
@AriLFrankel,  express.static(), res.cookie() and res.sendFile() are the three APIs which uses `maxAge`.
In express.static() and res.sendFile() `maxAge` accepts number and string as documented. In res.cookie() `maxAge` is set as number, which is documented and doesn't not accept string as expected. The docs for res.cookie() says
maxAge | Number | Convenient option for setting the expiry time relat

[2020-04-19 19:54] dougwilson commented on #1145
Thanks for your research @HarshithaKP . Sorry I didn't actually look at them, just forwarded the report 👍 I double-checked and indeed `res.cookie` is not documented to accept a string for `maxAge` option in the current API documentation.

[2020-04-19 19:54] #1145 closed, assigned to nobody

[2020-04-19 19:55] dougwilson commented on #1145
I just followed the link @AriLFrankel provided, which is the docs for `res.cookie` and I cannot see in there where that quoted wording occurs about accepting a string. If OP can clarify, we can always re-open if there is a docs issue here.

[2020-04-23 00:00] #1109 closed, assigned to nobody

[2020-04-23 00:05] dougwilson commented on #1126
I think only the OP can edit the top comment, is that right? @ryhinchey if you can edit, let's just use this issue; if not, do you want to open a new issue so you can own updating th task list in it?

[2020-04-23 00:23] gireeshpunathil commented on #1126
for the context, the only pending item in the list is https://github.com/expressjs/expressjs.com/pull/1131/ really.

I suggest we stick to the original list and not doing this at this point of time - it is not a blocker, and can be done post release as well.

[2020-04-23 00:32] jonchurch commented on #1126
You need write perms on the repo to edit comments that aren't yours

[2020-04-23 00:37] dougwilson commented on #1126
Alrightly, with that, and 1131 merged, I'm going to close this issue as completed.

[2020-04-23 00:37] #1126 closed, assigned to nobody

[2020-04-23 00:40] dougwilson commented on #1144
Since the question was answered and no response to @ryhinchey I'm going to close this out. And to add some more clarity: the error handler `checkThing2` in the example called `next()` without an error, re-entering into the non-error flow. This is allowed as an error middleware can determine an error is recoverable and recover back into the flow.

[2020-04-23 00:40] #1144 closed, assigned to nobody

[2020-04-24 20:28] dougwilson opened #1146 "res.clearCookie API underdocumented"
Currently the `res.clearCookie` API documentation leaves a lot to be desired, as it does not explain what "clearing a cookie" means and what the various options giving it to will actually result in. We need to hammer that out and provide some enhanced docs 👍

This is in ref to https://github.com/expressjs/express/issues/4252#issuecomment-619222441

[2020-05-15 18:22] dougwilson opened #1151 "Add API docs for router(req, res, [next])"
The instance function `router(req, res, [next])` I can't find documented in the API docs. We should get it listed there and documented, somewhere in the http://expressjs.com/en/4x/api.html#router section.

The same docs would be in the 4x and 5x API docs.

[2020-05-15 18:49] jonchurch commented on #1151
I didn't fully understand this, so I created an example snippet:

[code]

[2020-05-15 18:53] dougwilson commented on #1151
Apologies, I just created it quickly not to forget :) Yep, that pretty much sums it up. Essentially, a `router` instance is a function which takes the standard three arguments `res, res, next` and will take the given request and route it inside itself. You can think of it like the reason you can write `app.use(router)` is because `app.use` takes a function and calls it with those three args... and

[2020-05-15 20:28] SimplyComplexable commented on #1151
Is this being worked on? If not I'm happy to help.

[2020-05-15 20:30] SimplyComplexable commented on #1146
I can help out with this!

[2020-05-15 23:11] jonchurch commented on #1151
@SimplyComplexable Nope, go for it

[2020-05-17 08:24] hsluoyz commented on #981
Any update on this issue?

[2020-05-20 23:02] gomes042 opened #1155 "res.type(type) documentation has an deprecated mime function [ mime.lookup() ]"
URL: https://expressjs.com/en/api.html#res.type
------------------------------------------------------

According to the express.js documentation:

Everything seems to work correctly but currently the mime module seems to work as follows now:

### mime.lookup(fileURL) is now mime.getType(fileURL)
![Untitled](https://user-images.githubusercontent.com/28831375/82506095-471cc200-9ad5-11ea-8e5c-f6cd34

[2020-05-20 23:11] gomes042 commented on #1155
Just out of curiosity, I'm using it in my codes as follows: `res.contentType(mime.getType(fileURL));`

[2020-05-20 23:17] jonchurch commented on #1155
You're looking at the documentation for v2 of the mime package, express is using v1.6.0 via the [`send` package](https://github.com/pillarjs/send/blob/master/package.json#L27).

I'm actually curious why we aren't using our own package [`mime-types`](https://github.com/jshttp/mime-types) in send. @dougwilson is this something we should look into?

[2020-05-20 23:21] jonchurch commented on #1155
@3GOMESz Sharp eye, by the way!

[2020-05-20 23:38] gomes042 commented on #1155
Oh yes, I had noticed that, anyway would be nice to have an update on that specific part or else as you suggested, an update or exchange of the mimes-types module.

[2020-05-21 07:23] its-dibo opened #1157 "[doc] no any reference for all express events."
in the official documentation, there is no any events list, only 'mount' has been mentioned.

[2020-05-23 04:03] RoMi67 opened #1156 "SQ3R"

[2020-05-23 04:03] RoMi67 commented on #1156
Always

[2020-05-23 04:03] #1156 closed

[2020-05-24 13:49] ghinks commented on #1157
Thank you @eng-dibo. This sounds like a great case for a first commit to the express team!
We really do know that the documentation is important.
Give me a brief description of your frustration and lets work together to get you the documentation you need.

If you work with us, we can deliver the goods. :)

[2020-05-26 21:07] jonchurch commented on #1157
I'm not aware of other events that Express emits besides the `mount` event.

Grepping the express package codebase for emit only turns up the mount usage. And [monkeypatching an app's emit function](https://gist.github.com/jonchurch/ea9183a20c97d20f6be9a22976f5f6eb) with a sample app didn't surface any new ones.

[2020-05-27 05:59] dougwilson commented on #1157
Yes, afaik there is only one event, mount. If there us more specific information provided we can always reopen this issue :+1:

[2020-05-27 05:59] #1157 closed, assigned to nobody

[2020-05-29 22:59] DivyanshBatham commented on #1123
I would like to work on this. If no one is working, I'll propose some ideas.

[2020-06-05 20:26] jonchurch opened #1165 "`#i18n-notice-box` element is covered by header on homepage"
I started a PR for this but wasn't satisfied by it, but note that w/ the alterations introduced by the BLM banner, our i18n notice box is being obscured on the homepage.

![Screen Shot 2020-06-05 at 3 03 34 PM](https://user-images.githubusercontent.com/12915163/83919549-d1f1f380-a748-11ea-8c1a-0f73611826df.png)

To reproduce, visit http://expressjs.com/de/ in incognito mode (or otherwise clear the

[2020-06-10 07:08] dougwilson commented on #1165
@jonchurch does that PR #1162 fix this issue? I know you said related, but just didn't want to close this on merge of that PR if it didn't fully fix it, so wanted to validate first.

[2020-06-11 01:20] jonchurch commented on #1165
Yep #1162 should close this

[2020-06-11 03:47] mastermatt opened #1166 "Is the copyright and license info on the footer still accurate?"
The footer currently lists this info (in English, but most of the data is consistent across locales):
- Documentation translations provided by StrongLoop/IBM.
- Express is a project of the OpenJS Foundation.
- Edit this page on GitHub.
- Copyright © 2017 StrongLoop, IBM, and other expressjs.com contributors.
- Creative Commons License This work is licensed under a Creative Commons Attribution-Shar

[2020-06-12 13:33] #1165 closed, assigned to nobody

[2020-06-18 19:54] jonchurch commented on #1166
Most of these are before my time, but the only one that stands out to me here is the Copyright notice of StrongLoop/IBM. I'm not sure how that works exactly, but I think the notice is probably still accurate in regards to the website content.

For the Creative Commons license, there's some discussion here https://github.com/expressjs/expressjs.com/issues/634 and here https://github.com/expressjs/e

[2020-06-18 22:30] curtispd opened #1167 "req.ip gives the wrong ip when trust proxy is enabled"
Using express 4.17.1.

According to the docs for req.ip, if trust proxy is enabled, then it should be "derived from the left-most entry in the X-Forwarded-For header."
https://expressjs.com/en/api.html#req.ip

Which is what I would expect, e.g. if I have
X-Forwarded-For: 1.2.3.4, 5.6.7.8, 9.0.1.2

then I would expect req.ip to be 1.2.3.4. But what I'm actually getting is the right-most one, 9.0.1.

[2020-06-24 03:10] Felichz opened #1168 "Wrong and outdated translation"
In the [Spanish translation](https://expressjs.com/es/advanced/best-practice-security.html) of the "[**Production Best Practices: Security**](https://expressjs.com/en/advanced/best-practice-security.html)" article, some parts are outdated and differ from the English version. There are also missing sections, like "**Prevent brute-force attacks against authorization**".

And in the "**Ensure your de

[2020-06-29 00:06] danielzgtg opened #1170 "Dropdowns missing on touchscreen tablet"
None of the dropdowns show up on touchscreen. This is a problem because it prevents me from accessing a lot of pages.

On properly working websites, the dropdowns appear either when I just tap on the menu, or at least when I tap on the menu and drag outside it.

The workaround is that they do show up when I plug in a mouse or touchpad, or when I enable device mode in devtools.

I am using `Mozilla

[2020-07-06 13:10] meatnordrink opened #1171 "Bold missing"
In the code snippet below:

There isn't actually any bolded text.

[2020-07-08 07:36] naeem1098 opened #1172 "Express-Generator with Typescript"
Express-Generator could generate the express template with typescript. for example, if we type `express -ts myapp` in the terminal and hit enter, the express-generator should generate the application with .ts files instead of .js files.

[2020-07-08 16:22] realogandrew opened #1173 "Website text does not get translated into the correct languages apart from the navigation"
When you go to a url such as https://expressjs.com/es/api.html, only the navigation is translated into the correct language whereas the rest of the body text stays in english. This is the same result for all languages that have been added into the project.

[2020-07-09 10:17] silvanohirtie opened #1174 "red.body is undefined"
I have
[code]
In my code. But when I try to get the req.body.Something, it's always undefined.

[2020-07-12 09:22] aliaksandrsen opened #1175 "Incorrectly placed Logo"
![image](https://user-images.githubusercontent.com/51503682/87242968-50257200-c43a-11ea-8569-6384e3ded4e5.png)
13 inch screen

[2020-07-12 09:25] gireeshpunathil commented on #1175
@Aliaksandrsen - which browser you are using?
/cc @jonathanong - not sure this is due to the recent changes to the view because of BLM

[2020-07-12 10:07] Aliaksandrsen commented on #1175
chrome 83.0.4103.116

[2020-07-12 10:07] aliaksandrsen commented on #1175
chrome 83.0.4103.116

[2020-07-13 16:19] rodion-arr commented on #1174
I'm not sure this is correct repo for such questions. This repo contains sources for https://expressjs.com
Anyway if you'll provide some kind of extended example that can be easily run - I'll be more than happy to help

[2020-07-13 16:25] rodion-arr commented on #1173
There are no translations for API pages. As far as I see - English available only:
https://github.com/expressjs/expressjs.com/tree/gh-pages/_includes/api

[2020-07-14 05:13] tinafangkunding opened #1176 "Proposal to Improve Express Website/Examples/Docs"
## Problem & Background

Hi there, we are Express.js users, and also serverless advocates. We found there are some issues about "lack of introduction to examples/cloud environment deploy issues", as the following ones:

https://github.com/expressjs/express/issues/4343
https://github.com/expressjs/express/issues/3468
https://github.com/expressjs/express/issues/4278

Therefore, in this issue, we’d l

[2020-07-16 17:21] adarshaacharya opened #1177 "Official Logo of Express JS"
I found a lot of confusion in dev community especially about the logo of ExpressJS.

I've found some are using ``ex`` (which is also favicon of expressjs) site. Is there any official logo from express community ?

[2020-07-16 17:23] dougwilson commented on #1177
The Express.js project itself doesn't have a true logo, no. It is just the word mark "express" in all lower case, and the few times we needed a square logo (like the github organization and favicon) we just took the "ex" in the same style as the word mark.

[2020-07-16 17:37] adarshaacharya commented on #1177
Any future plans for having one standard logo ?

[2020-07-16 19:11] jonchurch commented on #1174
Closing as no response

[2020-07-16 19:11] #1174 closed, assigned to nobody

[2020-07-17 21:31] rodion-arr commented on #1175
This is reproducing on Russian site version even for bigger screen sizes. Looks like it is having largest menu items from all translations and current styles do not fit for them.

The problem here that even if we will shrink it to minimum space - it will still not fit before mobile version breakpoint will fire:
<img width="996" alt="Screenshot 2020-07-18 at 00 26 31" src="https://user-images.githu

[2020-07-21 13:56] realogandrew commented on #1173
There are translations for the navigation, but the rest of the content is not translatable by google because of the way the website has been built.

[2020-07-21 17:32] rodion-arr commented on #1173
That's correct, due to parts of API page are included dynamically - default page translator can't catch that.

But anyway translation of this page can be solved by google translate plugin after content fully loaded:
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/5843270/88087118-1cacbb00-cb91-11ea-8388-4b6568061339.png">

[2020-07-23 19:32] mjvandermeulen opened #1181 "Confusing hello world documentation. res.send is not a statement, but a returned expression."
On the page https://expressjs.com/en/starter/hello-world.html the following code causes confusion:

[code]
Note that the `res.send('Hello World!))` is an expression here returned by the fat arrow function, because it's not enclosed in curly braces. The code is equivalent to:
[code]
(see [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions))

Tw

[2020-07-24 04:50] gireeshpunathil commented on #1181
functionally, it's OK to use either form. But if we are looking at consistency then your suggestion makes sense to me! (This issue itself is a proof that it adds some confusion.)

Do you want to come up with a PR to that effect?

[2020-07-24 06:12] rodion-arr commented on #1181
@gireeshpunathil @mjvandermeulen

I'm happy to help here if you don't mind

[2020-07-24 18:18] mjvandermeulen commented on #1181
@rodion-arr I'm new to helping with these kinds of things and would like to use this as a "hello world" example for me to step into this world of helping the open source community.

I'm going to work on this this week-end and will contact you here if I need help.

[2020-07-24 18:29] mjvandermeulen commented on #1181
@gireeshpunathil Yes, I will come up with a PR in the next 2 or 3 days.

[2020-07-26 12:33] khanjasir90 opened #1183 "'set DEBUG=myapp:* & npm start' not working for windows 10."
set DEBUG=myapp:* & npm start is not working for windows and throwing an Ampersand Error !!!
![error](https://user-images.githubusercontent.com/53305380/88479062-831f3980-cf01-11ea-8981-07f130ee1248.PNG)

[2020-07-26 15:12] krzysdz commented on #1183
The command `set DEBUG=myapp:* & npm start` is for Windows command prompt (CMD) and you're using PowerShell, which is not compatible with CMD.

In case of PowerShell you probably want to run this instead:
[code]

[2020-07-26 15:26] krzysdz commented on #1183
It looks like there is already a PR pending for the expressjs.com repo with the PowerShell command: expressjs/expressjs.com#1017

[2020-07-26 19:27] crandmck commented on #1166
Since I was there, maybe I can shed some light.  Caveat: I'm not a lawyer or legal expert by any means....

I agree, as @jonchurch said, I think the copyright applies to the website content... It's there because IBM/StrongLoop paid salaries for several people (including myself) to completely overhaul the documentation over the course of a couple months.  We started with what TJ wrote, which had so

[2020-07-26 20:20] #1168 closed, assigned to nobody

[2020-07-26 20:29] crandmck opened #1184 "Update contributing.md when expressjs/express PR #4210 lands"
When https://github.com/expressjs/express/pull/4210 lands, need to copy contributing.md from https://github.com/expressjs/express/blob/master/Contributing.md to https://github.com/expressjs/expressjs.com/blob/gh-pages/en/resources/contributing.md.

The original idea was that the file in the doc site would always stay in sync with the file in the expressjs/express repo, but I don't think this has h

[2020-07-26 21:20] crandmck commented on #1175
It looks like this is just due to the length of the menu titles in Russian.  I tried it locally by shortening some of them (since I don't speak Russian, my shortened titles might not make much sense):
![Screen Shot 2020-07-26 at 2 13 19 PM](https://user-images.githubusercontent.com/2925364/88489700-b0440a00-cf4a-11ea-9f1d-e151acf93654.png)

This is on Chrome/MacOS.

Feel free to open a PR to fix t

[2020-07-26 22:30] #1171 closed, assigned to nobody

[2020-07-27 02:41] gireeshpunathil commented on #1166
+1 to keeping it (Strongloop part in IBM/Strongloop) as is. My rational: It shows the genesis (through second token), while technically correct (through the first one)

[2020-07-27 02:49] gireeshpunathil commented on #1184
@crandmck - acknowledged!

[2020-07-27 03:06] #1125 closed, assigned to nobody

[2020-07-27 03:06] dougwilson commented on #1184
The automation from #1125 that @jonchurch added should take care of this when needed, in a similar fashion as updating the middleware docs. I just merged that PR, so I think that addresses the concern here. If not, we can re-open it, but it's no longer necessary to manually copy and paste the contents between the repo. I believe @jonchurch was also looking into doing this as a GitHub action as a n

[2020-07-27 03:06] #1184 closed, assigned to nobody

[2020-07-27 03:14] dougwilson commented on #1183
Thanks for bringing this to our attention @krzysdz . I just merged that PR, so should be good now 👍

[2020-07-27 03:15] #1183 closed, assigned to nobody

[2020-07-27 18:19] #1175 closed, assigned to nobody

[2020-07-28 00:49] dougwilson commented on #1155
@jonchurch yes, that is planned, but it is unfortunately not a silent change since the way folks add new mime types to express manipulates a global `mime` package reference...

We can clarify the API docs around this. We should really just update the docs to either (a) better describe what it does instead of saying "it does what this other thing does" or (b) make it point to `express.serveStatic.m

[2020-07-28 21:40] #1166 closed, assigned to nobody

[2020-07-29 07:01] crandmck commented on #1184
Awesome! Thanks @dougwilson ... Shows what happens when I drop out for a few months!  I didn't know that was in the works.   But IIUC, we do still need to run the script manually to sync the files from expressjs/express to this repo, right?  I know there was talk of setting up an Action -- I didn't miss that, too, did I? :-)   If not, then is there an issue for that, because it's a great idea...

[2020-07-31 06:43] crandmck commented on #463
Closed in favor of https://github.com/expressjs/express/issues/4343 and https://github.com/expressjs/expressjs.com/pull/1178

[2020-07-31 06:43] #463 closed, assigned to crandmck

[2020-08-01 06:06] crandmck commented on #1173
Yes, this is "as designed."  All the pages _except_ the API docs were translated, which is fairly typically for professional tech translation.  When IBM was doing the translation, I asked them to make an exception, but they declined.  Professional translation is spendy, so we just took what they were willing to donate.

[2020-08-01 06:06] #1173 closed, assigned to nobody

[2020-08-02 06:33] #1181 closed, assigned to nobody

[2020-08-08 08:38] rcruzper opened #1191 "Add express-actuator to Health Checks documentation"
I was reading the Health Check documentation and I noticed that there is only one library which adds default endpoints for health check. If you are agree I would like to create a PR to add my library [express-actuator](https://github.com/rcruzper/express-actuator) which adds default endpoints and it allows to add custom endpoints as well.

[2020-08-09 06:23] crandmck commented on #533
I no longer work at IBM, so I don't have any insight into their intentions.  Given that professional translation can be rather expensive, I wouldn't expect any _pro bono_ contributions along those lines from any company, but you never know!

[2020-08-16 19:34] crandmck commented on #1191
Since we already list 2 other third-party OS libraries (terminus and lightship), it seems like a reasonable suggestion, but I'd like to hear from others on the @expressjs/expressjs-com team.

However, I do think there's a general desire reduce info not DIRECTLY about Express throughout the site (even though it may be useful and _related_), to reduce maintenance work... that's the only reservation

[2020-08-16 19:41] dougwilson commented on #1191
My thoughts are the same @crandmck : the request makes sense based on the current content, but in the long term, the question for how to actually maintain these are questionable.

[2020-08-17 16:36] rcruzper commented on #1191
Hi, I have added a PR in case you think it is ok to push it to the repository.

[2020-08-19 20:19] jason-alouda commented on #1176
Hi, I'm currently working with Tina on this proposal. Where should we upload the examples on the Github repo https://github.com/expressjs/expressjs.com? The first example we want to upload is a simple Express.js RESTful API that can be easily deployed to Multi-Cloud environments via the Serverless Framework, one of the most popular open-source development tools. Thanks a lot!

[2020-08-19 20:54] cullylarson opened #1199 ""trust proxy" callback called multiple times on single request"
I set up something like this to troubleshoot an issue with "trust proxy":

[code]

I noticed that each time I access `req.ip` from somewhere in the app, `{ip}` from the "trust proxy" callback was being logged twice. The first was `127.0.0.1` and the second was my load balancer's IP address.

My express app is behind a load balancer and an nginx reverse proxy. So there are two IP addresses in the `

[2020-08-19 21:04] dougwilson commented on #1199
I am mobile, so the best I can put into a quick response until perhaps tomorrow is that yes, you are seeing the expected behavior, and yes, using a custom function is underdocumented on our site.

Most use cases (including yours) do not need the usage of a custom function, which is likely why the underdocumentation has not been raised before. In your case, you need to pass two IPs as the config: t

[2020-08-19 22:37] cullylarson commented on #1199
I'm trying to come up with a solution that doesn't require configuration. I could provide the IP of the loadbalancer but I would have to add extra config for that. Also, if the IP ever changes, I'll have to change the config. I think I'm safe in assuming that if one of the IPs is localhost, I'm behind a proxy.

Is it safe to use that second parameter to the callback (i.e. the interface won't chang

[2020-08-19 22:45] dougwilson commented on #1199
We don't change API without a major version bump. If something is accidentally undocumented or untested, I would encourage you to contribute tests and docs around untested or undocumented features you are care about. That would prevent another contributor from accidentally changing the behavior, if it is untested.

As for your issue, it depends on how your loadbalancer is set up. If it replaces th

[2020-08-20 00:53] dougwilson commented on #1176
/cc @crandmck

[2020-08-20 00:53] mrmedicine opened #1200 "BLM banner"
I would personally appreciate it if express (and others) would leave politics from the website.

The banner in question:

"Black Lives Matter.
Support the Equal Justice Initiative."

[2020-08-21 20:33] maximillianfx commented on #1146
Hello, @SimplyComplexable are you working on this? I can help with this if possible 😄

[2020-08-30 03:10] bisbaldk opened #1204 "Where can I find documentation of res.header()?"
Saw this method in a video where the author implements cors,

`res.header('Access-Control-Allow-Origin, '*')`,

however, I couldn't find any documentation of it.. Any idea?

[2020-08-30 12:40] krzysdz commented on #1204
It's an alias to [`res.set(field [, value])`](https://expressjs.com/en/4x/api.html#res.set).

See:
https://github.com/expressjs/expressjs.com/blob/a4745ec98272a22754534d3a3b74312d5993f80a/_includes/api/en/4x/res-set.md#L16

[2020-08-30 22:38] zejunli commented on #1204
Thank you!!

[2020-08-30 22:39] #1204 closed, assigned to nobody

[2020-09-16 13:11] sk1nzz opened #1206 "Docs & design overhaul"
Hi there. It's 2020 and Express remains the most popular Node framework. However, we still have an obsolete docs site that doesn't meet today's design trends.

I think it's time to:

- rebuild the docs site with modern static site frameworks like Gatsby;
- update the Express logo and implement a design system for the docs.

Your opinions?

[2020-09-17 12:55] GenildoLopes opened #1207 "Problem"
Please remove that 'Black Lives Matter' bar from the website

[2020-09-21 14:46] rodion-arr commented on #1206
Hi, I assume core team is focused now on pushing next major `express` version. If you have something to propose opening a PR is more than welcome!

[2020-10-01 17:04] yaayyaaayy opened #1210 "Приложения для IoT к node.js"

[2020-10-01 17:06] dougwilson commented on #1210
https://github.com/nodejs/help

[2020-10-01 17:06] #1210 closed, assigned to nobody

[2020-10-09 10:31] ezehlivinus opened #1213 "Add Installation doc for express 5.0 alpha.8"
Hi! The migration command for the installation of Expressjs 5.0.0 alpha needs to be changed on the [documentation](https://expressjs.com/en/guide/migrating-5.html) to alpha.8 latest release, instead of alpha.1 earlier version.

This will help developers who will want to preview the alpha.8, the current release.

[2020-10-15 04:50] crandmck commented on #1206
PRs always welcome, of course, but this proposal would be a significant project.  Does Gatsby have a GitHub integration?  That's one of the main advantages of Jekyll.

[2020-10-15 04:58] crandmck commented on #1176
The only place we have for example code is https://github.com/expressjs/express/tree/master/examples, but if Doug directed you to the website, here's what I'd suggest: Create the example in your own standalone repo and then open a doc PR that explains the code, with snippets, links to the repo, etc.  This page currently links to the examples in the code repo, so it would be the logical place to ad

[2020-10-20 07:07] hyfydistro opened #1214 "express-generator uses deprecated Jade as dependencies"
I encountered a problem as what the default JavaScript template engine is used - a deprecated Jade. Jade is no longer available in NPM search. Is there someone that can fix / update this issue? I'm fairly new to JavaScript.

What I found in my GitBash terminal.
[code]
[code]

There are two other deprecated programs (`constantinople` and  `transformers`) which I'm not sure of. Can they be addressed

[2020-10-20 19:05] rodion-arr commented on #1214
Please refer to https://github.com/expressjs/generator/issues/141
Long story short - there will be no default template engine

[2020-10-20 19:05] #1214 closed, assigned to nobody

[2020-10-21 12:44] Beekiper opened #1215 "Express clustering with express-power"
Hello everyone!

We just released a MIT-licensed package for effortless Express clustering.

I was wondering if you would like to add a mention to our package in your documentation, since most express users don't even know what clustering is, but would be nice to start using it widely for increased performance.

https://github.com/Honeyside/express-power

[2020-10-21 14:08] rodion-arr commented on #1215
@dougwilson I assume this should be transferred to expressjs.com?

[2020-10-21 19:00] dougwilson commented on #1215
Yep 👍

[2020-10-27 12:57] gquittet opened #1217 "Add @gquittet/graceful-server in the Health Checks and Graceful Shutdown documentation"
👋 Hello everyone

Can I add a suggestion for https://github.com/gquittet/graceful-server?

## Why Graceful Server is useful
- Graceful Server is keeping track of all open connections and signaling them that the server is shutting down.
- Graceful Server is listening system events to safely close your API on interruption to avoid to keep opened ghost connections on your data sources.
- It is coming

[2020-10-28 13:58] gquittet commented on #1217
If you're interested, I've run some benchmarks for the Fastify framework.

You can find the results here : https://github.com/fastify/fastify/pull/2654#issuecomment-717941068

[2020-11-05 22:50] ghost opened #1223 "Subclassing express.router"
I'm using express version 4.17.1 and was wondering if I can subclass express.router? I was trying to ensure the request object passed to all the routes is of a custom type

[2020-11-05 22:54] #1223 closed, assigned to nobody

[2020-11-07 10:22] Spark3000 opened #1224 "JetBrains IDE complains that .json() takes no arguments."
Is this an issue with express definitions?

![Screenshot 2020-11-07 at 12 21 44](https://user-images.githubusercontent.com/4939629/98438583-dd7c8880-20f3-11eb-9037-404eb521f088.png)

[2020-11-12 00:49] claytongulick opened #1225 "Community discussion on avoiding political issues"
Would like to initiate a conversation on whether the community would like to see Express adopt a policy of avoiding political issues publicly (such as the current banner on the home page).

Contributors and users come from diverse backgrounds, and in the interest of being an inclusive and welcoming community, does it makes sense to avoid endorsing specific political causes?

The purpose of this is

[2020-11-12 00:54] dougwilson commented on #1225
Hi @claytongulick thanks for opening this. I think there is a misunderstanding, as we are supporting a human rights issue, not a political issue. You can learn more on the linked site.

Of course, ultimately to use Express.js, you would have to use Node.js, which includes a banner around a similar issue, so unless Node.js drops that, you cannot actually avoid it when using Express.js in your proje

[2020-11-12 00:54] #1225 closed, assigned to nobody

[2020-11-12 01:49] claytongulick commented on #1225
@dougwilson I appreciate the sentiment but I think this is a fair issue to collect community feedback on.

Many political issues are also presented as human rights issues, for example access to health care, rent control, planned pregnancy, etc...

Should there also be banners in support of those issues?

I recommend reopening the issue to collect community feedback.

Perhaps there is a less intrus

[2020-11-12 01:56] dougwilson commented on #1225
Hi @claytongulick , the issue is not open for community feedback at this time. The Express Technical Committee oversees the Express.js project and is the final decision making authority. The entire TC has discussed this topic and wishes to display this banner, just has the Node.js project itself has done.

[2020-11-29 19:16] womcauliff opened #1227 "Documenting req.route in relation to route handlers vs middleware"
This request for docs comes from expressjs/express#4193, where the person is trying to understanding why `req.route` is `undefined`.

The answer in response wrote:

I encountered a similar error to the person who raised the issue, and although I understand the high-level differences between middleware and a route handler, it hadn't occurred to me that the shape of the `req` object is different wit

[2020-12-03 15:32] gushogg-blake opened #1228 "Passing array of middlewares as first/only arg to use()"
In the [docs](https://expressjs.com/en/4x/api.html#middleware-callback-function-examples) it says "If you pass an array of middleware as the first or only middleware parameters, then you must specify the mount path", but it seems to work without specifying a mount point and this looks like it might be a fix for it: https://github.com/expressjs/express/blob/4.x/lib/router/index.js#L433.  Are the do

[2020-12-03 15:39] dougwilson commented on #1228
Hi @user896724 that is correct, passing an array as the only item (i.e. `app.use([mw1, mw2])` does work just fine, and looks like an issue with the documentation.

[2020-12-04 23:46] lobsterkatie opened #1229 "Error/issues in `req.originalUrl` docs"
In the `req.originalUrl` docs ([here](https://expressjs.com/en/api.html#req.originalUrl)), it says

That's not true, however, if there's a querystring in the URL. As shown in the example right before the above sentence, `originalUrl` retains the query string, whereas `path` does not (see the example [here](https://expressjs.com/en/api.html#req.path)).

It's also not clear why this is being called

[2020-12-19 02:11] jeanlucaslima commented on #1123
Is this still open?

[2021-01-16 13:44] zaiinhs opened #1237 "(i18n) translate into Indonesian"
let's translate it into Indonesian, so our friends in Indonesia if you want to use it are easier to understand. Thankyou

[2021-01-16 14:49] rodion-arr commented on #1237
Hey @zaiinhs!

In case you would like to kick-off initial translations for proposed language - here are some guides on how to start - https://github.com/expressjs/expressjs.com/blob/gh-pages/CONTRIBUTING.md#contributing-translations

[2021-01-26 20:57] jorydotcom opened #1240 "OpenJS - upcoming conference news"
Wanted to share this FYI out to the Express.js community to let ya’ll know that the OpenJS Foundation has opened its [call for speakers](https://openjsf.org/announcement/2021/01/11/openjs-world-2021-save-the-date/) for the upcoming virtual OpenJS World event on 9 June 2021. We would love to make sure the project is well represented in the conference content! If anyone is interested and has more qu

[2021-02-13 04:03] #852 closed, assigned to nobody

[2021-02-13 04:07] #1229 closed, assigned to nobody

[2021-02-19 19:18] #1228 closed, assigned to nobody

[2021-02-23 15:37] arnaudoff commented on #1227
Same here. Please update the docs, I also wasted a lot of time trying to figure out what's wrong..

[2021-02-23 17:48] jvhdiscord opened #1247 "Application goes offline all the time"
I'm hosting a Discord bot on replit using this module. It creates a webserver which gets pinged by uptimerobot so it doesn't go offline. However, it does go offline often, and for a long time. I'm hosting 2 other bots the same way, but they're written in python. Even the code that's used to make the webserver is the same in the python bots (keep_alive.py and keepalive() in main file) but they *nev

[2021-03-16 14:03] edlongman opened #1252 "References to nodesecurity.io are broken"
It seems that the (https://nodesecurity.io) domain is not working anymore, it should redirect to npmjs.com

Links on the following page are broken: https://github.com/expressjs/expressjs.com/blob/gh-pages/en/advanced/security-updates.md
As well as several others

[2021-03-16 18:33] rodion-arr commented on #1252
Hi, I will check. Thank you

[2021-03-17 03:48] #1252 closed, assigned to nobody

[2021-04-02 14:21] rosald opened #1253 "api referece -- express.static"
in property table , it says 'NOTE: express.static always sends weak ETags.'
the truth is , express.static default sends weak ETags , and can be changed by set to false.

in dotfiles chapter , is says 'NOTE: With the default value, it will not ignore files in a directory that begins with a dot.'
the truth is , With the default value, it will ignore files in a directory that begins with a dot.

[2021-04-03 00:17] dougwilson commented on #1253
Hi @rosald thanks for the feedback.

I am going to assume you are referring to the following table: http://expressjs.com/en/4x/api.html#express.static (if not, please provide the specific table you are referring to).

For the Etag comment, the note is regarding the fact that you can change etags in Express to be strong or weak, but express.static will be weak, regardless of that setting. The note

[2021-04-03 00:17] #1253 closed

[2021-04-05 19:15] #1191 closed, assigned to nobody

[2021-04-18 22:13] #1155 closed, assigned to nobody

[2021-04-29 03:57] thinety opened #1259 "`req.ips` value is different from the documented one"
According to [documentation](https://expressjs.com/en/api.html#req.ips), `req.ips` is

My understanding is that this array should contain all IPs up to, but not including, the first trusted one. Although it is not explicit in the documentation, this excerpt endorses my speculation:

The problem is that this expected behavior is not what actually happens. In the [getter for `req.ips`](https://githu

[2021-04-29 03:59] dougwilson commented on #1259
Thanks for the report on the issue in our documentation! I have moved you report over to the documentation repository so we can track fixing the documentation. You are always welcome to make a PR to fix the documentation if you're willing, otherwise we will make sure the text is updated to better reflect the design.

[2021-04-29 04:08] thinety commented on #1259
Wouldn't this be a software bug, instead of a documentation one? For me, the documented behavior makes much more sense than the `proxyaddr.all` one.

[2021-04-29 04:11] dougwilson commented on #1259
Hi @thinety it certainly could be, though it is more often than not that the documentation is wrong, especially as the majority of it was written by a third-party company that was hired to write it. Of course, suddenly changing the behavior would cause all types of breakage for the code written on express that expects the current behavior. If you believe this is some regression in the code, if you

[2021-04-29 04:18] thinety commented on #1259
Oh yes, I see. I don't think it is a regression (git blame shows commits from 7 years ago), so in that case it altering this behavior as a bug fix would probably break more core than fix.

[2021-05-04 10:41] fadhil3310 commented on #1237
Hey @zaiinhs, how far has the translation progressed? I'd like to help if you want

[2021-06-05 17:03] YashKumarVerma opened #1266 "[question] Why do examples use var in place of const or let ?"
why do the examples showcase a practice that would be flagged by any linter or editor?

![https://i.imgur.com/vU7uSib.png](https://i.imgur.com/vU7uSib.png)
example:http://expressjs.com/en/resources/middleware/multer.html

[2021-06-05 17:08] dougwilson commented on #1266
Hi @YashKumarVerma for the middleware pages on this site it is a copy from that middleware. There is a link at the top to get to the original repo where you can ask 👍

[2021-06-05 17:08] #1266 closed, assigned to nobody

[2021-06-05 17:15] YashKumarVerma commented on #1266
Thank you for the detailed info, cheers !

[2021-06-14 06:29] hardikhari96 opened #1269 "API ROUTE GROUP PREFIX || LIKE LARAVEL"
Can we create Group , i tried all soultions from stack overflow but not woking properly , if we could get in express its better

[2021-06-25 03:45] pabloa-aluna opened #1272 "tr"

[2021-06-25 03:47] aravindvnair99 commented on #1272
@pabloa-aluna Please don't make empty issue trackers.

[2021-06-25 03:47] #1272 closed, assigned to nobody

[2021-06-28 21:26] santiagofn commented on #1214
Hi @rodion-arr, sorry for insisting on this but I'm not really sure this is a duplicate. expressjs/generator#141 seems like a larger debate about which default template engine should be used but there is no decision being made (and no hurry) about solving these deps vulnerabilities.

[2021-07-02 02:17] franrolando opened #1274 "Improvement: Methods PUT, POST, DELETE body validation"
Would be a good idea to implement AJV (Schema validation) to those HTTP methods that uses body in his request.
For example

app.post('/myRoute', schema, function (req,res) {
    schema.validate(req.body);
    ....
    ....
})

[2021-07-02 02:20] dougwilson commented on #1274
As there are many different types of schema systems, this is left up to middleware. Here is one for AJV: https://github.com/fatmatto/express-ajv

[2021-07-02 02:20] #1274 closed, assigned to nobody

[2021-07-06 01:56] mbodm opened #1275 "Documentation of Express 4.x seems incorrect, in regards to "sendStatus()" function."
Hey,

just wanna let you know this, even when it´s totally minor:

**Documentation**

In your documentation about `res.sendStatus()` in Express 4.x you write:

---

![grafik](https://user-images.githubusercontent.com/19464647/124530164-4693d780-de0c-11eb-9dfb-dced5386b0ec.png)

---

You say (in the code comments above) `res.sendStatus()` is equivalent to the code in the comments.

**Test:**

So i

[2021-08-04 14:37] mamaev37 opened #1278 "app.get sendFile hostname domain express.js ?"
this.app.get('/', (req, res) =>{
     res.sendFile(__dirname + './www/index.html'); // use hostname domain ?
});

Hello, how to do this correctly ? connect to a domain instead of a localhost ?

[2021-08-04 15:36] #1278 closed

[2021-08-05 08:23] TheProgrammer21 opened #1280 "Passing request parameters to router"
Related to a question of another user I found on StackOverflow:
https://stackoverflow.com/questions/34392834/express-js-how-can-i-pass-a-url-param-from-the-main-router-to-another-router-m

Is the only possibility to pass a request parameter to another router, to add a custom middleware function?
It would be nice if it could be passed automatically, or is there a reason why this doesn't happen? I d

[2021-08-05 13:43] #1280 closed

[2021-08-11 15:59] benmccann opened #1281 "`req.path` docs don't specify if it's the encoded or decoded path"
https://expressjs.com/en/api.html#req.path

[2021-08-11 16:02] dougwilson commented on #1281
I will have to take a look to verify, but it shoupd be whatever the client sent, as there is no encoding or decoding being done on it as far as I know.

[2021-08-11 16:12] dougwilson commented on #1281
Yep, just double-checked and there is no normalization being done, which is the default expectation. Nothing is specified there as Express doesn't do anything to it (encoding or decoding).

[2021-08-11 16:12] #1281 closed, assigned to nobody

[2021-08-11 16:14] benmccann commented on #1281
I just tested and came to the same conclusion. I still think this would be good to document.

According to https://masteringjs.io/tutorials/express/req Express does parse the query string parameters, but does not parse the body

The fact that some things are parsed and others are not would be impossible to figure out from the docs today

[2021-08-11 16:16] dougwilson commented on #1281
Unfortunately we don't control that website. The default expectation is that things are not altered from what they were sent as unless specified otherwise.

[2021-08-11 16:24] benmccann commented on #1281
Should we at least update the docs for https://expressjs.com/en/api.html#req.query then? Because my understanding from the other website is that the query is parsed, but the Express deviates from the "default" expectation without documenting it (unless you're saying the other website is incorrect. It would be best if I could read the Express docs to figure out what to expect rather than relying on

[2021-08-11 16:26] dougwilson commented on #1281
To be clear: `req.path` does parse the `req.url` value and output the path part. Parsing the URL is not the same as decoding sequences that were encoding using URL percent-encoding, though. Items are encoding with URL percent-encoding such that they do no interfere with the parsing of a URL. Automatic decoding of URL percent-encoded entries in a URL would cause issues such as `%2e` becoming a `.`

[2021-08-11 19:04] #1275 closed, assigned to nobody

[2021-08-11 19:05] dougwilson commented on #1275
Thank you. The examples are indeed misleading. I removed them and added some better text around what it does.

[2021-08-12 09:27] mbodm commented on #1275
Thx a lot! Your work is very appreciated!

[2021-09-04 09:50] martabacc commented on #1237
hi @zaiinhs , need a hand? How do I contribute?

[2021-09-06 05:16] iusx opened #1284 ""Docs zh-cn":guide/routing The second sentence method is wrong"
This question was merged and passed through a fork request two days ago. It was my negligence that caused this problem. I'm very sorry.

**URI:** https://expressjs.com/zh-cn/guide/routing.html
**Error Img:** https://gitee.com/analysis-of-river-snow/drawing-bed/raw/master/20210906131506.png

Sorry, I wrote a wrong method when organizing my notes:

should be:

Please forgive my negligence,Hope you c

[2021-09-06 09:28] rodion-arr commented on #1284
Hey @kunlunsiqu! Please submit another PR with fix

[2021-09-06 09:29] rodion-arr commented on #1284
Related to #1283

[2021-09-06 13:25] #1284 closed, assigned to nobody

[2021-10-01 19:29] cjbarth opened #1288 "`req.res` is undocumented"
It appears that `req.res` is an undocumented [feature](https://github.com/expressjs/express/blob/master/lib/middleware/init.js#L31). It seems it is very well supported and even "documented" in a GitHub [issue](https://github.com/expressjs/express/issues/1830#issuecomment-813635627). Can/should this be added to the official documentation?

[2021-10-01 20:11] dougwilson commented on #1000
Hello all,

While I know the version number still appears in the RunKit embed window, there still is no way to change this from the expressjs.com end in the embed. I'm going to close this as there just isn't any action we can take on our side for this issue. If there ever becomes an option to toggle this behavior, we can revisit the issue.

[2021-10-01 20:11] #1000 closed, assigned to nobody

[2021-10-01 20:14] dougwilson commented on #1213
This was fixed in PR #1212

[2021-10-01 20:14] #1213 closed, assigned to nobody

[2021-10-01 20:16] dougwilson commented on #983
This was resolved by PR #991

[2021-10-01 20:16] #983 closed, assigned to nobody

[2021-10-23 16:31] siddhantdixit opened #1290 "URL Not Working - Comparing JavaScript Templating Engines: Jade, Mustache, Dust and More"
https://expressjs.com/en/guide/using-template-engines.html

Comparing JavaScript Templating Engines: Jade, Mustache, Dust and More

https://github.com/expressjs/expressjs.com/blob/57d0dc447717bb5e3f24bf44dfc9c9923ac4f20f/en/guide/using-template-engines.md?plain=1#L20

[2021-11-02 08:08] leonardo-czanoch opened #1292 "local setup failed with LoadError of rexml"
on Windows 10, I installed ruby and in windows 10's command line tool I use gem to install bundle and use bundle as described in the readme file.
The following is the error:

[code]

Any ideas how to fix this?

[2021-11-21 05:22] ejcheng commented on #1288
This should probably be added to official documentation somewhere, but where would it go?
Perhaps here?
https://expressjs.com/en/guide/writing-middleware.html#:~:text=Middleware%20functions%20are%20functions%20that%20have%20access%20to,invoked%2C%20executes%20the%20middleware%20succeeding%20the%20current%20middleware.

[2021-11-21 17:55] dougwilson commented on #1288
Looks like we got a PR #1291 to add the missing docs 👍

[2021-11-21 19:22] dougwilson commented on #1292
Hi @leonardo-czanoch I'm sorry you are having trouble. I'm not very familiar with jekyll, and certainly not running it on Windows. I am hoping someone will come by to help you out 👍

[2021-11-21 20:04] aravindvnair99 commented on #1292
@leonardo-czanoch try `bundle add webrick` and retry `bundle exec jekyll serve`

[2021-11-22 19:49] #1288 closed, assigned to nobody

[2021-11-27 21:57] aravindvnair99 commented on #1292
Hey @leonardo-czanoch! Any updates? Was the issue resolved with https://github.com/expressjs/expressjs.com/issues/1292#issuecomment-974886102 or do you need any further help?

[2021-11-30 09:10] leonardo-czanoch commented on #1292
Hey @aravindvnair99 , sorry for the late response.
It's too slow to view the document on official expressjs website.
So I wanted to setup a local server hoping to check the documents more quickly.

I tried that solution https://github.com/expressjs/expressjs.com/issues/1292#issuecomment-974886102 several times, and unfortunately, it didn't work.
Below is the error message.

[code]

[2021-12-10 20:52] xjamundx opened #1313 "[Documentation] [5.x] New Async Functionality Missing From Docs"
The API docs here:
https://expressjs.com/en/5x/api.html

And the migration guide:
https://expressjs.com/en/guide/migrating-5.html

Both currently fail to mention the killer feature of express 5, which is async/promise support middleware and routes.

Some of this might be https://github.com/expressjs/express/pull/4321 didn't ship yet, but either way, happy to start a PR with documentation changes r

[2021-12-11 09:08] mgncodes commented on #1313
Hi, I would like to contribute to this issue. Could you please assign this to me?
Thanks!

[2021-12-12 16:40] masud563 opened #1311 "Commas are misplaced in function argument in whole documentation of 4.x and 5.x, for example: res.download(path [, filename] [, options] [, fn])"
All the function arguments have mistyped commas. It can pose a great confusion for the beginners. So it must be corrected as soon as possible.

[2021-12-12 16:42] dougwilson commented on #1311
We follow the same doc convention of Node.js itself: https://nodejs.org/dist/latest-v16.x/docs/api/http.html

[2021-12-12 16:42] #1311 closed, assigned to nobody

[2021-12-12 16:45] masud563 commented on #1311
Is it a convention or mistake? @dougwilson

[2021-12-12 16:46] dougwilson commented on #1311
It is the same position as all the commas in Node.js documentation, so not a mistake, unless you are saying that the Node.js documentation is in mistake?

[2021-12-12 16:47] masud563 commented on #1311
I was just asking that if it was intentional or not?

[2021-12-12 16:48] dougwilson commented on #1311
We intentionally follow the same pattern as the Node.js documentation.

[2021-12-22 14:00] anyamiletic opened #1314 "[Documentation] broken link on Performance best practices page"
broken link is located in the [advanced section](expressjs.com/en/advanced/best-practice-performance.md) of the docs (line 86):

[code]

links that are also broken:
[Asynchronous Error Handling in Express with Promises, Generators and ES7](https://strongloop.com/strongblog/async-error-handling-expressjs-es7-promises-generators/#cleaner-code-with-generators)
[Promises in Node.js with Q – An Alterna

[2022-01-02 23:06] euoia commented on #1313
For anyone following this issue, the documentation is in the expressjs.com repository: https://github.com/expressjs/expressjs.com

The API docs are here:
https://github.com/expressjs/expressjs.com/tree/gh-pages/_includes/api/en/5x

The migration guide is here:
https://github.com/expressjs/expressjs.com/blob/gh-pages/en/guide/migrating-5.md

[2022-01-03 03:52] euoia commented on #1313
I have made a start on a pull request to update the documentation: https://github.com/expressjs/expressjs.com/pull/1315

[2022-01-20 19:11] lextm opened #1318 "Hello world example contains misleading binding information"
In `hello-world.md`, the code snippet below
[code]
actually binds to all available network interfaces, based on [documentation](https://nodejs.org/api/net.html#serverlistenport-host-backlog-callback) and testing.

Therefore, claiming "Example app listening at http://localhost:xxxx" is then clearly misleading. If the goal is to listen only at localhost, the correct code should be,

[code]

[2022-01-20 19:22] dougwilson commented on #1318
Hello, and thank you for your issue. The console log is just there so give you a link to access it; it is not making any statements about what the bindings are. Infact, localhost is a DNS name that may resolve to 127.0.0.1 or ::1 depending on various factors. Unfortunately the change you suggest does not work on all environments, as Node.js and browsers do not always agree on which to use under du

[2022-01-20 19:22] #1318 closed, assigned to nobody

[2022-01-21 01:31] lextm commented on #1318
You have the last word, but tons of other tools/frameworks decide to bind to localhost (`ng serve` for Angular, Gunicorn for Python, or Kestrel for .NET Core), so when the sample code binds to `[::]` (and 0.0.0.0), some users might be surprised.

I am also curious on how often "Node.js and browsers do not always agree on which to use under dual stack", because anyway the two resolve localhost usin

[2022-01-21 01:40] dougwilson commented on #1318
If you want to discuss how Node.js listens by default, you should be opening an issue with Node.js, not here.

[2022-02-03 22:12] JoaoP-Vieira opened #1321 "[Suggestion] Outdated translations indicator"
It's important to maintain a good and updated translation of documentation. But how can people know what is updated and what is not in the translation of their language? I think it's a good idea to show this to people, because this can motivate people to update the translation and contribute for them.

A message saying: _"This document may be outdated from the English documentation. For the latest

[2022-02-03 22:33] dougwilson commented on #1321
Thanks, I don't see anything wrong with that. If someone wants to put that together and also update it as the English part changes, we'd be happy to acccept. Unfortunately we don't have our translation service any longer, so we need volunteers to do this, which is why the generic banner was put up (since most folks contributing only speak English).

[2022-02-13 20:56] oyedejioyewole commented on #1292
I got the same issue too. I ran the commands from a PowerShell 7 terminal, but nothing changed

[code]
I got them from this post on [StackOverflow](https://stackoverflow.com/questions/65989040/bundle-exec-jekyll-serve-cannot-load-such-file)

I hope this issue gets fixed soon.

Edit: I suspect it should be from `jekyll` itself and not the repository

[2022-02-15 02:50] #470 closed, assigned to nobody

[2022-02-19 03:08] #1313 closed, assigned to nobody

[2022-02-19 03:09] dougwilson commented on #1314
The strongloop blog has since been fixed and links are working again 👍

[2022-02-19 03:09] #1314 closed, assigned to nobody

[2022-02-19 13:51] crisz opened #1324 "Switch documentation page to English always leads to home page"
Hello,
visiting the documentation with a browser localized in Italian, the following banner appears:

<img width="836" alt="image" src="https://user-images.githubusercontent.com/8181922/154803367-6e6e7424-74e5-47fa-8cea-f299051dae91.png">

However, the link "documentation in English" always leads to the following page: https://expressjs.com/, while it would be expected that the currently visualize

[2022-03-13 09:18] GuitarHero1969 opened #1328 "Please get rid of the BLM virtue signalling"
The express home page has a blm header. BLM are a racist domestic terrorist organisation. Politics should have no place in Silicon Valley or web development.

[2022-03-17 00:22] jafrank88 opened #1330 "Possible gap in documentation re res.json and res.jsonp"
The documentation for 4.x, under res.jsonp() says, "res.jsonp([body])
Sends a JSON response with JSONP support. This method is identical to res.json(), except that it opts-in to JSONP callback support."

It appears that part of res.jsonp involves changing the content-type from 'application/json' to 'text/javascript'. I understand why this happens (RFC JSON Schema), but is there a setting or other

[2022-03-17 00:33] dougwilson commented on #1330
Hi, thanks for opening this issue. I have moved it to the website repo, since your issue it about documentation. Please feel free to open a pull request with a fix you feel is appropriate if you are so inclined, otherwise we'll get the docs updated.

[2022-03-17 00:39] jafrank88 commented on #1330
Thank you so much! Sorry to have put it in the wrong place. The client is trying to get JSON, but wants it sent back via JSONP but with content-type 'application/json' and I am just trying to figure out if it is possible in Express, or whether I should be jumping out to Node. I don't have a suggestion for how to improve the documentation because I am not sure what other differences there are betwe

[2022-03-17 00:41] dougwilson commented on #1330
Hi, not it is not possible to change the content type, as there is no other acceptable type a web browser will accept for jsonp. You can customize the type for pure json responses, though.

[2022-03-22 03:04] dougwilson commented on #1324
Any of the above contributions would be most welcome!

[2022-05-17 12:34] MrKbdt opened #1339 "ExpressJS Website: 404 File Not Found Errors"
this link
https://expressjs.com/en/resources/Triager-Guide.md
on this page
https://expressjs.com/en/resources/contributing.html
results in 404 File not found

also producing 404:
https://expressjs.com/en/resources/Code-Of-Conduct.md

[2022-05-18 01:48] ejcheng commented on #1339
@dougwilson Are those files supposed to be on the website? I'm under the impression that they are for people willing to contribute to Express on GitHub, and it wouldn't make sense to put it on a general documentation site. Or is this a bug? Not sure

[2022-05-18 16:30] dougwilson commented on #1339
So there is a process that copies to contents of certain files in the github repo on to the website. The 404 links should likely not be on the website directly, but rather the process should be fixed to make the links direct to the express repo.

[2022-05-18 17:25] ejcheng commented on #1339
Ah, I see. Thanks for the clarification!

[2022-05-22 00:50] #1339 closed, assigned to nobody

[2022-05-23 05:41] Ayushi15-Vamne commented on #469
Hey @crandmck,
If it's unassigned then I would love to contribute. Can you please assign it to me?
Thanks

[2022-06-06 17:39] srkds opened #1345 "Typo: 'prototypes' instead of 'protoypes'"
https://github.com/expressjs/expressjs.com/blob/78a9506737db7e29acc756e5857420b4cd8e6369/en/guide/overriding-express-api.md?plain=1#L13

Solution:
[code]

[2022-06-16 22:08] #1345 closed, assigned to nobody

[2022-06-20 05:17] Mosaab-Emam commented on #1290
@dougwilson
@aravindvnair99

This issue should be closed.

[2022-06-20 05:21] aravindvnair99 commented on #1290
Thanks @Mosaab-Emam! Closing as this issue no longer exists.

Thanks for reporting @siddhantdixit!

[2022-07-06 21:53] y-liang opened #1350 "Adjust icon size when screen width is under 900px"
URL: http://expressjs.com/en/resources/middleware/session.html

Possible solution:
Change img tags' width in the CSS
[code]

Screenshots:
<img width="927" alt="image" src="https://user-images.githubusercontent.com/45440333/177649020-effb6143-60c6-45f0-bc04-89d8f81f0bc9.png">
<img width="934" alt="image" src="https://user-images.githubusercontent.com/45440333/177648916-701a8480-b7ad-4b8c-ae58-de978

[2022-07-09 22:33] #1350 closed, assigned to nobody

[2022-07-11 07:19] Durairaj opened #1352 "req.param() is missing documentation"
http://expressjs.com/en/5x/api.html#req.param

req.param() is missing documentation. I will try to create PR for this sooner.

[2022-07-11 11:29] dougwilson commented on #1352
The `req.param` API does not exist in 5.x.

[2022-07-11 11:35] Durairaj commented on #1352
![image](https://user-images.githubusercontent.com/201747/178255605-6ae31cfd-c769-49f6-ad88-d1f6d9c09960.png)

I created this because the menu still show's that one. Not a big issue, but should have mention this has been removed or from the menu

[2022-07-11 11:36] dougwilson commented on #1352
Ah, gotcha. Yes, it is a bug to still be listed in the menu 😀

[2022-07-25 21:47] #1352 closed, assigned to nobody

[2022-08-26 09:23] leonardo-czanoch commented on #1292
@aravindvnair99 , @dougwilson  FYI.
I finally found a solution!!!!!
It requires some imagination for people like me who doesn't know ruby stack at all.

Especially thanks to @OyewoleOyedeji for the [StackOverflow](https://stackoverflow.com/questions/65989040/bundle-exec-jekyll-serve-cannot-load-such-file) , I think it has something to do with the **versions of ruby, gem, bundle and libraries**.
An